### Connecting to Postgresql

In [1]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /opt/anaconda3/lib/python3.12/site-packages (2.0.34)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/anaconda3/lib/python3.12/site-packages (from sqlalchemy) (4.11.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in /opt/anaconda3/lib/python3.12/site-packages (2.9.10)
Note: you may need to restart the kernel to use updated packages.

In [3]:
%load_ext sql
from sqlalchemy import create_engine
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

In [4]:
pip install ipython-sql

Requirement already satisfied: ipython-sql in /opt/anaconda3/lib/python3.12/site-packages (0.5.0)
Requirement already satisfied: prettytable in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (3.12.0)
Requirement already satisfied: ipython in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (8.27.0)
Requirement already satisfied: sqlalchemy>=2.0 in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (2.0.34)
Requirement already satisfied: sqlparse in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/anaconda3/lib/python3.12/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.11.0)
Requirement already satisfied: decorator in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5.13.0 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: pexpect>4.3 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (4.8.0)
Requirement already satisfied: wcwidth in /opt/anaconda3/lib/python3.12/site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /opt/anaconda3/lib/python3.12/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /opt/anaconda3/lib/python3.12/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing in /opt/anaconda3/lib/python3.12/site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in /opt/anaconda3/lib/python3.12/site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in /opt/anaconda3/lib/python3.12/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Note: you may need to restart the kernel to use updated packages.

In [5]:
%sql postgresql://postgres:@localhost:5432/customerdb

### Group customers by income group and calculate basic statistics for each group.

In [9]:
%%sql SELECT 
    i.income_group_desc AS income_group,
    COUNT(c.customer_identifier) AS Total_Customers,
    ROUND(AVG(c.age)) AS Avg_Age,
    ROUND(AVG(c.number_of_accounts)) AS Avg_Number_of_Accounts
FROM 
    customers c
JOIN 
    income_group i
ON 
    c.income_group_code = i.income_group_code
GROUP BY 
    i.income_group_desc, i.income_group_code
ORDER BY 
    i.income_group_code

 * postgresql://postgres:***@localhost:5432/customerdb
22 rows affected.

[('NOT SUPPLIED', 2, Decimal('31'), Decimal('5')),
 ('R 0 - 499', 62, Decimal('36'), Decimal('8')),
 ('R500 - 999', 30, Decimal('43'), Decimal('7')),
 ('R1,000 - 1,999', 96, Decimal('54'), Decimal('7')),
 ('R2,000 - 2,999', 82, Decimal('47'), Decimal('8')),
 ('R3,000 - 3,999', 150, Decimal('40'), Decimal('8')),
 ('R4,000 - 4,999', 438, Decimal('37'), Decimal('7')),
 ('R5,000 - 5,999', 373, Decimal('36'), Decimal('8')),
 ('R6,000 - 6,999', 357, Decimal('36'), Decimal('8')),
 ('R7,000 - 7,999', 331, Decimal('36'), Decimal('9')),
 ('R8,000 - 8,999', 305, Decimal('36'), Decimal('9')),
 ('R9,000 - 9,999', 200, Decimal('37'), Decimal('9')),
 ('R10,000 - 11,999', 438, Decimal('37'), Decimal('9')),
 ('R12,000 - 14,999', 459, Decimal('38'), Decimal('10')),
 ('R15,000 - 19,999', 597, Decimal('36'), Decimal('10')),
 ('R20,000 - 24,999', 451, Decimal('37'), Decimal('10')),
 ('R25,000 - 33,999', 403, Decimal('38'), Decimal('10')),
 ('R34,000 - 41,999', 186, Decimal('38'), Decimal('11')),
 ('R42,000 - 62,999', 115, Decimal('38'), Decimal('11')),
 ('R63,000 - 84,999', 48, Decimal('40'), Decimal('12')),
 ('R85,000 - 124,999', 15, Decimal('37'), Decimal('9')),
 ('R125,000+', 6, Decimal('42'), Decimal('10'))]

### Customer are catergorised according to their age group/life stage

In [8]:
%%sql 
SELECT 
    CASE 
        WHEN AGE < 25 THEN '16-24: Youth'
        WHEN AGE BETWEEN 25 AND 34 THEN '25-34: Young Professionals'
        WHEN AGE BETWEEN 35 AND 44 THEN '35-44: Middle-Aged Adults'
        WHEN AGE BETWEEN 45 AND 54 THEN '45-54: Prime Working Years'
        WHEN AGE BETWEEN 55 AND 64 THEN '55-64: Pre-Retirement'
        ELSE '65+: Seniors/Elderly'
    END AS age_group_label,
    COUNT(*) AS customer_count,
    ROUND(COUNT(*) * 100.0 / SUM(COUNT(*)) OVER (), 2) AS percentage
FROM customers
GROUP BY 
    CASE 
        WHEN AGE < 25 THEN '16-24: Youth'
        WHEN AGE BETWEEN 25 AND 34 THEN '25-34: Young Professionals'
        WHEN AGE BETWEEN 35 AND 44 THEN '35-44: Middle-Aged Adults'
        WHEN AGE BETWEEN 45 AND 54 THEN '45-54: Prime Working Years'
        WHEN AGE BETWEEN 55 AND 64 THEN '55-64: Pre-Retirement'
        ELSE '65+: Seniors/Elderly'
    END
ORDER BY age_group_label

 * postgresql://postgres:***@localhost:5432/customerdb
6 rows affected.

[('16-24: Youth', 578, Decimal('11.24')),
 ('25-34: Young Professionals', 1799, Decimal('34.97')),
 ('35-44: Middle-Aged Adults', 1498, Decimal('29.12')),
 ('45-54: Prime Working Years', 885, Decimal('17.20')),
 ('55-64: Pre-Retirement', 267, Decimal('5.19')),
 ('65+: Seniors/Elderly', 117, Decimal('2.27'))]

### Customer are catergorised according to their age group/life stage and what income group they belong to

In [10]:
 %%sql
 SELECT 
    CASE 
        WHEN AGE < 25 THEN '16-24: Youth'
        WHEN AGE BETWEEN 25 AND 34 THEN '25-34: Young Professionals'
        WHEN AGE BETWEEN 35 AND 44 THEN '35-44: Middle-Aged Adults'
        WHEN AGE BETWEEN 45 AND 54 THEN '45-54: Prime Working Years'
        WHEN AGE BETWEEN 55 AND 64 THEN '55-64: Pre-Retirement'
        ELSE '65+: Seniors/Elderly'
    END AS age_group_label,
    ig.income_group_desc,
    COUNT(*) AS customer_count,
    ROUND(COUNT(*) * 100.0 / SUM(COUNT(*)) OVER (PARTITION BY 
        CASE 
            WHEN AGE < 25 THEN '16-24: Youth'
            WHEN AGE BETWEEN 25 AND 34 THEN '25-34: Young Professionals'
            WHEN AGE BETWEEN 35 AND 44 THEN '35-44: Middle-Aged Adults'
            WHEN AGE BETWEEN 45 AND 54 THEN '45-54: Prime Working Years'
            WHEN AGE BETWEEN 55 AND 64 THEN '55-64: Pre-Retirement'
            ELSE '65+: Seniors/Elderly'
        END), 2) AS percentage_within_age_group,
    ROUND(COUNT(*) * 100.0 / SUM(COUNT(*)) OVER (), 2) AS percentage_of_total_customers
FROM customers c
JOIN income_group ig 
    ON c.income_group_code = ig.income_group_code
GROUP BY 
    CASE 
        WHEN AGE < 25 THEN '16-24: Youth'
        WHEN AGE BETWEEN 25 AND 34 THEN '25-34: Young Professionals'
        WHEN AGE BETWEEN 35 AND 44 THEN '35-44: Middle-Aged Adults'
        WHEN AGE BETWEEN 45 AND 54 THEN '45-54: Prime Working Years'
        WHEN AGE BETWEEN 55 AND 64 THEN '55-64: Pre-Retirement'
        ELSE '65+: Seniors/Elderly'
    END, 
    ig.income_group_desc,
    ig.income_group_code
ORDER BY 
    CASE 
        WHEN AGE < 25 THEN '16-24: Youth'
        WHEN AGE BETWEEN 25 AND 34 THEN '25-34: Young Professionals'
        WHEN AGE BETWEEN 35 AND 44 THEN '35-44: Middle-Aged Adults'
        WHEN AGE BETWEEN 45 AND 54 THEN '45-54: Prime Working Years'
        WHEN AGE BETWEEN 55 AND 64 THEN '55-64: Pre-Retirement'
        ELSE '65+: Seniors/Elderly'
    END,
    ig.income_group_code;

 * postgresql://postgres:***@localhost:5432/customerdb
120 rows affected.

[('16-24: Youth', 'NOT SUPPLIED', 1, Decimal('0.17'), Decimal('0.02')),
 ('16-24: Youth', 'R 0 - 499', 14, Decimal('2.42'), Decimal('0.27')),
 ('16-24: Youth', 'R500 - 999', 4, Decimal('0.69'), Decimal('0.08')),
 ('16-24: Youth', 'R1,000 - 1,999', 7, Decimal('1.21'), Decimal('0.14')),
 ('16-24: Youth', 'R2,000 - 2,999', 7, Decimal('1.21'), Decimal('0.14')),
 ('16-24: Youth', 'R3,000 - 3,999', 18, Decimal('3.11'), Decimal('0.35')),
 ('16-24: Youth', 'R4,000 - 4,999', 68, Decimal('11.76'), Decimal('1.32')),
 ('16-24: Youth', 'R5,000 - 5,999', 56, Decimal('9.69'), Decimal('1.09')),
 ('16-24: Youth', 'R6,000 - 6,999', 53, Decimal('9.17'), Decimal('1.03')),
 ('16-24: Youth', 'R7,000 - 7,999', 44, Decimal('7.61'), Decimal('0.86')),
 ('16-24: Youth', 'R8,000 - 8,999', 52, Decimal('9.00'), Decimal('1.01')),
 ('16-24: Youth', 'R9,000 - 9,999', 27, Decimal('4.67'), Decimal('0.52')),
 ('16-24: Youth', 'R10,000 - 11,999', 50, Decimal('8.65'), Decimal('0.97')),
 ('16-24: Youth', 'R12,000 - 14,999', 33, Decimal('5.71'), Decimal('0.64')),
 ('16-24: Youth', 'R15,000 - 19,999', 59, Decimal('10.21'), Decimal('1.15')),
 ('16-24: Youth', 'R20,000 - 24,999', 37, Decimal('6.40'), Decimal('0.72')),
 ('16-24: Youth', 'R25,000 - 33,999', 28, Decimal('4.84'), Decimal('0.54')),
 ('16-24: Youth', 'R34,000 - 41,999', 11, Decimal('1.90'), Decimal('0.21')),
 ('16-24: Youth', 'R42,000 - 62,999', 7, Decimal('1.21'), Decimal('0.14')),
 ('16-24: Youth', 'R63,000 - 84,999', 2, Decimal('0.35'), Decimal('0.04')),
 ('25-34: Young Professionals', 'R 0 - 499', 25, Decimal('1.39'), Decimal('0.49')),
 ('25-34: Young Professionals', 'R500 - 999', 9, Decimal('0.50'), Decimal('0.17')),
 ('25-34: Young Professionals', 'R1,000 - 1,999', 10, Decimal('0.56'), Decimal('0.19')),
 ('25-34: Young Professionals', 'R2,000 - 2,999', 16, Decimal('0.89'), Decimal('0.31')),
 ('25-34: Young Professionals', 'R3,000 - 3,999', 45, Decimal('2.50'), Decimal('0.87')),
 ('25-34: Young Professionals', 'R4,000 - 4,999', 171, Decimal('9.51'), Decimal('3.32')),
 ('25-34: Young Professionals', 'R5,000 - 5,999', 126, Decimal('7.00'), Decimal('2.45')),
 ('25-34: Young Professionals', 'R6,000 - 6,999', 138, Decimal('7.67'), Decimal('2.68')),
 ('25-34: Young Professionals', 'R7,000 - 7,999', 123, Decimal('6.84'), Decimal('2.39')),
 ('25-34: Young Professionals', 'R8,000 - 8,999', 93, Decimal('5.17'), Decimal('1.81')),
 ('25-34: Young Professionals', 'R9,000 - 9,999', 56, Decimal('3.11'), Decimal('1.09')),
 ('25-34: Young Professionals', 'R10,000 - 11,999', 156, Decimal('8.67'), Decimal('3.03')),
 ('25-34: Young Professionals', 'R12,000 - 14,999', 161, Decimal('8.95'), Decimal('3.13')),
 ('25-34: Young Professionals', 'R15,000 - 19,999', 228, Decimal('12.67'), Decimal('4.43')),
 ('25-34: Young Professionals', 'R20,000 - 24,999', 170, Decimal('9.45'), Decimal('3.30')),
 ('25-34: Young Professionals', 'R25,000 - 33,999', 144, Decimal('8.00'), Decimal('2.80')),
 ('25-34: Young Professionals', 'R34,000 - 41,999', 64, Decimal('3.56'), Decimal('1.24')),
 ('25-34: Young Professionals', 'R42,000 - 62,999', 43, Decimal('2.39'), Decimal('0.84')),
 ('25-34: Young Professionals', 'R63,000 - 84,999', 12, Decimal('0.67'), Decimal('0.23')),
 ('25-34: Young Professionals', 'R85,000 - 124,999', 8, Decimal('0.44'), Decimal('0.16')),
 ('25-34: Young Professionals', 'R125,000+', 1, Decimal('0.06'), Decimal('0.02')),
 ('35-44: Middle-Aged Adults', 'NOT SUPPLIED', 1, Decimal('0.07'), Decimal('0.02')),
 ('35-44: Middle-Aged Adults', 'R 0 - 499', 8, Decimal('0.53'), Decimal('0.16')),
 ('35-44: Middle-Aged Adults', 'R500 - 999', 5, Decimal('0.33'), Decimal('0.10')),
 ('35-44: Middle-Aged Adults', 'R1,000 - 1,999', 10, Decimal('0.67'), Decimal('0.19')),
 ('35-44: Middle-Aged Adults', 'R2,000 - 2,999', 11, Decimal('0.73'), Decimal('0.21')),
 ('35-44: Middle-Aged Adults', 'R3,000 - 3,999', 42, Decimal('2.80'), Decimal('0.82')),
 ('35-44: Middle-Aged Adults', 'R4,000 - 4,999', 92, Decimal('6.14'), Decimal('1.79')),
 ('35-44: Middle-Aged Adults', 'R5,000 - 5,999', 107, Decimal('7.14'), Decimal('2.08')),
 ('35-44: Middle-Aged Adults', 'R6,000 - 6,999', 95, Decimal('6.34'), Decimal('1.85')),
 ('35-44: Middle-Aged Adults', 'R7,000 - 7,999', 90, Decimal('6.01'), Decimal('1.75')),
 ('35-44: Middle-Aged Adults', 'R8,000 - 8,999', 96, Decimal('6.41'), Decimal('1.87')),
 ('35-44: Middle-Aged Adults', 'R9,000 - 9,999', 68, Decimal('4.54'), Decimal('1.32')),
 ('35-44: Middle-Aged Adults', 'R10,000 - 11,999', 134, Decimal('8.95'), Decimal('2.60')),
 ('35-44: Middle-Aged Adults', 'R12,000 - 14,999', 163, Decimal('10.88'), Decimal('3.17')),
 ('35-44: Middle-Aged Adults', 'R15,000 - 19,999', 193, Decimal('12.88'), Decimal('3.75')),
 ('35-44: Middle-Aged Adults', 'R20,000 - 24,999', 135, Decimal('9.01'), Decimal('2.62')),
 ('35-44: Middle-Aged Adults', 'R25,000 - 33,999', 118, Decimal('7.88'), Decimal('2.29')),
 ('35-44: Middle-Aged Adults', 'R34,000 - 41,999', 71, Decimal('4.74'), Decimal('1.38')),
 ('35-44: Middle-Aged Adults', 'R42,000 - 62,999', 33, Decimal('2.20'), Decimal('0.64')),
 ('35-44: Middle-Aged Adults', 'R63,000 - 84,999', 19, Decimal('1.27'), Decimal('0.37')),
 ('35-44: Middle-Aged Adults', 'R85,000 - 124,999', 4, Decimal('0.27'), Decimal('0.08')),
 ('35-44: Middle-Aged Adults', 'R125,000+', 3, Decimal('0.20'), Decimal('0.06')),
 ('45-54: Prime Working Years', 'R 0 - 499', 5, Decimal('0.56'), Decimal('0.10')),
 ('45-54: Prime Working Years', 'R500 - 999', 2, Decimal('0.23'), Decimal('0.04')),
 ('45-54: Prime Working Years', 'R1,000 - 1,999', 8, Decimal('0.90'), Decimal('0.16')),
 ('45-54: Prime Working Years', 'R2,000 - 2,999', 21, Decimal('2.37'), Decimal('0.41')),
 ('45-54: Prime Working Years', 'R3,000 - 3,999', 19, Decimal('2.15'), Decimal('0.37')),
 ('45-54: Prime Working Years', 'R4,000 - 4,999', 64, Decimal('7.23'), Decimal('1.24')),
 ('45-54: Prime Working Years', 'R5,000 - 5,999', 63, Decimal('7.12'), Decimal('1.22')),
 ('45-54: Prime Working Years', 'R6,000 - 6,999', 55, Decimal('6.21'), Decimal('1.07')),
 ('45-54: Prime Working Years', 'R7,000 - 7,999', 53, Decimal('5.99'), Decimal('1.03')),
 ('45-54: Prime Working Years', 'R8,000 - 8,999', 46, Decimal('5.20'), Decimal('0.89')),
 ('45-54: Prime Working Years', 'R9,000 - 9,999', 40, Decimal('4.52'), Decimal('0.78')),
 ('45-54: Prime Working Years', 'R10,000 - 11,999', 75, Decimal('8.47'), Decimal('1.46')),
 ('45-54: Prime Working Years', 'R12,000 - 14,999', 78, Decimal('8.81'), Decimal('1.52')),
 ('45-54: Prime Working Years', 'R15,000 - 19,999', 91, Decimal('10.28'), Decimal('1.77')),
 ('45-54: Prime Working Years', 'R20,000 - 24,999', 96, Decimal('10.85'), Decimal('1.87')),
 ('45-54: Prime Working Years', 'R25,000 - 33,999', 95, Decimal('10.73'), Decimal('1.85')),
 ('45-54: Prime Working Years', 'R34,000 - 41,999', 31, Decimal('3.50'), Decimal('0.60')),
 ('45-54: Prime Working Years', 'R42,000 - 62,999', 25, Decimal('2.82'), Decimal('0.49')),
 ('45-54: Prime Working Years', 'R63,000 - 84,999', 13, Decimal('1.47'), Decimal('0.25')),
 ('45-54: Prime Working Years', 'R85,000 - 124,999', 3, Decimal('0.34'), Decimal('0.06')),
 ('45-54: Prime Working Years', 'R125,000+', 2, Decimal('0.23'), Decimal('0.04')),
 ('55-64: Pre-Retirement', 'R 0 - 499', 6, Decimal('2.25'), Decimal('0.12')),
 ('55-64: Pre-Retirement', 'R500 - 999', 3, Decimal('1.12'), Decimal('0.06')),
 ('55-64: Pre-Retirement', 'R1,000 - 1,999', 38, Decimal('14.23'), Decimal('0.74')),
 ('55-64: Pre-Retirement', 'R2,000 - 2,999', 16, Decimal('5.99'), Decimal('0.31')),
 ('55-64: Pre-Retirement', 'R3,000 - 3,999', 17, Decimal('6.37'), Decimal('0.33')),
 ('55-64: Pre-Retirement', 'R4,000 - 4,999', 26, Decimal('9.74'), Decimal('0.51')),
 ('55-64: Pre-Retirement', 'R5,000 - 5,999', 14, Decimal('5.24'), Decimal('0.27')),
 ('55-64: Pre-Retirement', 'R6,000 - 6,999', 11, Decimal('4.12'), Decimal('0.21')),
 ('55-64: Pre-Retirement', 'R7,000 - 7,999', 15, Decimal('5.62'), Decimal('0.29')),
 ('55-64: Pre-Retirement', 'R8,000 - 8,999', 16, Decimal('5.99'), Decimal('0.31')),
 ('55-64: Pre-Retirement', 'R9,000 - 9,999', 6, Decimal('2.25'), Decimal('0.12')),
 ('55-64: Pre-Retirement', 'R10,000 - 11,999', 13, Decimal('4.87'), Decimal('0.25')),
 ('55-64: Pre-Retirement', 'R12,000 - 14,999', 18, Decimal('6.74'), Decimal('0.35')),
 ('55-64: Pre-Retirement', 'R15,000 - 19,999', 24, Decimal('8.99'), Decimal('0.47')),
 ('55-64: Pre-Retirement', 'R20,000 - 24,999', 11, Decimal('4.12'), Decimal('0.21')),
 ('55-64: Pre-Retirement', 'R25,000 - 33,999', 16, Decimal('5.99'), Decimal('0.31')),
 ('55-64: Pre-Retirement', 'R34,000 - 41,999', 8, Decimal('3.00'), Decimal('0.16')),
 ('55-64: Pre-Retirement', 'R42,000 - 62,999', 7, Decimal('2.62'), Decimal('0.14')),
 ('55-64: Pre-Retirement', 'R63,000 - 84,999', 2, Decimal('0.75'), Decimal('0.04')),
 ('65+: Seniors/Elderly', 'R 0 - 499', 4, Decimal('3.42'), Decimal('0.08')),
 ('65+: Seniors/Elderly', 'R500 - 999', 7, Decimal('5.98'), Decimal('0.14')),
 ('65+: Seniors/Elderly', 'R1,000 - 1,999', 23, Decimal('19.66'), Decimal('0.45')),
 ('65+: Seniors/Elderly', 'R2,000 - 2,999', 11, Decimal('9.40'), Decimal('0.21')),
 ('65+: Seniors/Elderly', 'R3,000 - 3,999', 9, Decimal('7.69'), Decimal('0.17')),
 ('65+: Seniors/Elderly', 'R4,000 - 4,999', 17, Decimal('14.53'), Decimal('0.33')),
 ('65+: Seniors/Elderly', 'R5,000 - 5,999', 7, Decimal('5.98'), Decimal('0.14')),
 ('65+: Seniors/Elderly', 'R6,000 - 6,999', 5, Decimal('4.27'), Decimal('0.10')),
 ('65+: Seniors/Elderly', 'R7,000 - 7,999', 6, Decimal('5.13'), Decimal('0.12')),
 ('65+: Seniors/Elderly', 'R8,000 - 8,999', 2, Decimal('1.71'), Decimal('0.04')),
 ('65+: Seniors/Elderly', 'R9,000 - 9,999', 3, Decimal('2.56'), Decimal('0.06')),
 ('65+: Seniors/Elderly', 'R10,000 - 11,999', 10, Decimal('8.55'), Decimal('0.19')),
 ('65+: Seniors/Elderly', 'R12,000 - 14,999', 6, Decimal('5.13'), Decimal('0.12')),
 ('65+: Seniors/Elderly', 'R15,000 - 19,999', 2, Decimal('1.71'), Decimal('0.04')),
 ('65+: Seniors/Elderly', 'R20,000 - 24,999', 2, Decimal('1.71'), Decimal('0.04')),
 ('65+: Seniors/Elderly', 'R25,000 - 33,999', 2, Decimal('1.71'), Decimal('0.04')),
 ('65+: Seniors/Elderly', 'R34,000 - 41,999', 1, Decimal('0.85'), Decimal('0.02'))]

### Identify Top Segments with High Account Usage

In [11]:
%%sql SELECT 
    c.customer_identifier,
    i.income_group_desc AS Income_Group,
    c.age,
    c.number_of_accounts
FROM 
    customers c
JOIN 
    income_group i
ON 
    c.income_group_code = i.income_group_code
WHERE 
    c.number_of_accounts = (
        SELECT MAX(number_of_accounts) FROM customers
    )
ORDER BY 
    c.number_of_accounts DESC;

 * postgresql://postgres:***@localhost:5432/customerdb
1 rows affected.

[('ID_d459e586ee56b3e18a26d856a7f19c951c6ff61d6de841bf00eff41d0b85cf47b79fa26e1496046e414faac25d1e5da349c0bf245aee7d1eee6295356d96e805', 'R34,000 - 41,999', 32, 38)]