### Connecting to Postgresql

In [2]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /opt/anaconda3/lib/python3.12/site-packages (2.0.34)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/anaconda3/lib/python3.12/site-packages (from sqlalchemy) (4.11.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in /opt/anaconda3/lib/python3.12/site-packages (2.9.10)
Note: you may need to restart the kernel to use updated packages.

In [4]:
%load_ext sql
from sqlalchemy import create_engine
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

In [5]:
pip install ipython-sql

Requirement already satisfied: ipython-sql in /opt/anaconda3/lib/python3.12/site-packages (0.5.0)
Requirement already satisfied: prettytable in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (3.12.0)
Requirement already satisfied: ipython in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (8.27.0)
Requirement already satisfied: sqlalchemy>=2.0 in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (2.0.34)
Requirement already satisfied: sqlparse in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (0.5.2)
Requirement already satisfied: six in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/anaconda3/lib/python3.12/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.11.0)
Requirement already satisfied: decorator in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5.13.0 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: pexpect>4.3 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (4.8.0)
Requirement already satisfied: wcwidth in /opt/anaconda3/lib/python3.12/site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /opt/anaconda3/lib/python3.12/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /opt/anaconda3/lib/python3.12/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing in /opt/anaconda3/lib/python3.12/site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in /opt/anaconda3/lib/python3.12/site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in /opt/anaconda3/lib/python3.12/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Note: you may need to restart the kernel to use updated packages.

In [6]:
%sql postgresql://postgres:@localhost:5432/customerdb

### 3. Periodic Analysis

3.1 How does the transaction activity of customers from different income groups vary over time?

In [7]:
%%sql
SELECT
    EXTRACT(YEAR FROM record_date) AS year,
    TO_CHAR(record_date, 'Mon') AS month,
    i.income_group_desc as income_group,
    COUNT(*) AS transaction_count,
    ROUND(SUM(amt)) AS total_transaction_value,
    ROUND(AVG(amt)) AS avg_transaction_value
FROM transactions t
JOIN customers c ON t.customer_identifier = c.customer_identifier
JOIN income_group i ON c.income_group_code = i.income_group_code
GROUP BY year, month, i.income_group_desc
ORDER BY year, month, i.income_group_desc
Limit 10;

 * postgresql://postgres:***@localhost:5432/customerdb
10 rows affected.

[(Decimal('2021'), 'Aug', 'R 0 - 499', 34, 67.0, 2.0),
 (Decimal('2021'), 'Aug', 'R10,000 - 11,999', 561, -32388.0, -58.0),
 (Decimal('2021'), 'Aug', 'R12,000 - 14,999', 559, 11314.0, 20.0),
 (Decimal('2021'), 'Aug', 'R15,000 - 19,999', 1102, -8175.0, -7.0),
 (Decimal('2021'), 'Aug', 'R20,000 - 24,999', 848, -13685.0, -16.0),
 (Decimal('2021'), 'Aug', 'R25,000 - 33,999', 1332, 3788.0, 3.0),
 (Decimal('2021'), 'Aug', 'R3,000 - 3,999', 35, 535.0, 15.0),
 (Decimal('2021'), 'Aug', 'R34,000 - 41,999', 530, -28345.0, -53.0),
 (Decimal('2021'), 'Aug', 'R4,000 - 4,999', 95, 17452.0, 184.0),
 (Decimal('2021'), 'Aug', 'R42,000 - 62,999', 433, -22542.0, -52.0)]

3.2 How do transaction counts and values for specific product codes vary across different channels over time?

In [8]:
%%sql

SELECT
    EXTRACT(YEAR FROM record_date) AS year,
    TO_CHAR(record_date, 'Mon') AS month,
    t.channel,
    t.product_code,
    COUNT(*) AS transaction_count,
    ROUND(SUM(amt)) AS total_transaction_value,
    ROUND(AVG(amt)) AS total_transaction_value
FROM transactions t
GROUP BY year, month, t.channel, t.product_code
ORDER BY year, month, t.channel, t.product_code
Limit 10;

 * postgresql://postgres:***@localhost:5432/customerdb
10 rows affected.

[(Decimal('2021'), 'Aug', 'atm', 'CHEQ', 1158, -449637.0, -388.0),
 (Decimal('2021'), 'Aug', 'atm', 'SAVE', 874, -483370.0, -553.0),
 (Decimal('2021'), 'Aug', 'internet', 'CHEQ', 626, -499756.0, -798.0),
 (Decimal('2021'), 'Aug', 'internet', 'SAVE', 246, -23652.0, -96.0),
 (Decimal('2021'), 'Aug', 'system', 'CHEQ', 2953, 599681.0, 203.0),
 (Decimal('2021'), 'Aug', 'system', 'SAVE', 1445, 398726.0, 276.0),
 (Decimal('2021'), 'Aug', 'teller', 'CHEQ', 84, 245658.0, 2925.0),
 (Decimal('2021'), 'Aug', 'teller', 'SAVE', 64, 115181.0, 1800.0),
 (Decimal('2021'), 'Dec', 'atm', 'CHEQ', 8527, -3353174.0, -393.0),
 (Decimal('2021'), 'Dec', 'atm', 'SAVE', 9522, -5946619.0, -625.0)]

3.3 How does the frequency of transactions by loyal customers change over time?

In [9]:
%%sql

SELECT
    EXTRACT(YEAR FROM record_date) AS year,
    TO_CHAR(record_date, 'Mon') AS month,
    CASE
        WHEN c.number_of_accounts >= 9 THEN 'Loyal Customers'
        ELSE 'Regular Customers'
    END AS customer_type,
    COUNT(*) AS transaction_count,
    ROUND(SUM(amt)) AS total_transaction_value,
    ROUND(AVG(amt)) AS total_transaction_value
FROM transactions t
JOIN customers c ON t.customer_identifier = c.customer_identifier
GROUP BY year, month, customer_type
ORDER BY year, month, customer_type
Limit 10;

 * postgresql://postgres:***@localhost:5432/customerdb
10 rows affected.

[(Decimal('2021'), 'Aug', 'Loyal Customers', 4805, -65384.0, -14.0),
 (Decimal('2021'), 'Aug', 'Regular Customers', 2645, -31785.0, -12.0),
 (Decimal('2021'), 'Dec', 'Loyal Customers', 51138, -734335.0, -14.0),
 (Decimal('2021'), 'Dec', 'Regular Customers', 29134, -79149.0, -3.0),
 (Decimal('2021'), 'Jul', 'Loyal Customers', 1591, -8800.0, -6.0),
 (Decimal('2021'), 'Jul', 'Regular Customers', 672, -4091.0, -6.0),
 (Decimal('2021'), 'Nov', 'Loyal Customers', 30103, 378568.0, 13.0),
 (Decimal('2021'), 'Nov', 'Regular Customers', 17883, 193791.0, 11.0),
 (Decimal('2021'), 'Oct', 'Loyal Customers', 19824, -231799.0, -12.0),
 (Decimal('2021'), 'Oct', 'Regular Customers', 11789, -119895.0, -10.0)]

### Monthly Unpaid Transactions and Customer Count over the period of 14 months

In [10]:
%%sql
SELECT 
    CONCAT(EXTRACT(YEAR FROM t.record_date), '-', EXTRACT(MONTH FROM t.record_date)) AS year_month,
    ROUND(SUM(t.amt)) AS total_unpaid,
    COUNT(DISTINCT c.customer_identifier) AS bad_count
FROM transactions t
JOIN customers c ON t.customer_identifier = c.customer_identifier

WHERE transaction_description IN ('BAD DEBT W/OFF', 'DC UNPAID', 'NAEDO DO UNPD', 'ACB DEBIT REVERSAL', 'UNPAID DEBIT')
GROUP BY year_month
ORDER BY year_month ASC

 * postgresql://postgres:***@localhost:5432/customerdb
14 rows affected.

[('2021-10', 65590.0, 60),
 ('2021-11', 95085.0, 85),
 ('2021-12', 139903.0, 148),
 ('2021-7', 9680.0, 9),
 ('2021-8', 19784.0, 21),
 ('2021-9', 32853.0, 34),
 ('2022-1', 178955.0, 200),
 ('2022-2', 168752.0, 202),
 ('2022-3', 236213.0, 231),
 ('2022-4', 211973.0, 233),
 ('2022-5', 203222.0, 240),
 ('2022-6', 186600.0, 198),
 ('2022-7', 159847.0, 183),
 ('2022-8', 108278.0, 153)]