### Connecting to Postgresql

In [2]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (2.0.36)
Requirement already satisfied: typing-extensions>=4.6.0 in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from sqlalchemy) (4.7.1)
Requirement already satisfied: greenlet!=0.4.17 in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from sqlalchemy) (0.4.15)
Requirement already satisfied: importlib-metadata in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from sqlalchemy) (6.0.0)
Requirement already satisfied: zipp>=0.5 in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from importlib-metadata->sqlalchemy) (2.2.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (2.9.9)
Note: you may need to restart the kernel to use updated packages.

In [4]:
%load_ext sql
from sqlalchemy import create_engine
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

In [5]:
pip install ipython-sql

Requirement already satisfied: ipython-sql in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (0.5.0)
Requirement already satisfied: prettytable in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython-sql) (3.7.0)
Requirement already satisfied: ipython in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython-sql) (7.12.0)
Requirement already satisfied: sqlalchemy>=2.0 in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython-sql) (2.0.36)
Requirement already satisfied: sqlparse in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython-sql) (0.4.3)
Requirement already satisfied: six in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython-sql) (1.14.0)
Requirement already satisfied: ipython-genutils in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.7.1)
Requirement already satisfied: greenlet!=0.4.17 in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from sqlalchemy>=2.0->ipython-sql) (0.4.15)
Requirement already satisfied: importlib-metadata in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from sqlalchemy>=2.0->ipython-sql) (6.0.0)
Requirement already satisfied: setuptools>=18.5 in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython->ipython-sql) (46.0.0.post20200309)
Requirement already satisfied: jedi>=0.10 in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython->ipython-sql) (0.14.1)
Requirement already satisfied: decorator in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython->ipython-sql) (4.4.1)
Requirement already satisfied: pickleshare in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython->ipython-sql) (4.3.3)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython->ipython-sql) (3.0.3)
Requirement already satisfied: pygments in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython->ipython-sql) (2.5.2)
Requirement already satisfied: backcall in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython->ipython-sql) (0.1.0)
Requirement already satisfied: pexpect in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython->ipython-sql) (4.8.0)
Requirement already satisfied: appnope in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython->ipython-sql) (0.1.0)
Requirement already satisfied: wcwidth in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from prettytable->ipython-sql) (0.1.8)
Requirement already satisfied: parso>=0.5.0 in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from jedi>=0.10->ipython->ipython-sql) (0.5.2)
Requirement already satisfied: zipp>=0.5 in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from importlib-metadata->sqlalchemy>=2.0->ipython-sql) (2.2.0)
Requirement already satisfied: ptyprocess>=0.5 in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from pexpect->ipython->ipython-sql) (0.6.0)
Note: you may need to restart the kernel to use updated packages.

In [6]:
%sql postgresql://postgres:@localhost:5432/customerdb

### 3. Periodic Analysis

3.1 How does the transaction activity of customers from different income groups vary over time?

In [7]:
%%sql
SELECT
    EXTRACT(YEAR FROM record_date) AS year,
    TO_CHAR(record_date, 'Mon') AS month,
    i.income_group_desc as income_group,
    COUNT(*) AS transaction_count,
    ROUND(SUM(amt)) AS total_transaction_value,
    ROUND(AVG(amt)) AS avg_transaction_value
FROM transactions t
JOIN customers c ON t.customer_identifier = c.customer_identifier
JOIN income_group i ON c.income_group_code = i.income_group_code
GROUP BY year, month, i.income_group_desc
ORDER BY year, month, i.income_group_desc;

 * postgresql://postgres:***@localhost:5432/customerdb
288 rows affected.

[(Decimal('2021'), 'Aug', 'R 0 - 499', 34, 67.0, 2.0),
 (Decimal('2021'), 'Aug', 'R10,000 - 11,999', 561, -32388.0, -58.0),
 (Decimal('2021'), 'Aug', 'R12,000 - 14,999', 559, 11314.0, 20.0),
 (Decimal('2021'), 'Aug', 'R15,000 - 19,999', 1102, -8175.0, -7.0),
 (Decimal('2021'), 'Aug', 'R20,000 - 24,999', 848, -13685.0, -16.0),
 (Decimal('2021'), 'Aug', 'R25,000 - 33,999', 1332, 3788.0, 3.0),
 (Decimal('2021'), 'Aug', 'R3,000 - 3,999', 35, 535.0, 15.0),
 (Decimal('2021'), 'Aug', 'R34,000 - 41,999', 530, -28345.0, -53.0),
 (Decimal('2021'), 'Aug', 'R4,000 - 4,999', 95, 17452.0, 184.0),
 (Decimal('2021'), 'Aug', 'R42,000 - 62,999', 433, -22542.0, -52.0),
 (Decimal('2021'), 'Aug', 'R5,000 - 5,999', 354, 5906.0, 17.0),
 (Decimal('2021'), 'Aug', 'R6,000 - 6,999', 264, -22042.0, -83.0),
 (Decimal('2021'), 'Aug', 'R63,000 - 84,999', 112, -107.0, -1.0),
 (Decimal('2021'), 'Aug', 'R7,000 - 7,999', 422, -13195.0, -31.0),
 (Decimal('2021'), 'Aug', 'R8,000 - 8,999', 522, 1967.0, 4.0),
 (Decimal('2021'), 'Aug', 'R9,000 - 9,999', 247, 2282.0, 9.0),
 (Decimal('2021'), 'Dec', 'NOT SUPPLIED', 18, 408.0, 23.0),
 (Decimal('2021'), 'Dec', 'R 0 - 499', 1320, -30396.0, -23.0),
 (Decimal('2021'), 'Dec', 'R1,000 - 1,999', 723, 12603.0, 17.0),
 (Decimal('2021'), 'Dec', 'R10,000 - 11,999', 6249, -60787.0, -10.0),
 (Decimal('2021'), 'Dec', 'R12,000 - 14,999', 8013, -183662.0, -23.0),
 (Decimal('2021'), 'Dec', 'R125,000+', 1, -250.0, -250.0),
 (Decimal('2021'), 'Dec', 'R15,000 - 19,999', 12422, -112725.0, -9.0),
 (Decimal('2021'), 'Dec', 'R2,000 - 2,999', 602, 39884.0, 66.0),
 (Decimal('2021'), 'Dec', 'R20,000 - 24,999', 9543, -207259.0, -22.0),
 (Decimal('2021'), 'Dec', 'R25,000 - 33,999', 9253, -67442.0, -7.0),
 (Decimal('2021'), 'Dec', 'R3,000 - 3,999', 1215, 16614.0, 14.0),
 (Decimal('2021'), 'Dec', 'R34,000 - 41,999', 4450, -95108.0, -21.0),
 (Decimal('2021'), 'Dec', 'R4,000 - 4,999', 3507, -56397.0, -16.0),
 (Decimal('2021'), 'Dec', 'R42,000 - 62,999', 1975, -87585.0, -44.0),
 (Decimal('2021'), 'Dec', 'R5,000 - 5,999', 3922, 10870.0, 3.0),
 (Decimal('2021'), 'Dec', 'R500 - 999', 253, 24189.0, 96.0),
 (Decimal('2021'), 'Dec', 'R6,000 - 6,999', 4294, -13810.0, -3.0),
 (Decimal('2021'), 'Dec', 'R63,000 - 84,999', 566, 16401.0, 29.0),
 (Decimal('2021'), 'Dec', 'R7,000 - 7,999', 4298, 20640.0, 5.0),
 (Decimal('2021'), 'Dec', 'R8,000 - 8,999', 4734, -41663.0, -9.0),
 (Decimal('2021'), 'Dec', 'R85,000 - 124,999', 51, 1208.0, 24.0),
 (Decimal('2021'), 'Dec', 'R9,000 - 9,999', 2863, 784.0, 0.0),
 (Decimal('2021'), 'Jul', 'R10,000 - 11,999', 156, 16132.0, 103.0),
 (Decimal('2021'), 'Jul', 'R12,000 - 14,999', 230, -13647.0, -59.0),
 (Decimal('2021'), 'Jul', 'R15,000 - 19,999', 182, -8839.0, -49.0),
 (Decimal('2021'), 'Jul', 'R20,000 - 24,999', 200, 5447.0, 27.0),
 (Decimal('2021'), 'Jul', 'R25,000 - 33,999', 732, -2451.0, -3.0),
 (Decimal('2021'), 'Jul', 'R3,000 - 3,999', 11, 210.0, 19.0),
 (Decimal('2021'), 'Jul', 'R34,000 - 41,999', 41, 1155.0, 28.0),
 (Decimal('2021'), 'Jul', 'R4,000 - 4,999', 41, -504.0, -12.0),
 (Decimal('2021'), 'Jul', 'R42,000 - 62,999', 191, -4302.0, -23.0),
 (Decimal('2021'), 'Jul', 'R5,000 - 5,999', 152, -7943.0, -52.0),
 (Decimal('2021'), 'Jul', 'R6,000 - 6,999', 60, -1724.0, -29.0),
 (Decimal('2021'), 'Jul', 'R63,000 - 84,999', 5, 28.0, 6.0),
 (Decimal('2021'), 'Jul', 'R7,000 - 7,999', 139, 3240.0, 23.0),
 (Decimal('2021'), 'Jul', 'R8,000 - 8,999', 123, 308.0, 3.0),
 (Decimal('2021'), 'Nov', 'NOT SUPPLIED', 10, 717.0, 72.0),
 (Decimal('2021'), 'Nov', 'R 0 - 499', 989, 4098.0, 4.0),
 (Decimal('2021'), 'Nov', 'R1,000 - 1,999', 385, 635.0, 2.0),
 (Decimal('2021'), 'Nov', 'R10,000 - 11,999', 4107, 114917.0, 28.0),
 (Decimal('2021'), 'Nov', 'R12,000 - 14,999', 4624, 66841.0, 14.0),
 (Decimal('2021'), 'Nov', 'R15,000 - 19,999', 7846, 10444.0, 1.0),
 (Decimal('2021'), 'Nov', 'R2,000 - 2,999', 375, -15692.0, -42.0),
 (Decimal('2021'), 'Nov', 'R20,000 - 24,999', 5766, 99410.0, 17.0),
 (Decimal('2021'), 'Nov', 'R25,000 - 33,999', 6434, 114537.0, 18.0),
 (Decimal('2021'), 'Nov', 'R3,000 - 3,999', 638, 9619.0, 15.0),
 (Decimal('2021'), 'Nov', 'R34,000 - 41,999', 2550, 33639.0, 13.0),
 (Decimal('2021'), 'Nov', 'R4,000 - 4,999', 1433, 1846.0, 1.0),
 (Decimal('2021'), 'Nov', 'R42,000 - 62,999', 1560, 14046.0, 9.0),
 (Decimal('2021'), 'Nov', 'R5,000 - 5,999', 2071, 54342.0, 26.0),
 (Decimal('2021'), 'Nov', 'R500 - 999', 162, -16012.0, -99.0),
 (Decimal('2021'), 'Nov', 'R6,000 - 6,999', 2109, 6588.0, 3.0),
 (Decimal('2021'), 'Nov', 'R63,000 - 84,999', 375, 12210.0, 33.0),
 (Decimal('2021'), 'Nov', 'R7,000 - 7,999', 2378, -1490.0, -1.0),
 (Decimal('2021'), 'Nov', 'R8,000 - 8,999', 2645, 52413.0, 20.0),
 (Decimal('2021'), 'Nov', 'R85,000 - 124,999', 10, -19.0, -2.0),
 (Decimal('2021'), 'Nov', 'R9,000 - 9,999', 1519, 9270.0, 6.0),
 (Decimal('2021'), 'Oct', 'NOT SUPPLIED', 18, -1624.0, -90.0),
 (Decimal('2021'), 'Oct', 'R 0 - 499', 614, 11240.0, 18.0),
 (Decimal('2021'), 'Oct', 'R1,000 - 1,999', 186, 3419.0, 18.0),
 (Decimal('2021'), 'Oct', 'R10,000 - 11,999', 2423, -102420.0, -42.0),
 (Decimal('2021'), 'Oct', 'R12,000 - 14,999', 2655, -53336.0, -20.0),
 (Decimal('2021'), 'Oct', 'R15,000 - 19,999', 4957, 31961.0, 6.0),
 (Decimal('2021'), 'Oct', 'R2,000 - 2,999', 156, 12780.0, 82.0),
 (Decimal('2021'), 'Oct', 'R20,000 - 24,999', 4152, -56292.0, -14.0),
 (Decimal('2021'), 'Oct', 'R25,000 - 33,999', 4613, -49917.0, -11.0),
 (Decimal('2021'), 'Oct', 'R3,000 - 3,999', 371, 18809.0, 51.0),
 (Decimal('2021'), 'Oct', 'R34,000 - 41,999', 2056, -30124.0, -15.0),
 (Decimal('2021'), 'Oct', 'R4,000 - 4,999', 921, 2104.0, 2.0),
 (Decimal('2021'), 'Oct', 'R42,000 - 62,999', 1128, -16456.0, -15.0),
 (Decimal('2021'), 'Oct', 'R5,000 - 5,999', 1478, -14147.0, -10.0),
 (Decimal('2021'), 'Oct', 'R500 - 999', 32, -1889.0, -59.0),
 (Decimal('2021'), 'Oct', 'R6,000 - 6,999', 1434, -7544.0, -5.0),
 (Decimal('2021'), 'Oct', 'R63,000 - 84,999', 202, 477.0, 2.0),
 (Decimal('2021'), 'Oct', 'R7,000 - 7,999', 1411, -52612.0, -37.0),
 (Decimal('2021'), 'Oct', 'R8,000 - 8,999', 2016, -41543.0, -21.0),
 (Decimal('2021'), 'Oct', 'R85,000 - 124,999', 3, -162.0, -54.0),
 (Decimal('2021'), 'Oct', 'R9,000 - 9,999', 787, -4418.0, -6.0),
 (Decimal('2021'), 'Sep', 'NOT SUPPLIED', 29, -471.0, -16.0),
 (Decimal('2021'), 'Sep', 'R 0 - 499', 110, -1726.0, -16.0),
 (Decimal('2021'), 'Sep', 'R1,000 - 1,999', 86, 10099.0, 117.0),
 (Decimal('2021'), 'Sep', 'R10,000 - 11,999', 1341, 63381.0, 47.0),
 (Decimal('2021'), 'Sep', 'R12,000 - 14,999', 1532, -31916.0, -21.0),
 (Decimal('2021'), 'Sep', 'R15,000 - 19,999', 2736, 8338.0, 3.0),
 (Decimal('2021'), 'Sep', 'R2,000 - 2,999', 26, 630.0, 24.0),
 (Decimal('2021'), 'Sep', 'R20,000 - 24,999', 2375, 72433.0, 30.0),
 (Decimal('2021'), 'Sep', 'R25,000 - 33,999', 2754, -25309.0, -9.0),
 (Decimal('2021'), 'Sep', 'R3,000 - 3,999', 80, -2291.0, -29.0),
 (Decimal('2021'), 'Sep', 'R34,000 - 41,999', 1458, 12948.0, 9.0),
 (Decimal('2021'), 'Sep', 'R4,000 - 4,999', 415, -7869.0, -19.0),
 (Decimal('2021'), 'Sep', 'R42,000 - 62,999', 725, 19782.0, 27.0),
 (Decimal('2021'), 'Sep', 'R5,000 - 5,999', 791, 3277.0, 4.0),
 (Decimal('2021'), 'Sep', 'R500 - 999', 1, 0.0, 0.0),
 (Decimal('2021'), 'Sep', 'R6,000 - 6,999', 633, 20042.0, 32.0),
 (Decimal('2021'), 'Sep', 'R63,000 - 84,999', 162, -8143.0, -50.0),
 (Decimal('2021'), 'Sep', 'R7,000 - 7,999', 762, 49101.0, 64.0),
 (Decimal('2021'), 'Sep', 'R8,000 - 8,999', 1096, 42736.0, 39.0),
 (Decimal('2021'), 'Sep', 'R85,000 - 124,999', 1, 0.0, 0.0),
 (Decimal('2021'), 'Sep', 'R9,000 - 9,999', 465, 216.0, 0.0),
 (Decimal('2022'), 'Apr', 'NOT SUPPLIED', 1, 0.0, 0.0),
 (Decimal('2022'), 'Apr', 'R 0 - 499', 1870, 15735.0, 8.0),
 (Decimal('2022'), 'Apr', 'R1,000 - 1,999', 979, 42478.0, 43.0),
 (Decimal('2022'), 'Apr', 'R10,000 - 11,999', 8304, 170743.0, 21.0),
 (Decimal('2022'), 'Apr', 'R12,000 - 14,999', 10702, -80480.0, -8.0),
 (Decimal('2022'), 'Apr', 'R125,000+', 13, 934.0, 72.0),
 (Decimal('2022'), 'Apr', 'R15,000 - 19,999', 15108, 25459.0, 2.0),
 (Decimal('2022'), 'Apr', 'R2,000 - 2,999', 846, 109112.0, 129.0),
 (Decimal('2022'), 'Apr', 'R20,000 - 24,999', 12416, 243438.0, 20.0),
 (Decimal('2022'), 'Apr', 'R25,000 - 33,999', 10174, 177729.0, 17.0),
 (Decimal('2022'), 'Apr', 'R3,000 - 3,999', 1821, 39031.0, 21.0),
 (Decimal('2022'), 'Apr', 'R34,000 - 41,999', 4635, 24951.0, 5.0),
 (Decimal('2022'), 'Apr', 'R4,000 - 4,999', 4968, 111113.0, 22.0),
 (Decimal('2022'), 'Apr', 'R42,000 - 62,999', 2463, 24901.0, 10.0),
 (Decimal('2022'), 'Apr', 'R5,000 - 5,999', 5039, 87354.0, 17.0),
 (Decimal('2022'), 'Apr', 'R500 - 999', 288, -714.0, -2.0),
 (Decimal('2022'), 'Apr', 'R6,000 - 6,999', 5066, 8093.0, 2.0),
 (Decimal('2022'), 'Apr', 'R63,000 - 84,999', 562, 5015.0, 9.0),
 (Decimal('2022'), 'Apr', 'R7,000 - 7,999', 5804, 118084.0, 20.0),
 (Decimal('2022'), 'Apr', 'R8,000 - 8,999', 5322, 175698.0, 33.0),
 (Decimal('2022'), 'Apr', 'R85,000 - 124,999', 116, 26540.0, 229.0),
 (Decimal('2022'), 'Apr', 'R9,000 - 9,999', 4064, -14646.0, -4.0),
 (Decimal('2022'), 'Aug', 'R 0 - 499', 579, 21726.0, 38.0),
 (Decimal('2022'), 'Aug', 'R1,000 - 1,999', 288, -33399.0, -116.0),
 (Decimal('2022'), 'Aug', 'R10,000 - 11,999', 3539, 270202.0, 76.0),
 (Decimal('2022'), 'Aug', 'R12,000 - 14,999', 3587, 199458.0, 56.0),
 (Decimal('2022'), 'Aug', 'R15,000 - 19,999', 5554, 367851.0, 66.0),
 (Decimal('2022'), 'Aug', 'R2,000 - 2,999', 255, 85269.0, 334.0),
 (Decimal('2022'), 'Aug', 'R20,000 - 24,999', 4392, 146775.0, 33.0),
 (Decimal('2022'), 'Aug', 'R25,000 - 33,999', 3008, 160138.0, 53.0),
 (Decimal('2022'), 'Aug', 'R3,000 - 3,999', 679, 84480.0, 124.0),
 (Decimal('2022'), 'Aug', 'R34,000 - 41,999', 1503, 136475.0, 91.0),
 (Decimal('2022'), 'Aug', 'R4,000 - 4,999', 2158, 138598.0, 64.0),
 (Decimal('2022'), 'Aug', 'R42,000 - 62,999', 940, 15371.0, 16.0),
 (Decimal('2022'), 'Aug', 'R5,000 - 5,999', 1676, 87722.0, 52.0),
 (Decimal('2022'), 'Aug', 'R500 - 999', 72, 13110.0, 182.0),
 (Decimal('2022'), 'Aug', 'R6,000 - 6,999', 1693, 48030.0, 28.0),
 (Decimal('2022'), 'Aug', 'R63,000 - 84,999', 361, 2091.0, 6.0),
 (Decimal('2022'), 'Aug', 'R7,000 - 7,999', 2282, 115359.0, 51.0),
 (Decimal('2022'), 'Aug', 'R8,000 - 8,999', 1906, 377642.0, 198.0),
 (Decimal('2022'), 'Aug', 'R85,000 - 124,999', 45, 17588.0, 391.0),
 (Decimal('2022'), 'Aug', 'R9,000 - 9,999', 1571, 74297.0, 47.0),
 (Decimal('2022'), 'Feb', 'NOT SUPPLIED', 17, -1358.0, -80.0),
 (Decimal('2022'), 'Feb', 'R 0 - 499', 1840, -30352.0, -16.0),
 (Decimal('2022'), 'Feb', 'R1,000 - 1,999', 998, 22189.0, 22.0),
 (Decimal('2022'), 'Feb', 'R10,000 - 11,999', 8283, 320737.0, 39.0),
 (Decimal('2022'), 'Feb', 'R12,000 - 14,999', 9041, 100070.0, 11.0),
 (Decimal('2022'), 'Feb', 'R125,000+', 11, 1061.0, 96.0),
 (Decimal('2022'), 'Feb', 'R15,000 - 19,999', 15536, 218884.0, 14.0),
 (Decimal('2022'), 'Feb', 'R2,000 - 2,999', 679, -4335.0, -6.0),
 (Decimal('2022'), 'Feb', 'R20,000 - 24,999', 12073, 167945.0, 14.0),
 (Decimal('2022'), 'Feb', 'R25,000 - 33,999', 10546, 22166.0, 2.0),
 (Decimal('2022'), 'Feb', 'R3,000 - 3,999', 1453, 50663.0, 35.0),
 (Decimal('2022'), 'Feb', 'R34,000 - 41,999', 5230, 96451.0, 18.0),
 (Decimal('2022'), 'Feb', 'R4,000 - 4,999', 4240, 186309.0, 44.0),
 (Decimal('2022'), 'Feb', 'R42,000 - 62,999', 2935, -8836.0, -3.0),
 (Decimal('2022'), 'Feb', 'R5,000 - 5,999', 4773, 126196.0, 26.0),
 (Decimal('2022'), 'Feb', 'R500 - 999', 299, 7833.0, 26.0),
 (Decimal('2022'), 'Feb', 'R6,000 - 6,999', 5230, 101610.0, 19.0),
 (Decimal('2022'), 'Feb', 'R63,000 - 84,999', 778, -11298.0, -15.0),
 (Decimal('2022'), 'Feb', 'R7,000 - 7,999', 5499, 73220.0, 13.0),
 (Decimal('2022'), 'Feb', 'R8,000 - 8,999', 5875, 316516.0, 54.0),
 (Decimal('2022'), 'Feb', 'R85,000 - 124,999', 126, 15776.0, 125.0),
 (Decimal('2022'), 'Feb', 'R9,000 - 9,999', 3912, 106309.0, 27.0),
 (Decimal('2022'), 'Jan', 'NOT SUPPLIED', 35, -1209.0, -35.0),
 (Decimal('2022'), 'Jan', 'R 0 - 499', 1538, 34532.0, 22.0),
 (Decimal('2022'), 'Jan', 'R1,000 - 1,999', 992, -29045.0, -29.0),
 (Decimal('2022'), 'Jan', 'R10,000 - 11,999', 6928, 54209.0, 8.0),
 (Decimal('2022'), 'Jan', 'R12,000 - 14,999', 8041, -53561.0, -7.0),
 (Decimal('2022'), 'Jan', 'R125,000+', 11, 4744.0, 431.0),
 (Decimal('2022'), 'Jan', 'R15,000 - 19,999', 14023, -25636.0, -2.0),
 (Decimal('2022'), 'Jan', 'R2,000 - 2,999', 683, 4662.0, 7.0),
 (Decimal('2022'), 'Jan', 'R20,000 - 24,999', 10501, 157013.0, 15.0),
 (Decimal('2022'), 'Jan', 'R25,000 - 33,999', 10529, 108426.0, 10.0),
 (Decimal('2022'), 'Jan', 'R3,000 - 3,999', 1234, -391.0, -0.0),
 (Decimal('2022'), 'Jan', 'R34,000 - 41,999', 4706, -105173.0, -22.0),
 (Decimal('2022'), 'Jan', 'R4,000 - 4,999', 3581, 17970.0, 5.0),
 (Decimal('2022'), 'Jan', 'R42,000 - 62,999', 2239, 61170.0, 27.0),
 (Decimal('2022'), 'Jan', 'R5,000 - 5,999', 4081, 71002.0, 17.0),
 (Decimal('2022'), 'Jan', 'R500 - 999', 291, -16664.0, -57.0),
 (Decimal('2022'), 'Jan', 'R6,000 - 6,999', 4047, 102386.0, 25.0),
 (Decimal('2022'), 'Jan', 'R63,000 - 84,999', 504, -4044.0, -8.0),
 (Decimal('2022'), 'Jan', 'R7,000 - 7,999', 4589, 165830.0, 36.0),
 (Decimal('2022'), 'Jan', 'R8,000 - 8,999', 4528, 19503.0, 4.0),
 (Decimal('2022'), 'Jan', 'R85,000 - 124,999', 47, 5574.0, 119.0),
 (Decimal('2022'), 'Jan', 'R9,000 - 9,999', 3020, -39494.0, -13.0),
 (Decimal('2022'), 'Jul', 'R 0 - 499', 1124, -55367.0, -49.0),
 (Decimal('2022'), 'Jul', 'R1,000 - 1,999', 735, 11200.0, 15.0),
 (Decimal('2022'), 'Jul', 'R10,000 - 11,999', 4846, 97267.0, 20.0),
 (Decimal('2022'), 'Jul', 'R12,000 - 14,999', 5658, 107850.0, 19.0),
 (Decimal('2022'), 'Jul', 'R125,000+', 44, 326.0, 7.0),
 (Decimal('2022'), 'Jul', 'R15,000 - 19,999', 8732, -88726.0, -10.0),
 (Decimal('2022'), 'Jul', 'R2,000 - 2,999', 272, 9273.0, 34.0),
 (Decimal('2022'), 'Jul', 'R20,000 - 24,999', 6967, -18688.0, -3.0),
 (Decimal('2022'), 'Jul', 'R25,000 - 33,999', 4868, 108535.0, 22.0),
 (Decimal('2022'), 'Jul', 'R3,000 - 3,999', 1043, 35371.0, 34.0),
 (Decimal('2022'), 'Jul', 'R34,000 - 41,999', 2402, 10978.0, 5.0),
 (Decimal('2022'), 'Jul', 'R4,000 - 4,999', 2968, 122719.0, 41.0),
 (Decimal('2022'), 'Jul', 'R42,000 - 62,999', 1739, 66777.0, 38.0),
 (Decimal('2022'), 'Jul', 'R5,000 - 5,999', 2730, 156952.0, 57.0),
 (Decimal('2022'), 'Jul', 'R500 - 999', 179, 14417.0, 81.0),
 (Decimal('2022'), 'Jul', 'R6,000 - 6,999', 2818, -9868.0, -4.0),
 (Decimal('2022'), 'Jul', 'R63,000 - 84,999', 451, 8474.0, 19.0),
 (Decimal('2022'), 'Jul', 'R7,000 - 7,999', 3990, 32583.0, 8.0),
 (Decimal('2022'), 'Jul', 'R8,000 - 8,999', 3166, 25441.0, 8.0),
 (Decimal('2022'), 'Jul', 'R85,000 - 124,999', 47, 4872.0, 104.0),
 (Decimal('2022'), 'Jul', 'R9,000 - 9,999', 1994, 76698.0, 38.0),
 (Decimal('2022'), 'Jun', 'NOT SUPPLIED', 1, 0.0, 0.0),
 (Decimal('2022'), 'Jun', 'R 0 - 499', 1179, 30656.0, 26.0),
 (Decimal('2022'), 'Jun', 'R1,000 - 1,999', 832, 402.0, 0.0),
 (Decimal('2022'), 'Jun', 'R10,000 - 11,999', 5499, 11063.0, 2.0),
 (Decimal('2022'), 'Jun', 'R12,000 - 14,999', 7891, 239052.0, 30.0),
 (Decimal('2022'), 'Jun', 'R125,000+', 17, 14737.0, 867.0),
 (Decimal('2022'), 'Jun', 'R15,000 - 19,999', 11310, 251435.0, 22.0),
 (Decimal('2022'), 'Jun', 'R2,000 - 2,999', 458, 24749.0, 54.0),
 (Decimal('2022'), 'Jun', 'R20,000 - 24,999', 9084, 121395.0, 13.0),
 (Decimal('2022'), 'Jun', 'R25,000 - 33,999', 6105, 246966.0, 40.0),
 (Decimal('2022'), 'Jun', 'R3,000 - 3,999', 1241, 9991.0, 8.0),
 (Decimal('2022'), 'Jun', 'R34,000 - 41,999', 3115, 104366.0, 34.0),
 (Decimal('2022'), 'Jun', 'R4,000 - 4,999', 4136, 108785.0, 26.0),
 (Decimal('2022'), 'Jun', 'R42,000 - 62,999', 1782, 27859.0, 16.0),
 (Decimal('2022'), 'Jun', 'R5,000 - 5,999', 3933, -22394.0, -6.0),
 (Decimal('2022'), 'Jun', 'R500 - 999', 242, 57310.0, 237.0),
 (Decimal('2022'), 'Jun', 'R6,000 - 6,999', 3620, 170495.0, 47.0),
 (Decimal('2022'), 'Jun', 'R63,000 - 84,999', 559, 12094.0, 22.0),
 (Decimal('2022'), 'Jun', 'R7,000 - 7,999', 4455, 166648.0, 37.0),
 (Decimal('2022'), 'Jun', 'R8,000 - 8,999', 4140, 176673.0, 43.0),
 (Decimal('2022'), 'Jun', 'R85,000 - 124,999', 123, 1489.0, 12.0),
 (Decimal('2022'), 'Jun', 'R9,000 - 9,999', 2864, 234715.0, 82.0),
 (Decimal('2022'), 'Mar', 'NOT SUPPLIED', 6, -453.0, -75.0),
 (Decimal('2022'), 'Mar', 'R 0 - 499', 2237, -3531.0, -2.0),
 (Decimal('2022'), 'Mar', 'R1,000 - 1,999', 1233, -7342.0, -6.0),
 (Decimal('2022'), 'Mar', 'R10,000 - 11,999', 9541, -28062.0, -3.0),
 (Decimal('2022'), 'Mar', 'R12,000 - 14,999', 11649, 112941.0, 10.0),
 (Decimal('2022'), 'Mar', 'R125,000+', 11, -829.0, -75.0),
 (Decimal('2022'), 'Mar', 'R15,000 - 19,999', 18297, -87094.0, -5.0),
 (Decimal('2022'), 'Mar', 'R2,000 - 2,999', 872, -3054.0, -4.0),
 (Decimal('2022'), 'Mar', 'R20,000 - 24,999', 15035, -74019.0, -5.0),
 (Decimal('2022'), 'Mar', 'R25,000 - 33,999', 12077, -95688.0, -8.0),
 (Decimal('2022'), 'Mar', 'R3,000 - 3,999', 1948, -25591.0, -13.0),
 (Decimal('2022'), 'Mar', 'R34,000 - 41,999', 5908, -132780.0, -22.0),
 (Decimal('2022'), 'Mar', 'R4,000 - 4,999', 5159, -20948.0, -4.0),
 (Decimal('2022'), 'Mar', 'R42,000 - 62,999', 3177, -24988.0, -8.0),
 (Decimal('2022'), 'Mar', 'R5,000 - 5,999', 5159, 202210.0, 39.0),
 (Decimal('2022'), 'Mar', 'R500 - 999', 355, 6911.0, 19.0),
 (Decimal('2022'), 'Mar', 'R6,000 - 6,999', 5599, 147739.0, 26.0),
 (Decimal('2022'), 'Mar', 'R63,000 - 84,999', 795, 5622.0, 7.0),
 (Decimal('2022'), 'Mar', 'R7,000 - 7,999', 6078, 132932.0, 22.0),
 (Decimal('2022'), 'Mar', 'R8,000 - 8,999', 6407, 18115.0, 3.0),
 (Decimal('2022'), 'Mar', 'R85,000 - 124,999', 144, -16734.0, -116.0),
 (Decimal('2022'), 'Mar', 'R9,000 - 9,999', 4549, 78469.0, 17.0),
 (Decimal('2022'), 'May', 'NOT SUPPLIED', 1, 0.0, 0.0),
 (Decimal('2022'), 'May', 'R 0 - 499', 1560, 51690.0, 33.0),
 (Decimal('2022'), 'May', 'R1,000 - 1,999', 882, 88569.0, 100.0),
 (Decimal('2022'), 'May', 'R10,000 - 11,999', 7884, 226981.0, 29.0),
 (Decimal('2022'), 'May', 'R12,000 - 14,999', 10026, 78889.0, 8.0),
 (Decimal('2022'), 'May', 'R125,000+', 9, -759.0, -84.0),
 (Decimal('2022'), 'May', 'R15,000 - 19,999', 14191, 259696.0, 18.0),
 (Decimal('2022'), 'May', 'R2,000 - 2,999', 665, 8951.0, 13.0),
 (Decimal('2022'), 'May', 'R20,000 - 24,999', 11741, 324487.0, 28.0),
 (Decimal('2022'), 'May', 'R25,000 - 33,999', 8208, 216575.0, 26.0),
 (Decimal('2022'), 'May', 'R3,000 - 3,999', 1626, 45805.0, 28.0),
 (Decimal('2022'), 'May', 'R34,000 - 41,999', 4091, -16459.0, -4.0),
 (Decimal('2022'), 'May', 'R4,000 - 4,999', 4620, 140211.0, 30.0),
 (Decimal('2022'), 'May', 'R42,000 - 62,999', 2361, 56763.0, 24.0),
 (Decimal('2022'), 'May', 'R5,000 - 5,999', 4560, 132779.0, 29.0),
 (Decimal('2022'), 'May', 'R500 - 999', 322, 33318.0, 103.0),
 (Decimal('2022'), 'May', 'R6,000 - 6,999', 4449, 190211.0, 43.0),
 (Decimal('2022'), 'May', 'R63,000 - 84,999', 669, 50338.0, 75.0),
 (Decimal('2022'), 'May', 'R7,000 - 7,999', 5715, 108488.0, 19.0),
 (Decimal('2022'), 'May', 'R8,000 - 8,999', 5183, 30455.0, 6.0),
 (Decimal('2022'), 'May', 'R85,000 - 124,999', 111, 9252.0, 83.0),
 (Decimal('2022'), 'May', 'R9,000 - 9,999', 3742, 1947.0, 1.0)]

3.2 How do transaction counts and values for specific product codes vary across different channels over time?

In [8]:
%%sql

SELECT
    EXTRACT(YEAR FROM record_date) AS year,
    TO_CHAR(record_date, 'Mon') AS month,
    t.channel,
    t.product_code,
    COUNT(*) AS transaction_count,
    ROUND(SUM(amt)) AS total_transaction_value,
    ROUND(AVG(amt)) AS total_transaction_value
FROM transactions t
GROUP BY year, month, t.channel, t.product_code
ORDER BY year, month, t.channel, t.product_code
Limit 10;

 * postgresql://postgres:***@localhost:5432/customerdb

10 rows affected.

[(Decimal('2021'), 'Aug', 'atm', 'CHEQ', 1158, -449637.0, -388.0),
 (Decimal('2021'), 'Aug', 'atm', 'SAVE', 874, -483370.0, -553.0),
 (Decimal('2021'), 'Aug', 'internet', 'CHEQ', 626, -499756.0, -798.0),
 (Decimal('2021'), 'Aug', 'internet', 'SAVE', 246, -23652.0, -96.0),
 (Decimal('2021'), 'Aug', 'system', 'CHEQ', 2953, 599681.0, 203.0),
 (Decimal('2021'), 'Aug', 'system', 'SAVE', 1445, 398726.0, 276.0),
 (Decimal('2021'), 'Aug', 'teller', 'CHEQ', 84, 245658.0, 2925.0),
 (Decimal('2021'), 'Aug', 'teller', 'SAVE', 64, 115181.0, 1800.0),
 (Decimal('2021'), 'Dec', 'atm', 'CHEQ', 8527, -3353174.0, -393.0),
 (Decimal('2021'), 'Dec', 'atm', 'SAVE', 9522, -5946619.0, -625.0)]

3.3 How does the frequency of transactions by loyal customers change over time?

In [9]:
%%sql

SELECT
    EXTRACT(YEAR FROM t.record_date) AS year,
    TO_CHAR(t.record_date, 'Mon') AS month,
    CASE
        WHEN c.number_of_accounts > (
            SELECT AVG(number_of_accounts) FROM customers
        )
        AND (
            SELECT COUNT(*) / COUNT(DISTINCT customer_identifier) FROM transactions
        ) < (
            SELECT COUNT(*) FROM transactions
        )
        THEN 'Loyal Customers'
        ELSE 'Regular Customers'
    END AS customer_type,
    COUNT(*) AS transaction_count,
    ROUND(SUM(t.amt)) AS total_amount
FROM transactions t
JOIN customers c 
ON t.customer_identifier = c.customer_identifier
GROUP BY 
    year, 
    TO_CHAR(t.record_date, 'Mon'), 
    EXTRACT(MONTH FROM t.record_date), 
    customer_type
ORDER BY 
    year, 
    EXTRACT(MONTH FROM t.record_date), 
    customer_type;

 * postgresql://postgres:***@localhost:5432/customerdb
28 rows affected.

[(Decimal('2021'), 'Jul', 'Loyal Customers', 1409, -2811.0),
 (Decimal('2021'), 'Jul', 'Regular Customers', 854, -10081.0),
 (Decimal('2021'), 'Aug', 'Loyal Customers', 4285, -82960.0),
 (Decimal('2021'), 'Aug', 'Regular Customers', 3165, -14210.0),
 (Decimal('2021'), 'Sep', 'Loyal Customers', 10468, 98382.0),
 (Decimal('2021'), 'Sep', 'Regular Customers', 7110, 126878.0),
 (Decimal('2021'), 'Oct', 'Loyal Customers', 17272, -158635.0),
 (Decimal('2021'), 'Oct', 'Regular Customers', 14341, -193059.0),
 (Decimal('2021'), 'Nov', 'Loyal Customers', 25948, 295537.0),
 (Decimal('2021'), 'Nov', 'Regular Customers', 22038, 276822.0),
 (Decimal('2021'), 'Dec', 'Loyal Customers', 44517, -608044.0),
 (Decimal('2021'), 'Dec', 'Regular Customers', 35755, -205440.0),
 (Decimal('2022'), 'Jan', 'Loyal Customers', 48983, 376063.0),
 (Decimal('2022'), 'Jan', 'Regular Customers', 37165, 155740.0),
 (Decimal('2022'), 'Feb', 'Loyal Customers', 56382, 547304.0),
 (Decimal('2022'), 'Feb', 'Regular Customers', 42992, 1330452.0),
 (Decimal('2022'), 'Mar', 'Loyal Customers', 65811, -118010.0),
 (Decimal('2022'), 'Mar', 'Regular Customers', 50425, 301836.0),
 (Decimal('2022'), 'Apr', 'Loyal Customers', 57000, 180697.0),
 (Decimal('2022'), 'Apr', 'Regular Customers', 43561, 1129868.0),
 (Decimal('2022'), 'May', 'Loyal Customers', 53676, 1067255.0),
 (Decimal('2022'), 'May', 'Regular Customers', 38940, 970934.0),
 (Decimal('2022'), 'Jun', 'Loyal Customers', 42645, 731587.0),
 (Decimal('2022'), 'Jun', 'Regular Customers', 29941, 1256900.0),
 (Decimal('2022'), 'Jul', 'Loyal Customers', 33155, 34907.0),
 (Decimal('2022'), 'Jul', 'Regular Customers', 23618, 682175.0),
 (Decimal('2022'), 'Aug', 'Loyal Customers', 18383, 846674.0),
 (Decimal('2022'), 'Aug', 'Regular Customers', 17705, 1482111.0)]

### Monthly Unpaid Transactions and Customer Count over the period of 14 months

In [10]:
%%sql
SELECT 
    CONCAT(EXTRACT(YEAR FROM t.record_date), '-', EXTRACT(MONTH FROM t.record_date)) AS year_month,
    ROUND(SUM(t.amt)) AS total_unpaid,
    COUNT(DISTINCT c.customer_identifier) AS bad_count
FROM transactions t
JOIN customers c ON t.customer_identifier = c.customer_identifier

WHERE transaction_description IN ('BAD DEBT W/OFF', 'DC UNPAID', 'NAEDO DO UNPD', 'ACB DEBIT REVERSAL', 'UNPAID DEBIT')
GROUP BY year_month
ORDER BY year_month ASC

 * postgresql://postgres:***@localhost:5432/customerdb
14 rows affected.

[('2021-10', 65590.0, 60),
 ('2021-11', 95085.0, 85),
 ('2021-12', 139903.0, 148),
 ('2021-7', 9680.0, 9),
 ('2021-8', 19784.0, 21),
 ('2021-9', 32853.0, 34),
 ('2022-1', 178955.0, 200),
 ('2022-2', 168752.0, 202),
 ('2022-3', 236213.0, 231),
 ('2022-4', 211973.0, 233),
 ('2022-5', 203222.0, 240),
 ('2022-6', 186600.0, 198),
 ('2022-7', 159847.0, 183),
 ('2022-8', 108278.0, 153)]