### Connecting to Postgresql

In [35]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (2.0.36)
Requirement already satisfied: typing-extensions>=4.6.0 in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from sqlalchemy) (4.7.1)
Requirement already satisfied: greenlet!=0.4.17 in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from sqlalchemy) (0.4.15)
Requirement already satisfied: importlib-metadata in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from sqlalchemy) (6.0.0)
Requirement already satisfied: zipp>=0.5 in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from importlib-metadata->sqlalchemy) (2.2.0)
Note: you may need to restart the kernel to use updated packages.

In [36]:
pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (2.9.9)
Note: you may need to restart the kernel to use updated packages.

In [37]:
%load_ext sql
from sqlalchemy import create_engine
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [38]:
pip install ipython-sql

Requirement already satisfied: ipython-sql in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (0.5.0)
Requirement already satisfied: prettytable in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython-sql) (3.7.0)
Requirement already satisfied: ipython in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython-sql) (7.12.0)
Requirement already satisfied: sqlalchemy>=2.0 in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython-sql) (2.0.36)
Requirement already satisfied: sqlparse in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython-sql) (0.4.3)
Requirement already satisfied: six in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython-sql) (1.14.0)
Requirement already satisfied: ipython-genutils in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.7.1)
Requirement already satisfied: greenlet!=0.4.17 in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from sqlalchemy>=2.0->ipython-sql) (0.4.15)
Requirement already satisfied: importlib-metadata in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from sqlalchemy>=2.0->ipython-sql) (6.0.0)
Requirement already satisfied: setuptools>=18.5 in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython->ipython-sql) (46.0.0.post20200309)
Requirement already satisfied: jedi>=0.10 in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython->ipython-sql) (0.14.1)
Requirement already satisfied: decorator in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython->ipython-sql) (4.4.1)
Requirement already satisfied: pickleshare in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython->ipython-sql) (4.3.3)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython->ipython-sql) (3.0.3)
Requirement already satisfied: pygments in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython->ipython-sql) (2.5.2)
Requirement already satisfied: backcall in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython->ipython-sql) (0.1.0)
Requirement already satisfied: pexpect in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython->ipython-sql) (4.8.0)
Requirement already satisfied: appnope in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython->ipython-sql) (0.1.0)
Requirement already satisfied: wcwidth in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from prettytable->ipython-sql) (0.1.8)
Requirement already satisfied: parso>=0.5.0 in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from jedi>=0.10->ipython->ipython-sql) (0.5.2)
Requirement already satisfied: zipp>=0.5 in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from importlib-metadata->sqlalchemy>=2.0->ipython-sql) (2.2.0)
Requirement already satisfied: ptyprocess>=0.5 in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from pexpect->ipython->ipython-sql) (0.6.0)
Note: you may need to restart the kernel to use updated packages.

In [39]:
%sql postgresql://postgres:@localhost:5432/customerdb

### 3. Periodic Analysis

## Overview

### 3.1 How does the transaction activity of customers from different vary over time?

In [40]:
%%sql
SELECT
    EXTRACT(YEAR FROM record_date) AS year,
    TO_CHAR(record_date, 'Mon') AS month,
    i.income_group_desc as income_group,
    COUNT(*) AS transaction_count,
    ROUND(SUM(amt)) AS total_transaction_value,
    ROUND(AVG(amt)) AS avg_transaction_value
FROM transactions t
JOIN customers c ON t.customer_identifier = c.customer_identifier
JOIN income_group i ON c.income_group_code = i.income_group_code
GROUP BY year, TO_CHAR(t.record_date, 'Mon'), EXTRACT(MONTH FROM t.record_date), i.income_group_desc
ORDER BY year, EXTRACT(MONTH FROM t.record_date), i.income_group_desc
limit 10;

 * postgresql://postgres:***@localhost:5432/customerdb

10 rows affected.

[(Decimal('2021'), 'Jul', 'R10,000 - 11,999', 156, 16132.0, 103.0),
 (Decimal('2021'), 'Jul', 'R12,000 - 14,999', 230, -13647.0, -59.0),
 (Decimal('2021'), 'Jul', 'R15,000 - 19,999', 182, -8839.0, -49.0),
 (Decimal('2021'), 'Jul', 'R20,000 - 24,999', 200, 5447.0, 27.0),
 (Decimal('2021'), 'Jul', 'R25,000 - 33,999', 732, -2451.0, -3.0),
 (Decimal('2021'), 'Jul', 'R3,000 - 3,999', 11, 210.0, 19.0),
 (Decimal('2021'), 'Jul', 'R34,000 - 41,999', 41, 1155.0, 28.0),
 (Decimal('2021'), 'Jul', 'R4,000 - 4,999', 41, -504.0, -12.0),
 (Decimal('2021'), 'Jul', 'R42,000 - 62,999', 191, -4302.0, -23.0),
 (Decimal('2021'), 'Jul', 'R5,000 - 5,999', 152, -7943.0, -52.0)]

### 3.2 Are there any anomailities you can identify over time?
### What is the correlation between transaction counts and total transaction amounts for each product code?

In [41]:
%%sql

SELECT
    EXTRACT(YEAR FROM t.record_date) AS year,
    TO_CHAR(t.record_date, 'Mon') AS month,
    t.product_code,
    COUNT(customer_identifier) AS transaction_count, 
    ROUND(SUM(amt)) AS total_amt
FROM transactions t
GROUP BY year, TO_CHAR(t.record_date, 'Mon'), t.product_code, EXTRACT(MONTH FROM t.record_date)
ORDER BY year, EXTRACT(MONTH FROM t.record_date), t.product_code;

 * postgresql://postgres:***@localhost:5432/customerdb
28 rows affected.

[(Decimal('2021'), 'Jul', 'CHEQ', 1436, -15401.0),
 (Decimal('2021'), 'Jul', 'SAVE', 827, 2509.0),
 (Decimal('2021'), 'Aug', 'CHEQ', 4821, -104053.0),
 (Decimal('2021'), 'Aug', 'SAVE', 2629, 6884.0),
 (Decimal('2021'), 'Sep', 'CHEQ', 11110, 117962.0),
 (Decimal('2021'), 'Sep', 'SAVE', 6468, 107299.0),
 (Decimal('2021'), 'Oct', 'CHEQ', 18514, -371630.0),
 (Decimal('2021'), 'Oct', 'SAVE', 13099, 19936.0),
 (Decimal('2021'), 'Nov', 'CHEQ', 27513, 302617.0),
 (Decimal('2021'), 'Nov', 'SAVE', 20473, 269743.0),
 (Decimal('2021'), 'Dec', 'CHEQ', 43471, -839668.0),
 (Decimal('2021'), 'Dec', 'SAVE', 36801, 26185.0),
 (Decimal('2022'), 'Jan', 'CHEQ', 46611, 203843.0),
 (Decimal('2022'), 'Jan', 'SAVE', 39537, 327960.0),
 (Decimal('2022'), 'Feb', 'CHEQ', 50920, 369670.0),
 (Decimal('2022'), 'Feb', 'SAVE', 48454, 1508086.0),
 (Decimal('2022'), 'Mar', 'CHEQ', 62155, 154275.0),
 (Decimal('2022'), 'Mar', 'SAVE', 54081, 29551.0),
 (Decimal('2022'), 'Apr', 'CHEQ', 54621, 1347655.0),
 (Decimal('2022'), 'Apr', 'SAVE', 45940, -37089.0),
 (Decimal('2022'), 'May', 'CHEQ', 52864, 2001785.0),
 (Decimal('2022'), 'May', 'SAVE', 39752, 36403.0),
 (Decimal('2022'), 'Jun', 'CHEQ', 42325, 2115126.0),
 (Decimal('2022'), 'Jun', 'SAVE', 30261, -126639.0),
 (Decimal('2022'), 'Jul', 'CHEQ', 34835, 1370629.0),
 (Decimal('2022'), 'Jul', 'SAVE', 21938, -653547.0),
 (Decimal('2022'), 'Aug', 'CHEQ', 24143, 2512645.0),
 (Decimal('2022'), 'Aug', 'SAVE', 11945, -183860.0)]

### 3.3 How does the frequency of transactions by loyal customers change over time?

In [42]:
%%sql

SELECT
    EXTRACT(YEAR FROM t.record_date) AS year,
    TO_CHAR(t.record_date, 'Mon') AS month,
    CASE
        WHEN c.number_of_accounts > (
            SELECT AVG(number_of_accounts) FROM customers
        )
        AND (
            SELECT COUNT(*) / COUNT(DISTINCT customer_identifier) FROM transactions
        ) < (
            SELECT COUNT(*) FROM transactions
        )
        THEN 'Loyal Customers'
        ELSE 'Regular Customers'
    END AS customer_type,
    COUNT(*) AS transaction_count,
    ROUND(SUM(t.amt)) AS total_amount,
    ROUND(AVG(t.amt)) AS total_amount
FROM transactions t
JOIN customers c 
ON t.customer_identifier = c.customer_identifier
GROUP BY 
    year, 
    TO_CHAR(t.record_date, 'Mon'), 
    EXTRACT(MONTH FROM t.record_date), 
    customer_type
ORDER BY 
    year, 
    EXTRACT(MONTH FROM t.record_date), 
    customer_type;

 * postgresql://postgres:***@localhost:5432/customerdb

28 rows affected.

[(Decimal('2021'), 'Jul', 'Loyal Customers', 1409, -2811.0, -2.0),
 (Decimal('2021'), 'Jul', 'Regular Customers', 854, -10081.0, -12.0),
 (Decimal('2021'), 'Aug', 'Loyal Customers', 4285, -82960.0, -19.0),
 (Decimal('2021'), 'Aug', 'Regular Customers', 3165, -14210.0, -4.0),
 (Decimal('2021'), 'Sep', 'Loyal Customers', 10468, 98382.0, 9.0),
 (Decimal('2021'), 'Sep', 'Regular Customers', 7110, 126878.0, 18.0),
 (Decimal('2021'), 'Oct', 'Loyal Customers', 17272, -158635.0, -9.0),
 (Decimal('2021'), 'Oct', 'Regular Customers', 14341, -193059.0, -13.0),
 (Decimal('2021'), 'Nov', 'Loyal Customers', 25948, 295537.0, 11.0),
 (Decimal('2021'), 'Nov', 'Regular Customers', 22038, 276822.0, 13.0),
 (Decimal('2021'), 'Dec', 'Loyal Customers', 44517, -608044.0, -14.0),
 (Decimal('2021'), 'Dec', 'Regular Customers', 35755, -205440.0, -6.0),
 (Decimal('2022'), 'Jan', 'Loyal Customers', 48983, 376063.0, 8.0),
 (Decimal('2022'), 'Jan', 'Regular Customers', 37165, 155740.0, 4.0),
 (Decimal('2022'), 'Feb', 'Loyal Customers', 56382, 547304.0, 10.0),
 (Decimal('2022'), 'Feb', 'Regular Customers', 42992, 1330452.0, 31.0),
 (Decimal('2022'), 'Mar', 'Loyal Customers', 65811, -118010.0, -2.0),
 (Decimal('2022'), 'Mar', 'Regular Customers', 50425, 301836.0, 6.0),
 (Decimal('2022'), 'Apr', 'Loyal Customers', 57000, 180697.0, 3.0),
 (Decimal('2022'), 'Apr', 'Regular Customers', 43561, 1129868.0, 26.0),
 (Decimal('2022'), 'May', 'Loyal Customers', 53676, 1067255.0, 20.0),
 (Decimal('2022'), 'May', 'Regular Customers', 38940, 970934.0, 25.0),
 (Decimal('2022'), 'Jun', 'Loyal Customers', 42645, 731587.0, 17.0),
 (Decimal('2022'), 'Jun', 'Regular Customers', 29941, 1256900.0, 42.0),
 (Decimal('2022'), 'Jul', 'Loyal Customers', 33155, 34907.0, 1.0),
 (Decimal('2022'), 'Jul', 'Regular Customers', 23618, 682175.0, 29.0),
 (Decimal('2022'), 'Aug', 'Loyal Customers', 18383, 846674.0, 46.0),
 (Decimal('2022'), 'Aug', 'Regular Customers', 17705, 1482111.0, 84.0)]

### 3.4  Monthly Unpaid Transactions and Customer Count over the period of 14 months

In [43]:
%%sql
SELECT 
    CONCAT(EXTRACT(YEAR FROM t.record_date), '-', EXTRACT(MONTH FROM t.record_date)) AS year_month,
    ROUND(SUM(t.amt)) AS total_unpaid,
    COUNT(DISTINCT c.customer_identifier) AS bad_count
FROM transactions t
JOIN customers c ON t.customer_identifier = c.customer_identifier

WHERE transaction_description IN ('BAD DEBT W/OFF', 'DC UNPAID', 'NAEDO DO UNPD', 'ACB DEBIT REVERSAL', 'UNPAID DEBIT')
GROUP BY year_month
ORDER BY year_month ASC

 * postgresql://postgres:***@localhost:5432/customerdb

14 rows affected.

[('2021-10', 65590.0, 60),
 ('2021-11', 95085.0, 85),
 ('2021-12', 139903.0, 148),
 ('2021-7', 9680.0, 9),
 ('2021-8', 19784.0, 21),
 ('2021-9', 32853.0, 34),
 ('2022-1', 178955.0, 200),
 ('2022-2', 168752.0, 202),
 ('2022-3', 236213.0, 231),
 ('2022-4', 211973.0, 233),
 ('2022-5', 203222.0, 240),
 ('2022-6', 186600.0, 198),
 ('2022-7', 159847.0, 183),
 ('2022-8', 108278.0, 153)]