### Connecting to Postgresql

In [ ]:
pip install sqlalchemy #helps python program to talk to databases

Requirement already satisfied: sqlalchemy in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (2.0.36)
Requirement already satisfied: typing-extensions>=4.6.0 in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from sqlalchemy) (4.7.1)
Requirement already satisfied: greenlet!=0.4.17 in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from sqlalchemy) (0.4.15)
Requirement already satisfied: importlib-metadata in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from sqlalchemy) (6.0.0)
Requirement already satisfied: zipp>=0.5 in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from importlib-metadata->sqlalchemy) (2.2.0)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
pip install psycopg2-binary #programs to connect to and work with PostgreSQL databases

Requirement already satisfied: psycopg2-binary in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (2.9.9)
Note: you may need to restart the kernel to use updated packages.

In [36]:
%load_ext sql #loads sql extension
from sqlalchemy import create_engine #set up a connection between Python and a database
%config SqlMagic.style = '_DEPRECATED_DEFAULT' #show SQL results using an older style.

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [37]:
pip install ipython-sql

Requirement already satisfied: ipython-sql in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (0.5.0)
Requirement already satisfied: prettytable in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython-sql) (3.7.0)
Requirement already satisfied: ipython in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython-sql) (7.12.0)
Requirement already satisfied: sqlalchemy>=2.0 in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython-sql) (2.0.36)
Requirement already satisfied: sqlparse in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython-sql) (0.4.3)
Requirement already satisfied: six in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython-sql) (1.14.0)
Requirement already satisfied: ipython-genutils in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.7.1)
Requirement already satisfied: greenlet!=0.4.17 in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from sqlalchemy>=2.0->ipython-sql) (0.4.15)
Requirement already satisfied: importlib-metadata in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from sqlalchemy>=2.0->ipython-sql) (6.0.0)
Requirement already satisfied: setuptools>=18.5 in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython->ipython-sql) (46.0.0.post20200309)
Requirement already satisfied: jedi>=0.10 in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython->ipython-sql) (0.14.1)
Requirement already satisfied: decorator in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython->ipython-sql) (4.4.1)
Requirement already satisfied: pickleshare in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython->ipython-sql) (4.3.3)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython->ipython-sql) (3.0.3)
Requirement already satisfied: pygments in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython->ipython-sql) (2.5.2)
Requirement already satisfied: backcall in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython->ipython-sql) (0.1.0)
Requirement already satisfied: pexpect in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython->ipython-sql) (4.8.0)
Requirement already satisfied: appnope in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython->ipython-sql) (0.1.0)
Requirement already satisfied: wcwidth in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from prettytable->ipython-sql) (0.1.8)
Requirement already satisfied: parso>=0.5.0 in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from jedi>=0.10->ipython->ipython-sql) (0.5.2)
Requirement already satisfied: zipp>=0.5 in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from importlib-metadata->sqlalchemy>=2.0->ipython-sql) (2.2.0)
Requirement already satisfied: ptyprocess>=0.5 in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from pexpect->ipython->ipython-sql) (0.6.0)
Note: you may need to restart the kernel to use updated packages.

In [38]:
%sql postgresql://postgres:@localhost:5432/customerdb #connection string

### 3. Periodic Analysis

## Overview

### 3.1.1 How does the transaction activity of customers from different income-groups vary over time?

In [48]:

%%sql
SELECT
    CONCAT(EXTRACT(YEAR FROM t.record_date), '-', EXTRACT(MONTH FROM t.record_date)) AS year_month,
    i.income_group_desc as income_group,
    COUNT(*) AS transaction_count,
    ROUND(SUM(amt)) AS total_transaction_value,
    ROUND(AVG(amt)) AS avg_transaction_value
FROM transactions t
JOIN customers c ON t.customer_identifier = c.customer_identifier
JOIN income_group i ON c.income_group_code = i.income_group_code
WHERE i.income_group_desc != 'NOT SUPPLIED'
GROUP BY year_month, i.income_group_desc
ORDER BY year_month, i.income_group_desc

 * postgresql://postgres:***@localhost:5432/customerdb
278 rows affected.

[('2021-10', 'R 0 - 499', 614, 11240.0, 18.0),
 ('2021-10', 'R1,000 - 1,999', 186, 3419.0, 18.0),
 ('2021-10', 'R10,000 - 11,999', 2423, -102420.0, -42.0),
 ('2021-10', 'R12,000 - 14,999', 2655, -53336.0, -20.0),
 ('2021-10', 'R15,000 - 19,999', 4957, 31961.0, 6.0),
 ('2021-10', 'R2,000 - 2,999', 156, 12780.0, 82.0),
 ('2021-10', 'R20,000 - 24,999', 4152, -56292.0, -14.0),
 ('2021-10', 'R25,000 - 33,999', 4613, -49917.0, -11.0),
 ('2021-10', 'R3,000 - 3,999', 371, 18809.0, 51.0),
 ('2021-10', 'R34,000 - 41,999', 2056, -30124.0, -15.0),
 ('2021-10', 'R4,000 - 4,999', 921, 2104.0, 2.0),
 ('2021-10', 'R42,000 - 62,999', 1128, -16456.0, -15.0),
 ('2021-10', 'R5,000 - 5,999', 1478, -14147.0, -10.0),
 ('2021-10', 'R500 - 999', 32, -1889.0, -59.0),
 ('2021-10', 'R6,000 - 6,999', 1434, -7544.0, -5.0),
 ('2021-10', 'R63,000 - 84,999', 202, 477.0, 2.0),
 ('2021-10', 'R7,000 - 7,999', 1411, -52612.0, -37.0),
 ('2021-10', 'R8,000 - 8,999', 2016, -41543.0, -21.0),
 ('2021-10', 'R85,000 - 124,999', 3, -162.0, -54.0),
 ('2021-10', 'R9,000 - 9,999', 787, -4418.0, -6.0),
 ('2021-11', 'R 0 - 499', 989, 4098.0, 4.0),
 ('2021-11', 'R1,000 - 1,999', 385, 635.0, 2.0),
 ('2021-11', 'R10,000 - 11,999', 4107, 114917.0, 28.0),
 ('2021-11', 'R12,000 - 14,999', 4624, 66841.0, 14.0),
 ('2021-11', 'R15,000 - 19,999', 7846, 10444.0, 1.0),
 ('2021-11', 'R2,000 - 2,999', 375, -15692.0, -42.0),
 ('2021-11', 'R20,000 - 24,999', 5766, 99410.0, 17.0),
 ('2021-11', 'R25,000 - 33,999', 6434, 114537.0, 18.0),
 ('2021-11', 'R3,000 - 3,999', 638, 9619.0, 15.0),
 ('2021-11', 'R34,000 - 41,999', 2550, 33639.0, 13.0),
 ('2021-11', 'R4,000 - 4,999', 1433, 1846.0, 1.0),
 ('2021-11', 'R42,000 - 62,999', 1560, 14046.0, 9.0),
 ('2021-11', 'R5,000 - 5,999', 2071, 54342.0, 26.0),
 ('2021-11', 'R500 - 999', 162, -16012.0, -99.0),
 ('2021-11', 'R6,000 - 6,999', 2109, 6588.0, 3.0),
 ('2021-11', 'R63,000 - 84,999', 375, 12210.0, 33.0),
 ('2021-11', 'R7,000 - 7,999', 2378, -1490.0, -1.0),
 ('2021-11', 'R8,000 - 8,999', 2645, 52413.0, 20.0),
 ('2021-11', 'R85,000 - 124,999', 10, -19.0, -2.0),
 ('2021-11', 'R9,000 - 9,999', 1519, 9270.0, 6.0),
 ('2021-12', 'R 0 - 499', 1320, -30396.0, -23.0),
 ('2021-12', 'R1,000 - 1,999', 723, 12603.0, 17.0),
 ('2021-12', 'R10,000 - 11,999', 6249, -60787.0, -10.0),
 ('2021-12', 'R12,000 - 14,999', 8013, -183662.0, -23.0),
 ('2021-12', 'R125,000+', 1, -250.0, -250.0),
 ('2021-12', 'R15,000 - 19,999', 12422, -112725.0, -9.0),
 ('2021-12', 'R2,000 - 2,999', 602, 39884.0, 66.0),
 ('2021-12', 'R20,000 - 24,999', 9543, -207259.0, -22.0),
 ('2021-12', 'R25,000 - 33,999', 9253, -67442.0, -7.0),
 ('2021-12', 'R3,000 - 3,999', 1215, 16614.0, 14.0),
 ('2021-12', 'R34,000 - 41,999', 4450, -95108.0, -21.0),
 ('2021-12', 'R4,000 - 4,999', 3507, -56397.0, -16.0),
 ('2021-12', 'R42,000 - 62,999', 1975, -87585.0, -44.0),
 ('2021-12', 'R5,000 - 5,999', 3922, 10870.0, 3.0),
 ('2021-12', 'R500 - 999', 253, 24189.0, 96.0),
 ('2021-12', 'R6,000 - 6,999', 4294, -13810.0, -3.0),
 ('2021-12', 'R63,000 - 84,999', 566, 16401.0, 29.0),
 ('2021-12', 'R7,000 - 7,999', 4298, 20640.0, 5.0),
 ('2021-12', 'R8,000 - 8,999', 4734, -41663.0, -9.0),
 ('2021-12', 'R85,000 - 124,999', 51, 1208.0, 24.0),
 ('2021-12', 'R9,000 - 9,999', 2863, 784.0, 0.0),
 ('2021-7', 'R10,000 - 11,999', 156, 16132.0, 103.0),
 ('2021-7', 'R12,000 - 14,999', 230, -13647.0, -59.0),
 ('2021-7', 'R15,000 - 19,999', 182, -8839.0, -49.0),
 ('2021-7', 'R20,000 - 24,999', 200, 5447.0, 27.0),
 ('2021-7', 'R25,000 - 33,999', 732, -2451.0, -3.0),
 ('2021-7', 'R3,000 - 3,999', 11, 210.0, 19.0),
 ('2021-7', 'R34,000 - 41,999', 41, 1155.0, 28.0),
 ('2021-7', 'R4,000 - 4,999', 41, -504.0, -12.0),
 ('2021-7', 'R42,000 - 62,999', 191, -4302.0, -23.0),
 ('2021-7', 'R5,000 - 5,999', 152, -7943.0, -52.0),
 ('2021-7', 'R6,000 - 6,999', 60, -1724.0, -29.0),
 ('2021-7', 'R63,000 - 84,999', 5, 28.0, 6.0),
 ('2021-7', 'R7,000 - 7,999', 139, 3240.0, 23.0),
 ('2021-7', 'R8,000 - 8,999', 123, 308.0, 3.0),
 ('2021-8', 'R 0 - 499', 34, 67.0, 2.0),
 ('2021-8', 'R10,000 - 11,999', 561, -32388.0, -58.0),
 ('2021-8', 'R12,000 - 14,999', 559, 11314.0, 20.0),
 ('2021-8', 'R15,000 - 19,999', 1102, -8175.0, -7.0),
 ('2021-8', 'R20,000 - 24,999', 848, -13685.0, -16.0),
 ('2021-8', 'R25,000 - 33,999', 1332, 3788.0, 3.0),
 ('2021-8', 'R3,000 - 3,999', 35, 535.0, 15.0),
 ('2021-8', 'R34,000 - 41,999', 530, -28345.0, -53.0),
 ('2021-8', 'R4,000 - 4,999', 95, 17452.0, 184.0),
 ('2021-8', 'R42,000 - 62,999', 433, -22542.0, -52.0),
 ('2021-8', 'R5,000 - 5,999', 354, 5906.0, 17.0),
 ('2021-8', 'R6,000 - 6,999', 264, -22042.0, -83.0),
 ('2021-8', 'R63,000 - 84,999', 112, -107.0, -1.0),
 ('2021-8', 'R7,000 - 7,999', 422, -13195.0, -31.0),
 ('2021-8', 'R8,000 - 8,999', 522, 1967.0, 4.0),
 ('2021-8', 'R9,000 - 9,999', 247, 2282.0, 9.0),
 ('2021-9', 'R 0 - 499', 110, -1726.0, -16.0),
 ('2021-9', 'R1,000 - 1,999', 86, 10099.0, 117.0),
 ('2021-9', 'R10,000 - 11,999', 1341, 63381.0, 47.0),
 ('2021-9', 'R12,000 - 14,999', 1532, -31916.0, -21.0),
 ('2021-9', 'R15,000 - 19,999', 2736, 8338.0, 3.0),
 ('2021-9', 'R2,000 - 2,999', 26, 630.0, 24.0),
 ('2021-9', 'R20,000 - 24,999', 2375, 72433.0, 30.0),
 ('2021-9', 'R25,000 - 33,999', 2754, -25309.0, -9.0),
 ('2021-9', 'R3,000 - 3,999', 80, -2291.0, -29.0),
 ('2021-9', 'R34,000 - 41,999', 1458, 12948.0, 9.0),
 ('2021-9', 'R4,000 - 4,999', 415, -7869.0, -19.0),
 ('2021-9', 'R42,000 - 62,999', 725, 19782.0, 27.0),
 ('2021-9', 'R5,000 - 5,999', 791, 3277.0, 4.0),
 ('2021-9', 'R500 - 999', 1, 0.0, 0.0),
 ('2021-9', 'R6,000 - 6,999', 633, 20042.0, 32.0),
 ('2021-9', 'R63,000 - 84,999', 162, -8143.0, -50.0),
 ('2021-9', 'R7,000 - 7,999', 762, 49101.0, 64.0),
 ('2021-9', 'R8,000 - 8,999', 1096, 42736.0, 39.0),
 ('2021-9', 'R85,000 - 124,999', 1, 0.0, 0.0),
 ('2021-9', 'R9,000 - 9,999', 465, 216.0, 0.0),
 ('2022-1', 'R 0 - 499', 1538, 34532.0, 22.0),
 ('2022-1', 'R1,000 - 1,999', 992, -29045.0, -29.0),
 ('2022-1', 'R10,000 - 11,999', 6928, 54209.0, 8.0),
 ('2022-1', 'R12,000 - 14,999', 8041, -53561.0, -7.0),
 ('2022-1', 'R125,000+', 11, 4744.0, 431.0),
 ('2022-1', 'R15,000 - 19,999', 14023, -25636.0, -2.0),
 ('2022-1', 'R2,000 - 2,999', 683, 4662.0, 7.0),
 ('2022-1', 'R20,000 - 24,999', 10501, 157013.0, 15.0),
 ('2022-1', 'R25,000 - 33,999', 10529, 108426.0, 10.0),
 ('2022-1', 'R3,000 - 3,999', 1234, -391.0, -0.0),
 ('2022-1', 'R34,000 - 41,999', 4706, -105173.0, -22.0),
 ('2022-1', 'R4,000 - 4,999', 3581, 17970.0, 5.0),
 ('2022-1', 'R42,000 - 62,999', 2239, 61170.0, 27.0),
 ('2022-1', 'R5,000 - 5,999', 4081, 71002.0, 17.0),
 ('2022-1', 'R500 - 999', 291, -16664.0, -57.0),
 ('2022-1', 'R6,000 - 6,999', 4047, 102386.0, 25.0),
 ('2022-1', 'R63,000 - 84,999', 504, -4044.0, -8.0),
 ('2022-1', 'R7,000 - 7,999', 4589, 165830.0, 36.0),
 ('2022-1', 'R8,000 - 8,999', 4528, 19503.0, 4.0),
 ('2022-1', 'R85,000 - 124,999', 47, 5574.0, 119.0),
 ('2022-1', 'R9,000 - 9,999', 3020, -39494.0, -13.0),
 ('2022-2', 'R 0 - 499', 1840, -30352.0, -16.0),
 ('2022-2', 'R1,000 - 1,999', 998, 22189.0, 22.0),
 ('2022-2', 'R10,000 - 11,999', 8283, 320737.0, 39.0),
 ('2022-2', 'R12,000 - 14,999', 9041, 100070.0, 11.0),
 ('2022-2', 'R125,000+', 11, 1061.0, 96.0),
 ('2022-2', 'R15,000 - 19,999', 15536, 218884.0, 14.0),
 ('2022-2', 'R2,000 - 2,999', 679, -4335.0, -6.0),
 ('2022-2', 'R20,000 - 24,999', 12073, 167945.0, 14.0),
 ('2022-2', 'R25,000 - 33,999', 10546, 22166.0, 2.0),
 ('2022-2', 'R3,000 - 3,999', 1453, 50663.0, 35.0),
 ('2022-2', 'R34,000 - 41,999', 5230, 96451.0, 18.0),
 ('2022-2', 'R4,000 - 4,999', 4240, 186309.0, 44.0),
 ('2022-2', 'R42,000 - 62,999', 2935, -8835.0, -3.0),
 ('2022-2', 'R5,000 - 5,999', 4773, 126196.0, 26.0),
 ('2022-2', 'R500 - 999', 299, 7833.0, 26.0),
 ('2022-2', 'R6,000 - 6,999', 5230, 101610.0, 19.0),
 ('2022-2', 'R63,000 - 84,999', 778, -11298.0, -15.0),
 ('2022-2', 'R7,000 - 7,999', 5499, 73220.0, 13.0),
 ('2022-2', 'R8,000 - 8,999', 5875, 316516.0, 54.0),
 ('2022-2', 'R85,000 - 124,999', 126, 15776.0, 125.0),
 ('2022-2', 'R9,000 - 9,999', 3912, 106309.0, 27.0),
 ('2022-3', 'R 0 - 499', 2237, -3531.0, -2.0),
 ('2022-3', 'R1,000 - 1,999', 1233, -7342.0, -6.0),
 ('2022-3', 'R10,000 - 11,999', 9541, -28062.0, -3.0),
 ('2022-3', 'R12,000 - 14,999', 11649, 112941.0, 10.0),
 ('2022-3', 'R125,000+', 11, -829.0, -75.0),
 ('2022-3', 'R15,000 - 19,999', 18297, -87094.0, -5.0),
 ('2022-3', 'R2,000 - 2,999', 872, -3054.0, -4.0),
 ('2022-3', 'R20,000 - 24,999', 15035, -74019.0, -5.0),
 ('2022-3', 'R25,000 - 33,999', 12077, -95688.0, -8.0),
 ('2022-3', 'R3,000 - 3,999', 1948, -25591.0, -13.0),
 ('2022-3', 'R34,000 - 41,999', 5908, -132780.0, -22.0),
 ('2022-3', 'R4,000 - 4,999', 5159, -20948.0, -4.0),
 ('2022-3', 'R42,000 - 62,999', 3177, -24988.0, -8.0),
 ('2022-3', 'R5,000 - 5,999', 5159, 202210.0, 39.0),
 ('2022-3', 'R500 - 999', 355, 6911.0, 19.0),
 ('2022-3', 'R6,000 - 6,999', 5599, 147739.0, 26.0),
 ('2022-3', 'R63,000 - 84,999', 795, 5622.0, 7.0),
 ('2022-3', 'R7,000 - 7,999', 6078, 132932.0, 22.0),
 ('2022-3', 'R8,000 - 8,999', 6407, 18115.0, 3.0),
 ('2022-3', 'R85,000 - 124,999', 144, -16734.0, -116.0),
 ('2022-3', 'R9,000 - 9,999', 4549, 78469.0, 17.0),
 ('2022-4', 'R 0 - 499', 1870, 15735.0, 8.0),
 ('2022-4', 'R1,000 - 1,999', 979, 42478.0, 43.0),
 ('2022-4', 'R10,000 - 11,999', 8304, 170743.0, 21.0),
 ('2022-4', 'R12,000 - 14,999', 10702, -80480.0, -8.0),
 ('2022-4', 'R125,000+', 13, 934.0, 72.0),
 ('2022-4', 'R15,000 - 19,999', 15108, 25459.0, 2.0),
 ('2022-4', 'R2,000 - 2,999', 846, 109112.0, 129.0),
 ('2022-4', 'R20,000 - 24,999', 12416, 243438.0, 20.0),
 ('2022-4', 'R25,000 - 33,999', 10174, 177729.0, 17.0),
 ('2022-4', 'R3,000 - 3,999', 1821, 39031.0, 21.0),
 ('2022-4', 'R34,000 - 41,999', 4635, 24951.0, 5.0),
 ('2022-4', 'R4,000 - 4,999', 4968, 111113.0, 22.0),
 ('2022-4', 'R42,000 - 62,999', 2463, 24901.0, 10.0),
 ('2022-4', 'R5,000 - 5,999', 5039, 87354.0, 17.0),
 ('2022-4', 'R500 - 999', 288, -714.0, -2.0),
 ('2022-4', 'R6,000 - 6,999', 5066, 8093.0, 2.0),
 ('2022-4', 'R63,000 - 84,999', 562, 5015.0, 9.0),
 ('2022-4', 'R7,000 - 7,999', 5804, 118084.0, 20.0),
 ('2022-4', 'R8,000 - 8,999', 5322, 175698.0, 33.0),
 ('2022-4', 'R85,000 - 124,999', 116, 26540.0, 229.0),
 ('2022-4', 'R9,000 - 9,999', 4064, -14646.0, -4.0),
 ('2022-5', 'R 0 - 499', 1560, 51690.0, 33.0),
 ('2022-5', 'R1,000 - 1,999', 882, 88569.0, 100.0),
 ('2022-5', 'R10,000 - 11,999', 7884, 226981.0, 29.0),
 ('2022-5', 'R12,000 - 14,999', 10026, 78889.0, 8.0),
 ('2022-5', 'R125,000+', 9, -759.0, -84.0),
 ('2022-5', 'R15,000 - 19,999', 14191, 259696.0, 18.0),
 ('2022-5', 'R2,000 - 2,999', 665, 8951.0, 13.0),
 ('2022-5', 'R20,000 - 24,999', 11741, 324487.0, 28.0),
 ('2022-5', 'R25,000 - 33,999', 8208, 216575.0, 26.0),
 ('2022-5', 'R3,000 - 3,999', 1626, 45805.0, 28.0),
 ('2022-5', 'R34,000 - 41,999', 4091, -16459.0, -4.0),
 ('2022-5', 'R4,000 - 4,999', 4620, 140211.0, 30.0),
 ('2022-5', 'R42,000 - 62,999', 2361, 56763.0, 24.0),
 ('2022-5', 'R5,000 - 5,999', 4560, 132779.0, 29.0),
 ('2022-5', 'R500 - 999', 322, 33318.0, 103.0),
 ('2022-5', 'R6,000 - 6,999', 4449, 190211.0, 43.0),
 ('2022-5', 'R63,000 - 84,999', 669, 50338.0, 75.0),
 ('2022-5', 'R7,000 - 7,999', 5715, 108488.0, 19.0),
 ('2022-5', 'R8,000 - 8,999', 5183, 30455.0, 6.0),
 ('2022-5', 'R85,000 - 124,999', 111, 9252.0, 83.0),
 ('2022-5', 'R9,000 - 9,999', 3742, 1947.0, 1.0),
 ('2022-6', 'R 0 - 499', 1179, 30656.0, 26.0),
 ('2022-6', 'R1,000 - 1,999', 832, 402.0, 0.0),
 ('2022-6', 'R10,000 - 11,999', 5499, 11063.0, 2.0),
 ('2022-6', 'R12,000 - 14,999', 7891, 239052.0, 30.0),
 ('2022-6', 'R125,000+', 17, 14737.0, 867.0),
 ('2022-6', 'R15,000 - 19,999', 11310, 251435.0, 22.0),
 ('2022-6', 'R2,000 - 2,999', 458, 24749.0, 54.0),
 ('2022-6', 'R20,000 - 24,999', 9084, 121395.0, 13.0),
 ('2022-6', 'R25,000 - 33,999', 6105, 246966.0, 40.0),
 ('2022-6', 'R3,000 - 3,999', 1241, 9991.0, 8.0),
 ('2022-6', 'R34,000 - 41,999', 3115, 104366.0, 34.0),
 ('2022-6', 'R4,000 - 4,999', 4136, 108785.0, 26.0),
 ('2022-6', 'R42,000 - 62,999', 1782, 27859.0, 16.0),
 ('2022-6', 'R5,000 - 5,999', 3933, -22394.0, -6.0),
 ('2022-6', 'R500 - 999', 242, 57310.0, 237.0),
 ('2022-6', 'R6,000 - 6,999', 3620, 170495.0, 47.0),
 ('2022-6', 'R63,000 - 84,999', 559, 12094.0, 22.0),
 ('2022-6', 'R7,000 - 7,999', 4455, 166648.0, 37.0),
 ('2022-6', 'R8,000 - 8,999', 4140, 176673.0, 43.0),
 ('2022-6', 'R85,000 - 124,999', 123, 1489.0, 12.0),
 ('2022-6', 'R9,000 - 9,999', 2864, 234715.0, 82.0),
 ('2022-7', 'R 0 - 499', 1124, -55367.0, -49.0),
 ('2022-7', 'R1,000 - 1,999', 735, 11200.0, 15.0),
 ('2022-7', 'R10,000 - 11,999', 4846, 97267.0, 20.0),
 ('2022-7', 'R12,000 - 14,999', 5658, 107850.0, 19.0),
 ('2022-7', 'R125,000+', 44, 326.0, 7.0),
 ('2022-7', 'R15,000 - 19,999', 8732, -88726.0, -10.0),
 ('2022-7', 'R2,000 - 2,999', 272, 9273.0, 34.0),
 ('2022-7', 'R20,000 - 24,999', 6967, -18688.0, -3.0),
 ('2022-7', 'R25,000 - 33,999', 4868, 108535.0, 22.0),
 ('2022-7', 'R3,000 - 3,999', 1043, 35371.0, 34.0),
 ('2022-7', 'R34,000 - 41,999', 2402, 10978.0, 5.0),
 ('2022-7', 'R4,000 - 4,999', 2968, 122719.0, 41.0),
 ('2022-7', 'R42,000 - 62,999', 1739, 66777.0, 38.0),
 ('2022-7', 'R5,000 - 5,999', 2730, 156952.0, 57.0),
 ('2022-7', 'R500 - 999', 179, 14417.0, 81.0),
 ('2022-7', 'R6,000 - 6,999', 2818, -9868.0, -4.0),
 ('2022-7', 'R63,000 - 84,999', 451, 8474.0, 19.0),
 ('2022-7', 'R7,000 - 7,999', 3990, 32583.0, 8.0),
 ('2022-7', 'R8,000 - 8,999', 3166, 25441.0, 8.0),
 ('2022-7', 'R85,000 - 124,999', 47, 4872.0, 104.0),
 ('2022-7', 'R9,000 - 9,999', 1994, 76698.0, 38.0),
 ('2022-8', 'R 0 - 499', 579, 21726.0, 38.0),
 ('2022-8', 'R1,000 - 1,999', 288, -33399.0, -116.0),
 ('2022-8', 'R10,000 - 11,999', 3539, 270202.0, 76.0),
 ('2022-8', 'R12,000 - 14,999', 3587, 199458.0, 56.0),
 ('2022-8', 'R15,000 - 19,999', 5554, 367851.0, 66.0),
 ('2022-8', 'R2,000 - 2,999', 255, 85269.0, 334.0),
 ('2022-8', 'R20,000 - 24,999', 4392, 146775.0, 33.0),
 ('2022-8', 'R25,000 - 33,999', 3008, 160138.0, 53.0),
 ('2022-8', 'R3,000 - 3,999', 679, 84480.0, 124.0),
 ('2022-8', 'R34,000 - 41,999', 1503, 136475.0, 91.0),
 ('2022-8', 'R4,000 - 4,999', 2158, 138598.0, 64.0),
 ('2022-8', 'R42,000 - 62,999', 940, 15371.0, 16.0),
 ('2022-8', 'R5,000 - 5,999', 1676, 87722.0, 52.0),
 ('2022-8', 'R500 - 999', 72, 13110.0, 182.0),
 ('2022-8', 'R6,000 - 6,999', 1693, 48030.0, 28.0),
 ('2022-8', 'R63,000 - 84,999', 361, 2091.0, 6.0),
 ('2022-8', 'R7,000 - 7,999', 2282, 115359.0, 51.0),
 ('2022-8', 'R8,000 - 8,999', 1906, 377642.0, 198.0),
 ('2022-8', 'R85,000 - 124,999', 45, 17588.0, 391.0),
 ('2022-8', 'R9,000 - 9,999', 1571, 74297.0, 47.0)]


### 3.1.2 What is the correlation between transaction counts and total transaction amounts for each product code?

In [40]:
%%sql

SELECT
    CONCAT(EXTRACT(YEAR FROM t.record_date), '-', EXTRACT(MONTH FROM t.record_date)) AS year_month,
    t.product_code,
    COUNT(customer_identifier) AS transaction_count, 
    ROUND(SUM(amt)) AS total_amt
FROM transactions t
GROUP BY year_month, t.product_code
ORDER BY year_month, t.product_code;

 * postgresql://postgres:***@localhost:5432/customerdb
28 rows affected.

[('2021-10', 'CHEQ', 18514, -371630.0),
 ('2021-10', 'SAVE', 13099, 19936.0),
 ('2021-11', 'CHEQ', 27513, 302617.0),
 ('2021-11', 'SAVE', 20473, 269743.0),
 ('2021-12', 'CHEQ', 43471, -839668.0),
 ('2021-12', 'SAVE', 36801, 26185.0),
 ('2021-7', 'CHEQ', 1436, -15401.0),
 ('2021-7', 'SAVE', 827, 2509.0),
 ('2021-8', 'CHEQ', 4821, -104053.0),
 ('2021-8', 'SAVE', 2629, 6884.0),
 ('2021-9', 'CHEQ', 11110, 117962.0),
 ('2021-9', 'SAVE', 6468, 107299.0),
 ('2022-1', 'CHEQ', 46611, 203843.0),
 ('2022-1', 'SAVE', 39537, 327960.0),
 ('2022-2', 'CHEQ', 50920, 369670.0),
 ('2022-2', 'SAVE', 48454, 1508086.0),
 ('2022-3', 'CHEQ', 62155, 154275.0),
 ('2022-3', 'SAVE', 54081, 29551.0),
 ('2022-4', 'CHEQ', 54621, 1347655.0),
 ('2022-4', 'SAVE', 45940, -37089.0),
 ('2022-5', 'CHEQ', 52864, 2001785.0),
 ('2022-5', 'SAVE', 39752, 36403.0),
 ('2022-6', 'CHEQ', 42325, 2115126.0),
 ('2022-6', 'SAVE', 30261, -126639.0),
 ('2022-7', 'CHEQ', 34835, 1370629.0),
 ('2022-7', 'SAVE', 21938, -653547.0),
 ('2022-8', 'CHEQ', 24143, 2512645.0),
 ('2022-8', 'SAVE', 11945, -183860.0)]

### 3.2.1 How does the frequency of transactions by loyal and customers change over time?

In [45]:
%%sql
WITH customer_transactions AS (
    SELECT
        CONCAT(EXTRACT(YEAR FROM t.record_date), '-', EXTRACT(MONTH FROM t.record_date)) AS year_month,
        CASE
            WHEN c.number_of_accounts > (
                SELECT AVG(number_of_accounts) FROM customers
            )
            AND (
                SELECT COUNT(*) / COUNT(DISTINCT customer_identifier) FROM transactions
            ) < (
                SELECT COUNT(*) FROM transactions
            )
            THEN 'Loyal Customers'
            ELSE 'Regular Customers'
        END AS customer_type,
        COUNT(*) AS transaction_count,
        ROUND(SUM(t.amt)) AS total_amount,
        ROUND(AVG(t.amt)) AS avg_amount
    FROM transactions t
    JOIN customers c 
    ON t.customer_identifier = c.customer_identifier
    GROUP BY 
        year_month,
        customer_type
)
SELECT *
FROM customer_transactions
WHERE customer_type = 'Loyal Customers'
ORDER BY 
    year_month;

 * postgresql://postgres:***@localhost:5432/customerdb

14 rows affected.

[('2021-10', 'Loyal Customers', 17272, -158635.0, -9.0),
 ('2021-11', 'Loyal Customers', 25948, 295537.0, 11.0),
 ('2021-12', 'Loyal Customers', 44517, -608044.0, -14.0),
 ('2021-7', 'Loyal Customers', 1409, -2810.0, -2.0),
 ('2021-8', 'Loyal Customers', 4285, -82960.0, -19.0),
 ('2021-9', 'Loyal Customers', 10468, 98382.0, 9.0),
 ('2022-1', 'Loyal Customers', 48983, 376063.0, 8.0),
 ('2022-2', 'Loyal Customers', 56382, 547304.0, 10.0),
 ('2022-3', 'Loyal Customers', 65811, -118010.0, -2.0),
 ('2022-4', 'Loyal Customers', 57000, 180697.0, 3.0),
 ('2022-5', 'Loyal Customers', 53676, 1067255.0, 20.0),
 ('2022-6', 'Loyal Customers', 42645, 731587.0, 17.0),
 ('2022-7', 'Loyal Customers', 33155, 34907.0, 1.0),
 ('2022-8', 'Loyal Customers', 18383, 846674.0, 46.0)]

### 3.2.2 How does the frequency of transactions by regular customers change over time?

In [46]:
%%sql
WITH customer_transactions AS (
    SELECT
        CONCAT(EXTRACT(YEAR FROM t.record_date), '-', EXTRACT(MONTH FROM t.record_date)) AS year_month,
        CASE
            WHEN c.number_of_accounts > (
                SELECT AVG(number_of_accounts) FROM customers
            )
            AND (
                SELECT COUNT(*) / COUNT(DISTINCT customer_identifier) FROM transactions
            ) < (
                SELECT COUNT(*) FROM transactions
            )
            THEN 'Loyal Customers'
            ELSE 'Regular Customers'
        END AS customer_type,
        COUNT(*) AS transaction_count,
        ROUND(SUM(t.amt)) AS total_amount,
        ROUND(AVG(t.amt)) AS avg_amount
    FROM transactions t
    JOIN customers c 
    ON t.customer_identifier = c.customer_identifier
    GROUP BY 
        year_month,
        customer_type
)
SELECT *
FROM customer_transactions
WHERE customer_type = 'Regular Customers'
ORDER BY 
    year_month;

 * postgresql://postgres:***@localhost:5432/customerdb
14 rows affected.

[('2021-10', 'Regular Customers', 14341, -193059.0, -13.0),
 ('2021-11', 'Regular Customers', 22038, 276822.0, 13.0),
 ('2021-12', 'Regular Customers', 35755, -205440.0, -6.0),
 ('2021-7', 'Regular Customers', 854, -10081.0, -12.0),
 ('2021-8', 'Regular Customers', 3165, -14210.0, -4.0),
 ('2021-9', 'Regular Customers', 7110, 126878.0, 18.0),
 ('2022-1', 'Regular Customers', 37165, 155740.0, 4.0),
 ('2022-2', 'Regular Customers', 42992, 1330452.0, 31.0),
 ('2022-3', 'Regular Customers', 50425, 301836.0, 6.0),
 ('2022-4', 'Regular Customers', 43561, 1129868.0, 26.0),
 ('2022-5', 'Regular Customers', 38940, 970934.0, 25.0),
 ('2022-6', 'Regular Customers', 29941, 1256900.0, 42.0),
 ('2022-7', 'Regular Customers', 23618, 682175.0, 29.0),
 ('2022-8', 'Regular Customers', 17705, 1482111.0, 84.0)]

### 3.3 Monthly Unpaid Transactions and Customer Count over the period of 14 months

In [47]:
%%sql
SELECT 
    CONCAT(EXTRACT(YEAR FROM t.record_date), '-', EXTRACT(MONTH FROM t.record_date)) AS year_month,
    ROUND(SUM(t.amt)) AS total_unpaid,
    COUNT(DISTINCT c.customer_identifier) AS bad_count
FROM transactions t
JOIN customers c ON t.customer_identifier = c.customer_identifier

WHERE transaction_description IN ('BAD DEBT W/OFF', 'DC UNPAID', 'NAEDO DO UNPD', 'ACB DEBIT REVERSAL', 'UNPAID DEBIT')
GROUP BY year_month
ORDER BY year_month ASC

 * postgresql://postgres:***@localhost:5432/customerdb
14 rows affected.

[('2021-10', 65590.0, 60),
 ('2021-11', 95085.0, 85),
 ('2021-12', 139903.0, 148),
 ('2021-7', 9680.0, 9),
 ('2021-8', 19784.0, 21),
 ('2021-9', 32853.0, 34),
 ('2022-1', 178955.0, 200),
 ('2022-2', 168752.0, 202),
 ('2022-3', 236213.0, 231),
 ('2022-4', 211973.0, 233),
 ('2022-5', 203222.0, 240),
 ('2022-6', 186600.0, 198),
 ('2022-7', 159847.0, 183),
 ('2022-8', 108278.0, 153)]