### Connecting to Postgresql

In [ ]:
pip install sqlalchemy

In [ ]:
pip install psycopg2-binary

In [2]:
%load_ext sql
from sqlalchemy import create_engine
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

In [ ]:
pip install ipython-sql

In [3]:
%sql postgresql://postgres:@localhost:5432/customerdb

### Monthly Unpaid Transactions and Customer Count over the period of 14 months

In [4]:
%%sql
SELECT 
    CONCAT(EXTRACT(YEAR FROM t.record_date), '-', EXTRACT(MONTH FROM t.record_date)) AS year_month,
    ROUND(SUM(t.amt)) AS total_unpaid,
    COUNT(DISTINCT c.customer_identifier) AS bad_count
FROM transactions t
JOIN customers c ON t.customer_identifier = c.customer_identifier

WHERE transaction_description IN ('BAD DEBT W/OFF', 'DC UNPAID', 'NAEDO DO UNPD', 'ACB DEBIT REVERSAL', 'UNPAID DEBIT')
GROUP BY year_month
ORDER BY year_month ASC

 * postgresql://postgres:***@localhost:5432/customerdb
14 rows affected.

[('2021-10', 65590.0, 60),
 ('2021-11', 95085.0, 85),
 ('2021-12', 139903.0, 148),
 ('2021-7', 9680.0, 9),
 ('2021-8', 19784.0, 21),
 ('2021-9', 32853.0, 34),
 ('2022-1', 178955.0, 200),
 ('2022-2', 168752.0, 202),
 ('2022-3', 236213.0, 231),
 ('2022-4', 211973.0, 233),
 ('2022-5', 203222.0, 240),
 ('2022-6', 186600.0, 198),
 ('2022-7', 159847.0, 183),
 ('2022-8', 108278.0, 153)]

### Customers missing payments my income group

In [5]:
%%sql
SELECT 

    ROUND(SUM(t.amt)) AS total_unpaid,
    COUNT(DISTINCT c.customer_identifier) AS bad_count,
    CASE 
        WHEN c.age BETWEEN 16 AND 24 THEN '16-24: Youth'
        WHEN c.age BETWEEN 25 AND 34 THEN '25-34: Young Professionals'
        WHEN c.age BETWEEN 35 AND 44 THEN '35-44: Middle-Aged Adults'
        WHEN c.age BETWEEN 45 AND 54 THEN '45-54: Prime Working Years'
        WHEN c.age BETWEEN 55 AND 64 THEN '55-64: Pre-Retirement'
        WHEN c.age >= 65 THEN '65+: Seniors/Elderly'
        ELSE 'Under 16'
    END AS age_group
FROM transactions t
JOIN customers c ON t.customer_identifier = c.customer_identifier
WHERE t.transaction_description IN ('BAD DEBT W/OFF', 'DC UNPAID', 'NAEDO DO UNPD', 'ACB DEBIT REVERSAL', 'UNPAID DEBIT')
GROUP BY  age_group
ORDER BY age_group;

 * postgresql://postgres:***@localhost:5432/customerdb
6 rows affected.

[(196986.0, 108, '16-24: Youth'),
 (677021.0, 370, '25-34: Young Professionals'),
 (597368.0, 324, '35-44: Middle-Aged Adults'),
 (276494.0, 155, '45-54: Prime Working Years'),
 (64699.0, 31, '55-64: Pre-Retirement'),
 (4166.0, 3, '65+: Seniors/Elderly')]