### Connecting to Postgresql

In [65]:

pip install sqlalchemy #helps python program to talk to databases

Requirement already satisfied: sqlalchemy in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (2.0.36)
Requirement already satisfied: typing-extensions>=4.6.0 in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from sqlalchemy) (4.7.1)
Requirement already satisfied: greenlet!=0.4.17 in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from sqlalchemy) (0.4.15)
Requirement already satisfied: importlib-metadata in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from sqlalchemy) (6.0.0)
Requirement already satisfied: zipp>=0.5 in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from importlib-metadata->sqlalchemy) (2.2.0)
Note: you may need to restart the kernel to use updated packages.

In [66]:
pip install psycopg2-binary #programs to connect to and work with PostgreSQL databases

Requirement already satisfied: psycopg2-binary in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (2.9.9)
Note: you may need to restart the kernel to use updated packages.

In [67]:
%load_ext sql #loads sql extension
from sqlalchemy import create_engine #set up a connection between Python and a database
%config SqlMagic.style = '_DEPRECATED_DEFAULT' #show SQL results using an older style.

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [68]:
pip install ipython-sql

Requirement already satisfied: ipython-sql in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (0.5.0)
Requirement already satisfied: prettytable in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython-sql) (3.7.0)
Requirement already satisfied: ipython in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython-sql) (7.12.0)
Requirement already satisfied: sqlalchemy>=2.0 in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython-sql) (2.0.36)
Requirement already satisfied: sqlparse in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython-sql) (0.4.3)
Requirement already satisfied: six in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython-sql) (1.14.0)
Requirement already satisfied: ipython-genutils in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.7.1)
Requirement already satisfied: greenlet!=0.4.17 in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from sqlalchemy>=2.0->ipython-sql) (0.4.15)
Requirement already satisfied: importlib-metadata in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from sqlalchemy>=2.0->ipython-sql) (6.0.0)
Requirement already satisfied: setuptools>=18.5 in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython->ipython-sql) (46.0.0.post20200309)
Requirement already satisfied: jedi>=0.10 in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython->ipython-sql) (0.14.1)
Requirement already satisfied: decorator in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython->ipython-sql) (4.4.1)
Requirement already satisfied: pickleshare in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython->ipython-sql) (4.3.3)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython->ipython-sql) (3.0.3)
Requirement already satisfied: pygments in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython->ipython-sql) (2.5.2)
Requirement already satisfied: backcall in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython->ipython-sql) (0.1.0)
Requirement already satisfied: pexpect in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython->ipython-sql) (4.8.0)
Requirement already satisfied: appnope in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython->ipython-sql) (0.1.0)
Requirement already satisfied: wcwidth in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from prettytable->ipython-sql) (0.1.8)
Requirement already satisfied: parso>=0.5.0 in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from jedi>=0.10->ipython->ipython-sql) (0.5.2)
Requirement already satisfied: zipp>=0.5 in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from importlib-metadata->sqlalchemy>=2.0->ipython-sql) (2.2.0)
Requirement already satisfied: ptyprocess>=0.5 in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from pexpect->ipython->ipython-sql) (0.6.0)
Note: you may need to restart the kernel to use updated packages.

In [69]:
%sql postgresql://postgres:@localhost:5432/customerdb #connection string

### 2. Transaction Analysis

## Overview

### 2.1 How do different types of transactions and customer behaviors influence the overall transaction landscape?


### 2.1.1 How many transactions do customers make on average, and which types are the most common?

In [21]:
%%sql
SELECT 
    COUNT(t.transaction_id) AS total_transactions,
    COUNT(DISTINCT t.customer_identifier) AS total_customers,
    ROUND(SUM(t.amt)) AS sum_transaction_amount,
    t.transaction_description
FROM 
    transactions t
GROUP BY 
    t.transaction_description
ORDER BY 
    sum_transaction_amount DESC;

 * postgresql://postgres:***@localhost:5432/customerdb
129 rows affected.

[(18641, 2307, 135659407.0, 'ACB CREDIT'),
 (1303, 1008, 22289971.0, 'TRANSFER FROM'),
 (7731, 1214, 22157756.0, 'IBANK PAYMENT FROM'),
 (6295, 1112, 13994160.0, 'IMMEDIATE TRF CR'),
 (11515, 769, 12146092.0, 'IBANK TRANSFER'),
 (1509, 1509, 9116482.0, 'OPENED-FROM SAV'),
 (1025, 192, 3675248.0, 'NPF CREDIT'),
 (2068, 609, 3159090.0, 'CARDLESS CASH DEP'),
 (517, 197, 2460239.0, 'CREDIT TRANSFER'),
 (1223, 493, 2101470.0, 'CASH ACCEPTOR DEP'),
 (673, 281, 2083849.0, 'DIGITAL PAYMENT CR'),
 (1269, 286, 1668468.0, 'DIGITAL TRANSF CR'),
 (372205, 3016, 1333419.0, None),
 (2563, 867, 1301334.0, 'UNPAID DEBIT'),
 (846, 275, 555972.0, 'ATM TRANSFER'),
 (921, 318, 524760.0, 'CAN CASHSEND IB'),
 (115, 26, 419148.0, 'STOP ORDER FROM'),
 (105, 94, 348039.0, 'JOURNAL CREDIT'),
 (80, 22, 339228.0, 'ATM PAYMENT FR'),
 (68, 56, 270073.0, 'CASH DEP BRANCH'),
 (393, 205, 249291.0, 'DC UNPAID'),
 (26, 23, 242852.0, 'INVESTMENT CAPITAL'),
 (202, 99, 226559.0, 'ACB DEBIT REVERSAL'),
 (496, 172, 107462.0, 'ACB EXT DISP ONLNE'),
 (55, 16, 96313.0, 'INVESTMNT INTEREST'),
 (3136, 356, 83286.0, 'LOTTO WINNINGS'),
 (196, 110, 71885.0, 'POS CARD REFUND'),
 (84, 35, 37946.0, 'DC TRK EXT DSP ONL'),
 (5, 3, 33080.0, 'FOREIGN NOTES'),
 (28, 28, 32522.0, 'BAD DEBT W/OFF'),
 (36, 28, 29627.0, 'POS O/SEA REFUND'),
 (11, 5, 28465.0, 'ACT PAYMENT FROM'),
 (22, 14, 24446.0, 'DC TRACK EXT DISP'),
 (84, 16, 23925.0, 'CR BAL REBATE'),
 (99, 43, 20880.0, 'CAN CASHSEND MB'),
 (139, 57, 19154.0, 'PREPAID DEBIT  COR'),
 (25, 17, 18600.0, 'CAN CASHSEND ATM'),
 (9, 3, 14260.0, 'OCT OCARD CREDIT'),
 (2, 1, 11094.0, 'TRAVEL FOREX(PFC)'),
 (5, 4, 11054.0, 'DC TRACK INT DISP'),
 (27, 20, 9312.0, 'DC TRK INT DSP ONL'),
 (4, 4, 8689.0, 'ACB INT DISP BRNCH'),
 (30, 11, 7993.0, 'POS FRAUD RED FIID'),
 (4, 4, 7947.0, 'WESTERN UNION(CBI)'),
 (8, 7, 7720.0, 'NAEDO TRCK DO DISP'),
 (1, 1, 7326.0, 'EXTERNAL CREDIT'),
 (17, 12, 7028.0, 'NAEDO DO UNPD'),
 (43, 34, 6181.0, 'DO INT DISP ONLNE'),
 (11, 11, 4589.0, 'CLOSE CASH DEP'),
 (1, 1, 4400.0, 'JOURNAL CR C/OPS'),
 (14, 8, 4186.0, 'NAEDO TRAC DSP ONL'),
 (2, 2, 2850.0, 'CARDLESS NOTE DEP'),
 (12, 8, 2330.0, 'PREPAID DEBITÂ\xa0 COR'),
 (1, 1, 2000.0, 'MOBILE PAYMENT CR'),
 (1, 1, 1356.0, 'BILLS NEGOTIATED'),
 (1, 1, 1265.0, 'POS REFUND PUR'),
 (1, 1, 1200.0, 'TELEP PAYMENT CT'),
 (4, 4, 1168.0, 'ACB INT DISP ONLNE'),
 (7, 4, 1059.0, 'DO EXT DISP ONLNE'),
 (2, 2, 1050.0, 'NOTE DEPOSIT'),
 (6, 5, 294.0, 'AIRTIME DEBIT COR'),
 (4, 1, 194.0, 'TEL CR TRANSFER'),
 (1, 1, 190.0, 'DO EXT DISP BRANCH'),
 (2, 2, 130.0, 'MOBILE TRANSFER CR'),
 (1, 1, 50.0, 'TRF TO CLOSE COR'),
 (2, 2, -12.0, 'INTEREST TO CLOSE'),
 (417, 93, -17.0, 'INTEREST ADJUST'),
 (1, 1, -50.0, 'TRANSFER COR FROM'),
 (1, 1, -99.0, 'AIRTIME DBT ATMS'),
 (2, 2, -266.0, 'DIGITAL VOUCHERS'),
 (3, 2, -1260.0, 'SSD OTHER CHIP WDL'),
 (5, 5, -2096.0, 'CLOSE C/WITHDRAWAL'),
 (13, 2, -4370.0, 'SCAN TRANSFER TO'),
 (73, 73, -4484.0, 'MANAGEMNT FEE CLSE'),
 (20, 8, -5580.0, 'CASHSEND MB'),
 (859, 193, -6090.0, 'INTEREST'),
 (47, 47, -6478.0, 'CHARGES - CLOSURE'),
 (17, 12, -7028.0, 'NAEDO DEBIT ORDER'),
 (85, 40, -10872.0, 'ATM:INIT FEE'),
 (15, 14, -19292.0, 'TRANSFER TO CLOSE'),
 (37, 5, -21705.0, 'AEDO TRACKED DO'),
 (29, 11, -22018.0, 'NPF DEBIT'),
 (15, 8, -22100.0, 'MOBILE PAYMENT DT'),
 (3, 3, -22800.0, 'PINP CLNT CASH WDL'),
 (14, 4, -25497.0, 'MOBILE TRANSFER DT'),
 (14, 14, -26440.0, 'CLOSED-TO SAV'),
 (2, 2, -35901.0, 'TRAVEL FOREX(TFC)'),
 (236, 236, -36287.0, 'OD: INITIATION FEE'),
 (4, 4, -36684.0, 'WESTERN UNION(CBO)'),
 (808, 160, -55752.0, 'OD: LEDGER FEE'),
 (88, 63, -80010.0, 'JOURNAL DEBIT'),
 (83, 12, -101438.0, 'O/SEAS CASH WDL'),
 (160, 91, -101699.0, 'DC EXTERNAL'),
 (4624, 976, -107277.0, 'REWARDS FEE'),
 (233, 134, -147592.0, 'DC INTERNAL'),
 (74, 44, -159961.0, 'NAEDO TRACK INTL'),
 (335, 72, -171080.0, 'CASHSEND IB'),
 (808, 128, -192880.0, 'CASHSEND MOBILE'),
 (254, 55, -204060.0, 'CASHSEND ATM'),
 (38, 29, -292200.0, 'CASH WITHDRAWAL'),
 (381, 135, -298617.0, 'NAEDO TRACKED DO'),
 (11453, 551, -345945.0, 'LOTTO PURCHASE'),
 (278, 72, -498745.0, 'INET IMMEDIATE PMT'),
 (844, 215, -729435.0, 'ACB DEBIT:INTERNAL'),
 (4123, 446, -941674.0, 'OVERSEAS PURCHASE'),
 (5403, 680, -969854.0, 'PREPAID DEBIT'),
 (1100, 164, -1026017.0, 'EXT STOP ORDER TO'),
 (1810, 715, -1041325.0, 'POS CASH WDL'),
 (9439, 1640, -1049012.0, 'MANAGEMENT FEE'),
 (1559, 438, -1132500.0, 'TRI ATM WITHDRAWAL'),
 (8761, 1597, -1194446.0, 'CHARGES'),
 (121, 92, -1270859.0, 'TRANSFER TO'),
 (37079, 1600, -1614134.0, 'AIRTIME DEBIT'),
 (313, 105, -1653873.0, 'ATM PAYMENT TO'),
 (1214, 158, -1817394.0, 'IBANK PAYMENT TO'),
 (6424, 1479, -2066946.0, 'DIGITAL TRAN FEES'),
 (5373, 1116, -2183097.0, 'INT DEBIT ORDER TO'),
 (2965, 494, -2890200.0, 'STOP ORDER TO'),
 (292, 196, -3102747.0, 'PINP TELL CASH WDL'),
 (5734, 1175, -3423819.0, 'POS PUR & CASH'),
 (9658, 870, -5181980.0, 'CASHSEND DIGITAL'),
 (6862, 954, -10706508.0, 'DC TRACK EXTERNAL'),
 (21300, 1455, -12543375.0, 'ACB DEBIT:EXTERNAL'),
 (8726, 990, -13788216.0, 'IMDTE DIGITAL PMT'),
 (6449, 751, -14375135.0, 'DIGITAL TRANSF DT'),
 (8323, 1120, -14907129.0, 'DC TRACK INTERNAL'),
 (20784, 1268, -31090530.0, 'DIGITAL PAYMENT DT'),
 (38907, 2832, -41005165.0, 'ATM WITHDRAWAL'),
 (176520, 2844, -51798485.0, 'POS PURCHASE')]

### 2.1.2 What is the breakdown of transaction volume across different transaction channels?

In [22]:
%%sql
SELECT 
    t.channel,
    COUNT(t.transaction_id) AS total_transactions,
    ROUND(SUM(t.amt)) AS sum_transaction_amount
FROM 
    transactions t
GROUP BY 
    t.channel
ORDER BY 
    sum_transaction_amount DESC;

 * postgresql://postgres:***@localhost:5432/customerdb
4 rows affected.

[('system', 509581, 74810502.0),
 ('teller', 21464, 61690496.0),
 ('internet', 119238, -29068726.0),
 ('atm', 197261, -96933397.0)]

### 2.1.3 How do transaction volumes vary across different income groups?

In [24]:
%%sql

SELECT 
    i.income_group_desc AS income_group,
    COUNT(t.transaction_id) AS total_transactions,
    ROUND(sum(t.amt)) AS sum_transaction_amount
FROM 
    transactions t
JOIN 
    customers c ON t.customer_identifier = c.customer_identifier
JOIN 
    income_group i ON c.income_group_code = i.income_group_code
GROUP BY 
    i.income_group_desc
ORDER BY 
    sum_transaction_amount DESC;

 * postgresql://postgres:***@localhost:5432/customerdb
22 rows affected.

[('R8,000 - 8,999', 47663, 1154261.0),
 ('R10,000 - 11,999', 69661, 1121973.0),
 ('R20,000 - 24,999', 105093, 968400.0),
 ('R7,000 - 7,999', 47822, 918829.0),
 ('R25,000 - 33,999', 90633, 918054.0),
 ('R5,000 - 5,999', 40719, 894124.0),
 ('R15,000 - 19,999', 131996, 842871.0),
 ('R4,000 - 4,999', 38242, 761389.0),
 ('R6,000 - 6,999', 41316, 740206.0),
 ('R9,000 - 9,999', 31597, 526430.0),
 ('R12,000 - 14,999', 84208, 499815.0),
 ('R3,000 - 3,999', 13395, 282854.0),
 ('R2,000 - 2,999', 5889, 272228.0),
 ('R42,000 - 62,999', 23648, 121962.0),
 ('R1,000 - 1,999', 8319, 121809.0),
 ('R500 - 999', 2496, 121808.0),
 ('R63,000 - 84,999', 6101, 89158.0),
 ('R85,000 - 124,999', 824, 65384.0),
 ('R 0 - 499', 14994, 48373.0),
 ('R125,000+', 117, 19964.0),
 ('R34,000 - 41,999', 42675, 12973.0),
 ('NOT SUPPLIED', 136, -3990.0)]

### 2.1.4 How do different income groups use product codes?

In [25]:
%%sql
SELECT 
    i.income_group_desc AS income_group,
    t.product_code,
    COUNT(t.transaction_id) AS total_transactions,
    ROUND(sum(t.amt)) AS sum_transaction_amount
FROM 
    transactions t
JOIN 
    customers c ON t.customer_identifier = c.customer_identifier
JOIN 
    income_group i ON c.income_group_code = i.income_group_code
GROUP BY 
    i.income_group_desc, t.product_code
ORDER BY 
    sum_transaction_amount DESC;

 * postgresql://postgres:***@localhost:5432/customerdb
43 rows affected.

[('R20,000 - 24,999', 'CHEQ', 73552, 887761.0),
 ('R4,000 - 4,999', 'CHEQ', 7135, 796450.0),
 ('R7,000 - 7,999', 'CHEQ', 19917, 783928.0),
 ('R8,000 - 8,999', 'CHEQ', 22222, 737025.0),
 ('R25,000 - 33,999', 'CHEQ', 67685, 713317.0),
 ('R10,000 - 11,999', 'CHEQ', 33476, 661376.0),
 ('R5,000 - 5,999', 'CHEQ', 13084, 639712.0),
 ('R15,000 - 19,999', 'CHEQ', 89797, 628060.0),
 ('R6,000 - 6,999', 'CHEQ', 13472, 627688.0),
 ('R12,000 - 14,999', 'CHEQ', 49197, 513703.0),
 ('R10,000 - 11,999', 'SAVE', 36185, 460598.0),
 ('R1,000 - 1,999', 'CHEQ', 835, 418136.0),
 ('R8,000 - 8,999', 'SAVE', 25441, 417235.0),
 ('R2,000 - 2,999', 'CHEQ', 1560, 416598.0),
 ('R9,000 - 9,999', 'CHEQ', 15614, 403607.0),
 ('R3,000 - 3,999', 'CHEQ', 2144, 333566.0),
 ('R5,000 - 5,999', 'SAVE', 27635, 254412.0),
 ('R15,000 - 19,999', 'SAVE', 42199, 214811.0),
 ('R25,000 - 33,999', 'SAVE', 22948, 204738.0),
 ('R42,000 - 62,999', 'CHEQ', 19027, 179696.0),
 ('R500 - 999', 'CHEQ', 466, 137544.0),
 ('R7,000 - 7,999', 'SAVE', 27905, 134901.0),
 ('R 0 - 499', 'CHEQ', 9984, 131897.0),
 ('R9,000 - 9,999', 'SAVE', 15983, 122822.0),
 ('R6,000 - 6,999', 'SAVE', 27844, 112519.0),
 ('R63,000 - 84,999', 'CHEQ', 3303, 101028.0),
 ('R20,000 - 24,999', 'SAVE', 31541, 80639.0),
 ('R85,000 - 124,999', 'CHEQ', 595, 48463.0),
 ('R34,000 - 41,999', 'SAVE', 10403, 22373.0),
 ('R85,000 - 124,999', 'SAVE', 229, 16922.0),
 ('R125,000+', 'CHEQ', 2, 15300.0),
 ('R125,000+', 'SAVE', 115, 4664.0),
 ('NOT SUPPLIED', 'SAVE', 136, -3990.0),
 ('R34,000 - 41,999', 'CHEQ', 32272, -9400.0),
 ('R63,000 - 84,999', 'SAVE', 2798, -11870.0),
 ('R12,000 - 14,999', 'SAVE', 35011, -13889.0),
 ('R500 - 999', 'SAVE', 2030, -15736.0),
 ('R4,000 - 4,999', 'SAVE', 31107, -35061.0),
 ('R3,000 - 3,999', 'SAVE', 11251, -50712.0),
 ('R42,000 - 62,999', 'SAVE', 4621, -57734.0),
 ('R 0 - 499', 'SAVE', 5010, -83525.0),
 ('R2,000 - 2,999', 'SAVE', 4329, -144370.0),
 ('R1,000 - 1,999', 'SAVE', 7484, -296328.0)]

### 2.2 How can the bank optimize transaction channels to increase efficiency, reduce costs, and enhance customer satisfaction?

### 2.2.1 What proportion of teller-based transactions could have been conducted on digital platforms, and how can the bank encourage customers to transition to these more efficient channels?

In [27]:
%%sql

SELECT
    t.transaction_description,
    COUNT(*) AS transaction_count,
    CASE 
        WHEN c.age BETWEEN 16 AND 24 THEN '16-24: Youth'
        WHEN c.age BETWEEN 25 AND 34 THEN '25-34: Young Professionals'
        WHEN c.age BETWEEN 35 AND 44 THEN '35-44: Middle-Aged Adults'
        WHEN c.age BETWEEN 45 AND 54 THEN '45-54: Prime Working Years'
        WHEN c.age BETWEEN 55 AND 64 THEN '55-64: Pre-Retirement'
        WHEN c.age >= 65 THEN '65+: Seniors/Elderly'
        ELSE 'Under 16'
    END AS age_group,
    i.income_group_desc
FROM transactions t
JOIN customers c ON t.customer_identifier = c.customer_identifier
JOIN income_group i ON c.income_group_code = i.income_group_code
WHERE t.channel = 'teller'
  AND t.transaction_description IN (
      'BAD DEBT W/OFF',
      'CLOSE C/WITHDRAWAL',
      'CLOSE CASH DEP',
      'CLOSED-TO SAV',
      'DIGITAL TRAN FEES',
      'DIGITAL TRANSF DT',
      'FOREIGN NOTES',
      'IBANK PAYMENT FROM',
      'IBANK PAYMENT TO',
      'IBANK TRANSFER',
      'IMMEDIATE TRF CR',
      'JOURNAL CR C/OPS',
      'JOURNAL CREDIT',
      'JOURNAL DEBIT',
      'NPF CREDIT',
      'NPF DEBIT',
      'OPENED-FROM SAV',
      'TRANSFER COR FROM',
      'TRANSFER FROM',
      'TRANSFER TO',
      'TRANSFER TO CLOSE',
      'TRAVEL FOREX(PFC)',
      'TRAVEL FOREX(TFC)',
      'TRF TO CLOSE COR',
      'UNPAID DEBIT',
      'WESTERN UNION(CBI)',
      'WESTERN UNION(CBO)'
  )
GROUP BY t.transaction_description, age_group, i.income_group_desc
ORDER BY transaction_count DESC
;

 * postgresql://postgres:***@localhost:5432/customerdb
627 rows affected.

[('IMMEDIATE TRF CR', 764, '25-34: Young Professionals', 'R15,000 - 19,999'),
 ('IMMEDIATE TRF CR', 537, '25-34: Young Professionals', 'R20,000 - 24,999'),
 ('IMMEDIATE TRF CR', 394, '25-34: Young Professionals', 'R25,000 - 33,999'),
 ('IMMEDIATE TRF CR', 320, '16-24: Youth', 'R15,000 - 19,999'),
 ('IMMEDIATE TRF CR', 275, '25-34: Young Professionals', 'R10,000 - 11,999'),
 ('IMMEDIATE TRF CR', 273, '25-34: Young Professionals', 'R34,000 - 41,999'),
 ('IMMEDIATE TRF CR', 197, '35-44: Middle-Aged Adults', 'R12,000 - 14,999'),
 ('IMMEDIATE TRF CR', 191, '35-44: Middle-Aged Adults', 'R25,000 - 33,999'),
 ('IMMEDIATE TRF CR', 184, '35-44: Middle-Aged Adults', 'R15,000 - 19,999'),
 ('IMMEDIATE TRF CR', 177, '25-34: Young Professionals', 'R12,000 - 14,999'),
 ('IMMEDIATE TRF CR', 153, '16-24: Youth', 'R10,000 - 11,999'),
 ('IMMEDIATE TRF CR', 152, '25-34: Young Professionals', 'R42,000 - 62,999'),
 ('IMMEDIATE TRF CR', 142, '35-44: Middle-Aged Adults', 'R20,000 - 24,999'),
 ('IMMEDIATE TRF CR', 139, '25-34: Young Professionals', 'R 0 - 499'),
 ('IMMEDIATE TRF CR', 131, '25-34: Young Professionals', 'R8,000 - 8,999'),
 ('IMMEDIATE TRF CR', 123, '45-54: Prime Working Years', 'R15,000 - 19,999'),
 ('IMMEDIATE TRF CR', 119, '35-44: Middle-Aged Adults', 'R10,000 - 11,999'),
 ('IMMEDIATE TRF CR', 109, '25-34: Young Professionals', 'R5,000 - 5,999'),
 ('IMMEDIATE TRF CR', 109, '45-54: Prime Working Years', 'R7,000 - 7,999'),
 ('IMMEDIATE TRF CR', 108, '35-44: Middle-Aged Adults', 'R34,000 - 41,999'),
 ('IMMEDIATE TRF CR', 107, '16-24: Youth', 'R8,000 - 8,999'),
 ('IMMEDIATE TRF CR', 100, '35-44: Middle-Aged Adults', 'R42,000 - 62,999'),
 ('IMMEDIATE TRF CR', 97, '16-24: Youth', 'R12,000 - 14,999'),
 ('IMMEDIATE TRF CR', 94, '25-34: Young Professionals', 'R7,000 - 7,999'),
 ('IMMEDIATE TRF CR', 91, '16-24: Youth', 'R25,000 - 33,999'),
 ('NPF CREDIT', 79, '25-34: Young Professionals', 'R15,000 - 19,999'),
 ('IMMEDIATE TRF CR', 77, '45-54: Prime Working Years', 'R25,000 - 33,999'),
 ('IMMEDIATE TRF CR', 76, '16-24: Youth', 'R20,000 - 24,999'),
 ('IBANK PAYMENT FROM', 72, '25-34: Young Professionals', 'R25,000 - 33,999'),
 ('TRANSFER FROM', 71, '35-44: Middle-Aged Adults', 'R20,000 - 24,999'),
 ('IMMEDIATE TRF CR', 70, '55-64: Pre-Retirement', 'R25,000 - 33,999'),
 ('IMMEDIATE TRF CR', 70, '35-44: Middle-Aged Adults', 'R8,000 - 8,999'),
 ('OPENED-FROM SAV', 69, '25-34: Young Professionals', 'R4,000 - 4,999'),
 ('TRANSFER FROM', 69, '35-44: Middle-Aged Adults', 'R12,000 - 14,999'),
 ('IMMEDIATE TRF CR', 67, '16-24: Youth', 'R7,000 - 7,999'),
 ('IMMEDIATE TRF CR', 64, '45-54: Prime Working Years', 'R20,000 - 24,999'),
 ('TRANSFER FROM', 64, '25-34: Young Professionals', 'R15,000 - 19,999'),
 ('NPF CREDIT', 64, '35-44: Middle-Aged Adults', 'R 0 - 499'),
 ('TRANSFER FROM', 61, '35-44: Middle-Aged Adults', 'R15,000 - 19,999'),
 ('IBANK PAYMENT FROM', 60, '16-24: Youth', 'R15,000 - 19,999'),
 ('OPENED-FROM SAV', 57, '25-34: Young Professionals', 'R6,000 - 6,999'),
 ('TRANSFER FROM', 56, '25-34: Young Professionals', 'R12,000 - 14,999'),
 ('NPF CREDIT', 56, '35-44: Middle-Aged Adults', 'R15,000 - 19,999'),
 ('TRANSFER FROM', 54, '25-34: Young Professionals', 'R20,000 - 24,999'),
 ('TRANSFER FROM', 52, '25-34: Young Professionals', 'R25,000 - 33,999'),
 ('IMMEDIATE TRF CR', 52, '16-24: Youth', 'R5,000 - 5,999'),
 ('NPF CREDIT', 52, '25-34: Young Professionals', 'R10,000 - 11,999'),
 ('OPENED-FROM SAV', 50, '35-44: Middle-Aged Adults', 'R12,000 - 14,999'),
 ('OPENED-FROM SAV', 50, '25-34: Young Professionals', 'R5,000 - 5,999'),
 ('IMMEDIATE TRF CR', 46, '35-44: Middle-Aged Adults', 'R7,000 - 7,999'),
 ('OPENED-FROM SAV', 46, '25-34: Young Professionals', 'R10,000 - 11,999'),
 ('IBANK PAYMENT FROM', 45, '25-34: Young Professionals', 'R15,000 - 19,999'),
 ('OPENED-FROM SAV', 45, '35-44: Middle-Aged Adults', 'R10,000 - 11,999'),
 ('OPENED-FROM SAV', 45, '25-34: Young Professionals', 'R7,000 - 7,999'),
 ('IMMEDIATE TRF CR', 44, '16-24: Youth', 'R34,000 - 41,999'),
 ('TRANSFER FROM', 44, '25-34: Young Professionals', 'R10,000 - 11,999'),
 ('IMMEDIATE TRF CR', 43, '25-34: Young Professionals', 'R4,000 - 4,999'),
 ('UNPAID DEBIT', 43, '45-54: Prime Working Years', 'R15,000 - 19,999'),
 ('TRANSFER FROM', 42, '45-54: Prime Working Years', 'R20,000 - 24,999'),
 ('OPENED-FROM SAV', 42, '35-44: Middle-Aged Adults', 'R5,000 - 5,999'),
 ('OPENED-FROM SAV', 41, '35-44: Middle-Aged Adults', 'R6,000 - 6,999'),
 ('IMMEDIATE TRF CR', 41, '45-54: Prime Working Years', 'R34,000 - 41,999'),
 ('TRANSFER FROM', 39, '35-44: Middle-Aged Adults', 'R10,000 - 11,999'),
 ('NPF CREDIT', 39, '35-44: Middle-Aged Adults', 'R34,000 - 41,999'),
 ('IMMEDIATE TRF CR', 38, '25-34: Young Professionals', 'R6,000 - 6,999'),
 ('IMMEDIATE TRF CR', 38, '45-54: Prime Working Years', 'R42,000 - 62,999'),
 ('TRANSFER FROM', 38, '35-44: Middle-Aged Adults', 'R25,000 - 33,999'),
 ('OPENED-FROM SAV', 37, '35-44: Middle-Aged Adults', 'R15,000 - 19,999'),
 ('NPF CREDIT', 36, '16-24: Youth', 'R15,000 - 19,999'),
 ('NPF CREDIT', 36, '45-54: Prime Working Years', 'R12,000 - 14,999'),
 ('OPENED-FROM SAV', 35, '35-44: Middle-Aged Adults', 'R7,000 - 7,999'),
 ('TRANSFER FROM', 35, '25-34: Young Professionals', 'R7,000 - 7,999'),
 ('OPENED-FROM SAV', 34, '35-44: Middle-Aged Adults', 'R8,000 - 8,999'),
 ('IMMEDIATE TRF CR', 33, '45-54: Prime Working Years', 'R12,000 - 14,999'),
 ('IMMEDIATE TRF CR', 33, '25-34: Young Professionals', 'R9,000 - 9,999'),
 ('IMMEDIATE TRF CR', 33, '35-44: Middle-Aged Adults', 'R9,000 - 9,999'),
 ('NPF CREDIT', 31, '25-34: Young Professionals', 'R42,000 - 62,999'),
 ('OPENED-FROM SAV', 31, '25-34: Young Professionals', 'R12,000 - 14,999'),
 ('NPF CREDIT', 31, '35-44: Middle-Aged Adults', 'R25,000 - 33,999'),
 ('OPENED-FROM SAV', 31, '35-44: Middle-Aged Adults', 'R4,000 - 4,999'),
 ('OPENED-FROM SAV', 30, '55-64: Pre-Retirement', 'R1,000 - 1,999'),
 ('OPENED-FROM SAV', 30, '45-54: Prime Working Years', 'R4,000 - 4,999'),
 ('TRANSFER FROM', 30, '45-54: Prime Working Years', 'R12,000 - 14,999'),
 ('IMMEDIATE TRF CR', 30, '16-24: Youth', 'R4,000 - 4,999'),
 ('OPENED-FROM SAV', 29, '25-34: Young Professionals', 'R8,000 - 8,999'),
 ('OPENED-FROM SAV', 28, '25-34: Young Professionals', 'R15,000 - 19,999'),
 ('TRANSFER FROM', 28, '55-64: Pre-Retirement', 'R15,000 - 19,999'),
 ('TRANSFER FROM', 27, '45-54: Prime Working Years', 'R15,000 - 19,999'),
 ('TRANSFER FROM', 27, '35-44: Middle-Aged Adults', 'R9,000 - 9,999'),
 ('OPENED-FROM SAV', 27, '45-54: Prime Working Years', 'R10,000 - 11,999'),
 ('IMMEDIATE TRF CR', 27, '16-24: Youth', 'R6,000 - 6,999'),
 ('IMMEDIATE TRF CR', 26, '16-24: Youth', 'R 0 - 499'),
 ('OPENED-FROM SAV', 26, '45-54: Prime Working Years', 'R12,000 - 14,999'),
 ('NPF CREDIT', 25, '25-34: Young Professionals', 'R34,000 - 41,999'),
 ('TRANSFER FROM', 25, '25-34: Young Professionals', 'R8,000 - 8,999'),
 ('OPENED-FROM SAV', 24, '25-34: Young Professionals', 'R20,000 - 24,999'),
 ('OPENED-FROM SAV', 24, '16-24: Youth', 'R4,000 - 4,999'),
 ('NPF CREDIT', 24, '25-34: Young Professionals', 'R 0 - 499'),
 ('OPENED-FROM SAV', 24, '45-54: Prime Working Years', 'R6,000 - 6,999'),
 ('NPF CREDIT', 23, '25-34: Young Professionals', 'R12,000 - 14,999'),
 ('TRANSFER FROM', 23, '35-44: Middle-Aged Adults', 'R8,000 - 8,999'),
 ('OPENED-FROM SAV', 22, '35-44: Middle-Aged Adults', 'R3,000 - 3,999'),
 ('OPENED-FROM SAV', 22, '45-54: Prime Working Years', 'R25,000 - 33,999'),
 ('IMMEDIATE TRF CR', 22, '45-54: Prime Working Years', 'R10,000 - 11,999'),
 ('OPENED-FROM SAV', 22, '45-54: Prime Working Years', 'R20,000 - 24,999'),
 ('OPENED-FROM SAV', 22, '45-54: Prime Working Years', 'R5,000 - 5,999'),
 ('OPENED-FROM SAV', 20, '25-34: Young Professionals', 'R9,000 - 9,999'),
 ('TRANSFER FROM', 20, '35-44: Middle-Aged Adults', 'R7,000 - 7,999'),
 ('OPENED-FROM SAV', 20, '35-44: Middle-Aged Adults', 'R9,000 - 9,999'),
 ('TRANSFER FROM', 19, '25-34: Young Professionals', 'R9,000 - 9,999'),
 ('OPENED-FROM SAV', 19, '25-34: Young Professionals', 'R3,000 - 3,999'),
 ('TRANSFER FROM', 19, '25-34: Young Professionals', 'R6,000 - 6,999'),
 ('NPF CREDIT', 19, '35-44: Middle-Aged Adults', 'R20,000 - 24,999'),
 ('TRANSFER FROM', 19, '45-54: Prime Working Years', 'R10,000 - 11,999'),
 ('OPENED-FROM SAV', 18, '35-44: Middle-Aged Adults', 'R20,000 - 24,999'),
 ('OPENED-FROM SAV', 18, '16-24: Youth', 'R5,000 - 5,999'),
 ('TRANSFER FROM', 18, '16-24: Youth', 'R15,000 - 19,999'),
 ('TRANSFER FROM', 18, '25-34: Young Professionals', 'R4,000 - 4,999'),
 ('TRANSFER FROM', 18, '35-44: Middle-Aged Adults', 'R34,000 - 41,999'),
 ('TRANSFER FROM', 18, '35-44: Middle-Aged Adults', 'R6,000 - 6,999'),
 ('IMMEDIATE TRF CR', 18, '45-54: Prime Working Years', 'R2,000 - 2,999'),
 ('NPF CREDIT', 18, '25-34: Young Professionals', 'R5,000 - 5,999'),
 ('NPF CREDIT', 18, '25-34: Young Professionals', 'R25,000 - 33,999'),
 ('TRANSFER FROM', 17, '35-44: Middle-Aged Adults', 'R5,000 - 5,999'),
 ('OPENED-FROM SAV', 17, '45-54: Prime Working Years', 'R7,000 - 7,999'),
 ('IMMEDIATE TRF CR', 17, '25-34: Young Professionals', 'R85,000 - 124,999'),
 ('TRANSFER FROM', 17, '45-54: Prime Working Years', 'R9,000 - 9,999'),
 ('IMMEDIATE TRF CR', 17, '55-64: Pre-Retirement', 'R20,000 - 24,999'),
 ('OPENED-FROM SAV', 17, '45-54: Prime Working Years', 'R15,000 - 19,999'),
 ('OPENED-FROM SAV', 17, '55-64: Pre-Retirement', 'R4,000 - 4,999'),
 ('TRANSFER FROM', 17, '45-54: Prime Working Years', 'R25,000 - 33,999'),
 ('OPENED-FROM SAV', 16, '16-24: Youth', 'R10,000 - 11,999'),
 ('OPENED-FROM SAV', 16, '65+: Seniors/Elderly', 'R1,000 - 1,999'),
 ('OPENED-FROM SAV', 15, '55-64: Pre-Retirement', 'R2,000 - 2,999'),
 ('IBANK PAYMENT FROM', 15, '25-34: Young Professionals', 'R20,000 - 24,999'),
 ('TRANSFER FROM', 15, '16-24: Youth', 'R10,000 - 11,999'),
 ('IMMEDIATE TRF CR', 15, '35-44: Middle-Aged Adults', 'R5,000 - 5,999'),
 ('OPENED-FROM SAV', 15, '16-24: Youth', 'R6,000 - 6,999'),
 ('IMMEDIATE TRF CR', 15, '16-24: Youth', 'R9,000 - 9,999'),
 ('TRANSFER FROM', 14, '25-34: Young Professionals', 'R34,000 - 41,999'),
 ('OPENED-FROM SAV', 14, '16-24: Youth', 'R7,000 - 7,999'),
 ('TRANSFER FROM', 14, '16-24: Youth', 'R20,000 - 24,999'),
 ('OPENED-FROM SAV', 14, '45-54: Prime Working Years', 'R8,000 - 8,999'),
 ('OPENED-FROM SAV', 13, '45-54: Prime Working Years', 'R9,000 - 9,999'),
 ('OPENED-FROM SAV', 13, '55-64: Pre-Retirement', 'R3,000 - 3,999'),
 ('TRANSFER FROM', 13, '45-54: Prime Working Years', 'R8,000 - 8,999'),
 ('TRANSFER FROM', 12, '16-24: Youth', 'R5,000 - 5,999'),
 ('NPF CREDIT', 12, '25-34: Young Professionals', 'R20,000 - 24,999'),
 ('TRANSFER FROM', 12, '16-24: Youth', 'R9,000 - 9,999'),
 ('NPF CREDIT', 12, '16-24: Youth', 'R12,000 - 14,999'),
 ('NPF CREDIT', 12, '16-24: Youth', 'R10,000 - 11,999'),
 ('TRANSFER FROM', 12, '16-24: Youth', 'R7,000 - 7,999'),
 ('OPENED-FROM SAV', 12, '16-24: Youth', 'R8,000 - 8,999'),
 ('UNPAID DEBIT', 12, '35-44: Middle-Aged Adults', 'R15,000 - 19,999'),
 ('IMMEDIATE TRF CR', 12, '45-54: Prime Working Years', 'R9,000 - 9,999'),
 ('OPENED-FROM SAV', 11, '65+: Seniors/Elderly', 'R4,000 - 4,999'),
 ('OPENED-FROM SAV', 11, '45-54: Prime Working Years', 'R2,000 - 2,999'),
 ('TRANSFER FROM', 11, '45-54: Prime Working Years', 'R34,000 - 41,999'),
 ('IBANK PAYMENT FROM', 11, '35-44: Middle-Aged Adults', 'R15,000 - 19,999'),
 ('IMMEDIATE TRF CR', 11, '55-64: Pre-Retirement', 'R10,000 - 11,999'),
 ('TRANSFER FROM', 11, '45-54: Prime Working Years', 'R7,000 - 7,999'),
 ('IMMEDIATE TRF CR', 10, '35-44: Middle-Aged Adults', 'R6,000 - 6,999'),
 ('IMMEDIATE TRF CR', 10, '35-44: Middle-Aged Adults', 'R4,000 - 4,999'),
 ('NPF CREDIT', 10, '35-44: Middle-Aged Adults', 'R12,000 - 14,999'),
 ('OPENED-FROM SAV', 10, '65+: Seniors/Elderly', 'R2,000 - 2,999'),
 ('IMMEDIATE TRF CR', 10, '45-54: Prime Working Years', 'R5,000 - 5,999'),
 ('IMMEDIATE TRF CR', 10, '16-24: Youth', 'R2,000 - 2,999'),
 ('IBANK PAYMENT FROM', 10, '35-44: Middle-Aged Adults', 'R20,000 - 24,999'),
 ('IBANK PAYMENT FROM', 10, '25-34: Young Professionals', 'R7,000 - 7,999'),
 ('IBANK PAYMENT FROM', 10, '25-34: Young Professionals', 'R10,000 - 11,999'),
 ('TRANSFER FROM', 10, '25-34: Young Professionals', 'R42,000 - 62,999'),
 ('TRANSFER FROM', 10, '25-34: Young Professionals', 'R5,000 - 5,999'),
 ('NPF CREDIT', 10, '25-34: Young Professionals', 'R7,000 - 7,999'),
 ('OPENED-FROM SAV', 10, '16-24: Youth', 'R15,000 - 19,999'),
 ('NPF CREDIT', 10, '45-54: Prime Working Years', 'R34,000 - 41,999'),
 ('TRANSFER TO', 10, '45-54: Prime Working Years', 'R20,000 - 24,999'),
 ('OPENED-FROM SAV', 10, '35-44: Middle-Aged Adults', 'R25,000 - 33,999'),
 ('JOURNAL DEBIT', 9, '35-44: Middle-Aged Adults', 'R12,000 - 14,999'),
 ('OPENED-FROM SAV', 9, '25-34: Young Professionals', 'R25,000 - 33,999'),
 ('IMMEDIATE TRF CR', 9, '16-24: Youth', 'R3,000 - 3,999'),
 ('IMMEDIATE TRF CR', 9, '25-34: Young Professionals', 'R63,000 - 84,999'),
 ('JOURNAL CREDIT', 9, '35-44: Middle-Aged Adults', 'R15,000 - 19,999'),
 ('OPENED-FROM SAV', 9, '16-24: Youth', 'R20,000 - 24,999'),
 ('OPENED-FROM SAV', 9, '45-54: Prime Working Years', 'R3,000 - 3,999'),
 ('IMMEDIATE TRF CR', 9, '35-44: Middle-Aged Adults', 'R63,000 - 84,999'),
 ('TRANSFER FROM', 9, '16-24: Youth', 'R12,000 - 14,999'),
 ('OPENED-FROM SAV', 8, '55-64: Pre-Retirement', 'R7,000 - 7,999'),
 ('TRANSFER FROM', 8, '55-64: Pre-Retirement', 'R12,000 - 14,999'),
 ('JOURNAL DEBIT', 8, '35-44: Middle-Aged Adults', 'R15,000 - 19,999'),
 ('TRANSFER TO', 8, '35-44: Middle-Aged Adults', 'R12,000 - 14,999'),
 ('TRANSFER FROM', 8, '16-24: Youth', 'R6,000 - 6,999'),
 ('TRANSFER FROM', 8, '16-24: Youth', 'R8,000 - 8,999'),
 ('OPENED-FROM SAV', 8, '55-64: Pre-Retirement', 'R15,000 - 19,999'),
 ('TRANSFER TO', 8, '35-44: Middle-Aged Adults', 'R25,000 - 33,999'),
 ('TRANSFER FROM', 8, '45-54: Prime Working Years', 'R5,000 - 5,999'),
 ('TRANSFER FROM', 8, '45-54: Prime Working Years', 'R6,000 - 6,999'),
 ('IMMEDIATE TRF CR', 8, '45-54: Prime Working Years', 'R85,000 - 124,999'),
 ('OPENED-FROM SAV', 7, '65+: Seniors/Elderly', 'R3,000 - 3,999'),
 ('TRANSFER FROM', 7, '16-24: Youth', 'R25,000 - 33,999'),
 ('TRANSFER TO', 7, '35-44: Middle-Aged Adults', 'R20,000 - 24,999'),
 ('OPENED-FROM SAV', 7, '35-44: Middle-Aged Adults', 'R34,000 - 41,999'),
 ('JOURNAL DEBIT', 7, '35-44: Middle-Aged Adults', 'R10,000 - 11,999'),
 ('IMMEDIATE TRF CR', 7, '16-24: Youth', 'R63,000 - 84,999'),
 ('IMMEDIATE TRF CR', 7, '55-64: Pre-Retirement', 'R8,000 - 8,999'),
 ('TRANSFER FROM', 7, '65+: Seniors/Elderly', 'R6,000 - 6,999'),
 ('OPENED-FROM SAV', 7, '16-24: Youth', 'R12,000 - 14,999'),
 ('IMMEDIATE TRF CR', 7, '45-54: Prime Working Years', 'R6,000 - 6,999'),
 ('NPF CREDIT', 7, '35-44: Middle-Aged Adults', 'R6,000 - 6,999'),
 ('TRANSFER FROM', 7, '35-44: Middle-Aged Adults', 'R42,000 - 62,999'),
 ('JOURNAL CREDIT', 7, '25-34: Young Professionals', 'R10,000 - 11,999'),
 ('TRANSFER FROM', 7, '35-44: Middle-Aged Adults', 'R4,000 - 4,999'),
 ('TRANSFER FROM', 7, '45-54: Prime Working Years', 'R42,000 - 62,999'),
 ('TRANSFER TO', 6, '25-34: Young Professionals', 'R12,000 - 14,999'),
 ('NPF DEBIT', 6, '25-34: Young Professionals', 'R500 - 999'),
 ('TRANSFER FROM', 6, '55-64: Pre-Retirement', 'R1,000 - 1,999'),
 ('IBANK PAYMENT FROM', 6, '25-34: Young Professionals', 'R9,000 - 9,999'),
 ('OPENED-FROM SAV', 6, '65+: Seniors/Elderly', 'R5,000 - 5,999'),
 ('IMMEDIATE TRF CR', 6, '25-34: Young Professionals', 'R3,000 - 3,999'),
 ('OPENED-FROM SAV', 6, '55-64: Pre-Retirement', 'R8,000 - 8,999'),
 ('OPENED-FROM SAV', 6, '55-64: Pre-Retirement', 'R5,000 - 5,999'),
 ('IMMEDIATE TRF CR', 6, '45-54: Prime Working Years', 'R63,000 - 84,999'),
 ('IMMEDIATE TRF CR', 6, '55-64: Pre-Retirement', 'R12,000 - 14,999'),
 ('OPENED-FROM SAV', 6, '55-64: Pre-Retirement', 'R10,000 - 11,999'),
 ('JOURNAL CREDIT', 6, '25-34: Young Professionals', 'R12,000 - 14,999'),
 ('JOURNAL CREDIT', 6, '25-34: Young Professionals', 'R25,000 - 33,999'),
 ('OPENED-FROM SAV', 6, '35-44: Middle-Aged Adults', 'R1,000 - 1,999'),
 ('JOURNAL DEBIT', 6, '25-34: Young Professionals', 'R12,000 - 14,999'),
 ('TRANSFER TO', 6, '35-44: Middle-Aged Adults', 'R8,000 - 8,999'),
 ('JOURNAL DEBIT', 6, '25-34: Young Professionals', 'R42,000 - 62,999'),
 ('OPENED-FROM SAV', 6, '25-34: Young Professionals', 'R2,000 - 2,999'),
 ('JOURNAL DEBIT', 6, '45-54: Prime Working Years', 'R10,000 - 11,999'),
 ('OPENED-FROM SAV', 6, '25-34: Young Professionals', 'R1,000 - 1,999'),
 ('OPENED-FROM SAV', 6, '25-34: Young Professionals', 'R 0 - 499'),
 ('NPF CREDIT', 6, '25-34: Young Professionals', 'R9,000 - 9,999'),
 ('IMMEDIATE TRF CR', 5, '25-34: Young Professionals', 'R2,000 - 2,999'),
 ('JOURNAL CREDIT', 5, '25-34: Young Professionals', 'R7,000 - 7,999'),
 ('TRANSFER TO', 5, '25-34: Young Professionals', 'R10,000 - 11,999'),
 ('OPENED-FROM SAV', 5, '55-64: Pre-Retirement', 'R20,000 - 24,999'),
 ('OPENED-FROM SAV', 5, '65+: Seniors/Elderly', 'R500 - 999'),
 ('NPF CREDIT', 5, '35-44: Middle-Aged Adults', 'R5,000 - 5,999'),
 ('OPENED-FROM SAV', 5, '55-64: Pre-Retirement', 'R12,000 - 14,999'),
 ('NPF CREDIT', 5, '16-24: Youth', 'R9,000 - 9,999'),
 ('TRANSFER FROM', 5, '55-64: Pre-Retirement', 'R4,000 - 4,999'),
 ('TRANSFER FROM', 5, '55-64: Pre-Retirement', 'R8,000 - 8,999'),
 ('OPENED-FROM SAV', 5, '55-64: Pre-Retirement', 'R25,000 - 33,999'),
 ('TRANSFER FROM', 5, '65+: Seniors/Elderly', 'R10,000 - 11,999'),
 ('NPF CREDIT', 5, '35-44: Middle-Aged Adults', 'R42,000 - 62,999'),
 ('NPF CREDIT', 5, '45-54: Prime Working Years', 'R25,000 - 33,999'),
 ('OPENED-FROM SAV', 5, '16-24: Youth', 'R9,000 - 9,999'),
 ('IBANK PAYMENT FROM', 5, '25-34: Young Professionals', 'R34,000 - 41,999'),
 ('TRANSFER FROM', 5, '16-24: Youth', 'R4,000 - 4,999'),
 ('IMMEDIATE TRF CR', 5, '55-64: Pre-Retirement', 'R15,000 - 19,999'),
 ('TRANSFER TO', 5, '45-54: Prime Working Years', 'R10,000 - 11,999'),
 ('TRANSFER TO', 5, '45-54: Prime Working Years', 'R9,000 - 9,999'),
 ('NPF CREDIT', 5, '16-24: Youth', 'R 0 - 499'),
 ('JOURNAL CREDIT', 5, '35-44: Middle-Aged Adults', 'R25,000 - 33,999'),
 ('JOURNAL CREDIT', 5, '35-44: Middle-Aged Adults', 'R20,000 - 24,999'),
 ('OPENED-FROM SAV', 5, '55-64: Pre-Retirement', 'R9,000 - 9,999'),
 ('IBANK PAYMENT FROM', 4, '16-24: Youth', 'R 0 - 499'),
 ('FOREIGN NOTES', 4, '25-34: Young Professionals', 'R15,000 - 19,999'),
 ('TRANSFER FROM', 4, '25-34: Young Professionals', 'R63,000 - 84,999'),
 ('TRANSFER FROM', 4, '35-44: Middle-Aged Adults', 'R63,000 - 84,999'),
 ('OPENED-FROM SAV', 4, '16-24: Youth', 'R25,000 - 33,999'),
 ('TRANSFER FROM', 4, '45-54: Prime Working Years', 'R4,000 - 4,999'),
 ('TRANSFER FROM', 4, '45-54: Prime Working Years', 'R63,000 - 84,999'),
 ('TRANSFER FROM', 4, '55-64: Pre-Retirement', 'R25,000 - 33,999'),
 ('TRANSFER FROM', 4, '65+: Seniors/Elderly', 'R1,000 - 1,999'),
 ('NPF DEBIT', 4, '25-34: Young Professionals', 'R10,000 - 11,999'),
 ('NPF DEBIT', 4, '25-34: Young Professionals', 'R15,000 - 19,999'),
 ('OPENED-FROM SAV', 4, '45-54: Prime Working Years', 'R1,000 - 1,999'),
 ('OPENED-FROM SAV', 4, '35-44: Middle-Aged Adults', 'R63,000 - 84,999'),
 ('JOURNAL CREDIT', 4, '45-54: Prime Working Years', 'R10,000 - 11,999'),
 ('TRANSFER TO', 4, '45-54: Prime Working Years', 'R12,000 - 14,999'),
 ('OPENED-FROM SAV', 4, '35-44: Middle-Aged Adults', 'R500 - 999'),
 ('JOURNAL CREDIT', 4, '35-44: Middle-Aged Adults', 'R10,000 - 11,999'),
 ('JOURNAL CREDIT', 4, '35-44: Middle-Aged Adults', 'R12,000 - 14,999'),
 ('OPENED-FROM SAV', 4, '45-54: Prime Working Years', 'R34,000 - 41,999'),
 ('OPENED-FROM SAV', 4, '35-44: Middle-Aged Adults', 'R2,000 - 2,999'),
 ('JOURNAL CREDIT', 4, '25-34: Young Professionals', 'R15,000 - 19,999'),
 ('OPENED-FROM SAV', 4, '55-64: Pre-Retirement', 'R 0 - 499'),
 ('TRANSFER TO', 4, '25-34: Young Professionals', 'R7,000 - 7,999'),
 ('IMMEDIATE TRF CR', 4, '65+: Seniors/Elderly', 'R6,000 - 6,999'),
 ('TRANSFER TO', 4, '16-24: Youth', 'R15,000 - 19,999'),

### 2.3 Customers missing payments my income group

In [93]:
%%sql
SELECT 

    ROUND(SUM(t.amt)) AS total_unpaid,
    COUNT(DISTINCT c.customer_identifier) AS bad_count,
    CASE 
        WHEN c.age BETWEEN 16 AND 24 THEN '16-24: Youth'
        WHEN c.age BETWEEN 25 AND 34 THEN '25-34: Young Professionals'
        WHEN c.age BETWEEN 35 AND 44 THEN '35-44: Middle-Aged Adults'
        WHEN c.age BETWEEN 45 AND 54 THEN '45-54: Prime Working Years'
        WHEN c.age BETWEEN 55 AND 64 THEN '55-64: Pre-Retirement'
        WHEN c.age >= 65 THEN '65+: Seniors/Elderly'
        ELSE 'Under 16'
    END AS age_group
FROM transactions t
JOIN customers c ON t.customer_identifier = c.customer_identifier
WHERE t.transaction_description IN ('BAD DEBT W/OFF', 'DC UNPAID', 'NAEDO DO UNPD', 'ACB DEBIT REVERSAL', 'UNPAID DEBIT')
GROUP BY  age_group
ORDER BY age_group

 * postgresql://postgres:***@localhost:5432/customerdb
6 rows affected.

[(196986.0, 108, '16-24: Youth'),
 (677021.0, 370, '25-34: Young Professionals'),
 (597368.0, 324, '35-44: Middle-Aged Adults'),
 (276494.0, 155, '45-54: Prime Working Years'),
 (64699.0, 31, '55-64: Pre-Retirement'),
 (4166.0, 3, '65+: Seniors/Elderly')]