### Connecting to Postgresql

In [45]:

pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (2.0.36)
Requirement already satisfied: typing-extensions>=4.6.0 in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from sqlalchemy) (4.7.1)
Requirement already satisfied: greenlet!=0.4.17 in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from sqlalchemy) (0.4.15)
Requirement already satisfied: importlib-metadata in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from sqlalchemy) (6.0.0)
Requirement already satisfied: zipp>=0.5 in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from importlib-metadata->sqlalchemy) (2.2.0)
Note: you may need to restart the kernel to use updated packages.

In [46]:
pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (2.9.9)
Note: you may need to restart the kernel to use updated packages.

In [47]:
%load_ext sql
from sqlalchemy import create_engine
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [48]:
pip install ipython-sql

Requirement already satisfied: ipython-sql in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (0.5.0)
Requirement already satisfied: prettytable in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython-sql) (3.7.0)
Requirement already satisfied: ipython in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython-sql) (7.12.0)
Requirement already satisfied: sqlalchemy>=2.0 in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython-sql) (2.0.36)
Requirement already satisfied: sqlparse in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython-sql) (0.4.3)
Requirement already satisfied: six in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython-sql) (1.14.0)
Requirement already satisfied: ipython-genutils in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.7.1)
Requirement already satisfied: greenlet!=0.4.17 in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from sqlalchemy>=2.0->ipython-sql) (0.4.15)
Requirement already satisfied: importlib-metadata in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from sqlalchemy>=2.0->ipython-sql) (6.0.0)
Requirement already satisfied: setuptools>=18.5 in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython->ipython-sql) (46.0.0.post20200309)
Requirement already satisfied: jedi>=0.10 in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython->ipython-sql) (0.14.1)
Requirement already satisfied: decorator in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython->ipython-sql) (4.4.1)
Requirement already satisfied: pickleshare in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython->ipython-sql) (4.3.3)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython->ipython-sql) (3.0.3)
Requirement already satisfied: pygments in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython->ipython-sql) (2.5.2)
Requirement already satisfied: backcall in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython->ipython-sql) (0.1.0)
Requirement already satisfied: pexpect in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython->ipython-sql) (4.8.0)
Requirement already satisfied: appnope in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython->ipython-sql) (0.1.0)
Requirement already satisfied: wcwidth in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from prettytable->ipython-sql) (0.1.8)
Requirement already satisfied: parso>=0.5.0 in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from jedi>=0.10->ipython->ipython-sql) (0.5.2)
Requirement already satisfied: zipp>=0.5 in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from importlib-metadata->sqlalchemy>=2.0->ipython-sql) (2.2.0)
Requirement already satisfied: ptyprocess>=0.5 in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from pexpect->ipython->ipython-sql) (0.6.0)
Note: you may need to restart the kernel to use updated packages.

In [49]:
%sql postgresql://postgres:@localhost:5432/customerdb

### 2. Transaction Analysis

## Overview

### 2.1 How do different types of transactions and customer behaviors influence the overall transaction landscape?
### How many transactions do customers make on average, and which types are the most common?

In [62]:
%%sql
SELECT 
    COUNT(t.transaction_id) AS total_transactions,
    COUNT(DISTINCT t.customer_identifier) AS total_customers,
    ROUND(AVG(t.amt)) AS avg_transaction_amount,
    t.transaction_description
FROM 
    transactions t
GROUP BY 
    t.transaction_description
ORDER BY 
    total_transactions DESC;

 * postgresql://postgres:***@localhost:5432/customerdb

129 rows affected.

[(372205, 3016, 4.0, None),
 (176520, 2844, -293.0, 'POS PURCHASE'),
 (38907, 2832, -1054.0, 'ATM WITHDRAWAL'),
 (37079, 1600, -44.0, 'AIRTIME DEBIT'),
 (21300, 1455, -589.0, 'ACB DEBIT:EXTERNAL'),
 (20784, 1268, -1496.0, 'DIGITAL PAYMENT DT'),
 (18641, 2307, 7277.0, 'ACB CREDIT'),
 (11515, 769, 1055.0, 'IBANK TRANSFER'),
 (11453, 551, -30.0, 'LOTTO PURCHASE'),
 (9658, 870, -537.0, 'CASHSEND DIGITAL'),
 (9439, 1640, -111.0, 'MANAGEMENT FEE'),
 (8761, 1597, -136.0, 'CHARGES'),
 (8726, 990, -1580.0, 'IMDTE DIGITAL PMT'),
 (8323, 1120, -1791.0, 'DC TRACK INTERNAL'),
 (7731, 1214, 2866.0, 'IBANK PAYMENT FROM'),
 (6862, 954, -1560.0, 'DC TRACK EXTERNAL'),
 (6449, 751, -2229.0, 'DIGITAL TRANSF DT'),
 (6424, 1479, -322.0, 'DIGITAL TRAN FEES'),
 (6295, 1112, 2223.0, 'IMMEDIATE TRF CR'),
 (5734, 1175, -597.0, 'POS PUR & CASH'),
 (5403, 680, -180.0, 'PREPAID DEBIT'),
 (5373, 1116, -406.0, 'INT DEBIT ORDER TO'),
 (4624, 976, -23.0, 'REWARDS FEE'),
 (4123, 446, -228.0, 'OVERSEAS PURCHASE'),
 (3136, 356, 27.0, 'LOTTO WINNINGS'),
 (2965, 494, -975.0, 'STOP ORDER TO'),
 (2563, 867, 508.0, 'UNPAID DEBIT'),
 (2068, 609, 1528.0, 'CARDLESS CASH DEP'),
 (1810, 715, -575.0, 'POS CASH WDL'),
 (1559, 438, -726.0, 'TRI ATM WITHDRAWAL'),
 (1509, 1509, 6041.0, 'OPENED-FROM SAV'),
 (1303, 1008, 17107.0, 'TRANSFER FROM'),
 (1269, 286, 1315.0, 'DIGITAL TRANSF CR'),
 (1223, 493, 1718.0, 'CASH ACCEPTOR DEP'),
 (1214, 158, -1497.0, 'IBANK PAYMENT TO'),
 (1100, 164, -933.0, 'EXT STOP ORDER TO'),
 (1025, 192, 3586.0, 'NPF CREDIT'),
 (921, 318, 570.0, 'CAN CASHSEND IB'),
 (859, 193, -7.0, 'INTEREST'),
 (846, 275, 657.0, 'ATM TRANSFER'),
 (844, 215, -864.0, 'ACB DEBIT:INTERNAL'),
 (808, 128, -239.0, 'CASHSEND MOBILE'),
 (808, 160, -69.0, 'OD: LEDGER FEE'),
 (673, 281, 3096.0, 'DIGITAL PAYMENT CR'),
 (517, 197, 4759.0, 'CREDIT TRANSFER'),
 (496, 172, 217.0, 'ACB EXT DISP ONLNE'),
 (417, 93, -0.0, 'INTEREST ADJUST'),
 (393, 205, 634.0, 'DC UNPAID'),
 (381, 135, -784.0, 'NAEDO TRACKED DO'),
 (335, 72, -511.0, 'CASHSEND IB'),
 (313, 105, -5284.0, 'ATM PAYMENT TO'),
 (292, 196, -10626.0, 'PINP TELL CASH WDL'),
 (278, 72, -1794.0, 'INET IMMEDIATE PMT'),
 (254, 55, -803.0, 'CASHSEND ATM'),
 (236, 236, -154.0, 'OD: INITIATION FEE'),
 (233, 134, -633.0, 'DC INTERNAL'),
 (202, 99, 1122.0, 'ACB DEBIT REVERSAL'),
 (196, 110, 367.0, 'POS CARD REFUND'),
 (160, 91, -636.0, 'DC EXTERNAL'),
 (139, 57, 138.0, 'PREPAID DEBIT  COR'),
 (121, 92, -10503.0, 'TRANSFER TO'),
 (115, 26, 3645.0, 'STOP ORDER FROM'),
 (105, 94, 3315.0, 'JOURNAL CREDIT'),
 (99, 43, 211.0, 'CAN CASHSEND MB'),
 (88, 63, -909.0, 'JOURNAL DEBIT'),
 (85, 40, -128.0, 'ATM:INIT FEE'),
 (84, 35, 452.0, 'DC TRK EXT DSP ONL'),
 (84, 16, 285.0, 'CR BAL REBATE'),
 (83, 12, -1222.0, 'O/SEAS CASH WDL'),
 (80, 22, 4240.0, 'ATM PAYMENT FR'),
 (74, 44, -2162.0, 'NAEDO TRACK INTL'),
 (73, 73, -61.0, 'MANAGEMNT FEE CLSE'),
 (68, 56, 3972.0, 'CASH DEP BRANCH'),
 (55, 16, 1751.0, 'INVESTMNT INTEREST'),
 (47, 47, -138.0, 'CHARGES - CLOSURE'),
 (43, 34, 144.0, 'DO INT DISP ONLNE'),
 (38, 29, -7689.0, 'CASH WITHDRAWAL'),
 (37, 5, -587.0, 'AEDO TRACKED DO'),
 (36, 28, 823.0, 'POS O/SEA REFUND'),
 (30, 11, 266.0, 'POS FRAUD RED FIID'),
 (29, 11, -759.0, 'NPF DEBIT'),
 (28, 28, 1162.0, 'BAD DEBT W/OFF'),
 (27, 20, 345.0, 'DC TRK INT DSP ONL'),
 (26, 23, 9340.0, 'INVESTMENT CAPITAL'),
 (25, 17, 744.0, 'CAN CASHSEND ATM'),
 (22, 14, 1111.0, 'DC TRACK EXT DISP'),
 (20, 8, -279.0, 'CASHSEND MB'),
 (17, 12, 413.0, 'NAEDO DO UNPD'),
 (17, 12, -413.0, 'NAEDO DEBIT ORDER'),
 (15, 14, -1286.0, 'TRANSFER TO CLOSE'),
 (15, 8, -1473.0, 'MOBILE PAYMENT DT'),
 (14, 8, 299.0, 'NAEDO TRAC DSP ONL'),
 (14, 4, -1821.0, 'MOBILE TRANSFER DT'),
 (14, 14, -1889.0, 'CLOSED-TO SAV'),
 (13, 2, -336.0, 'SCAN TRANSFER TO'),
 (12, 8, 194.0, 'PREPAID DEBITÂ\xa0 COR'),
 (11, 11, 417.0, 'CLOSE CASH DEP'),
 (11, 5, 2588.0, 'ACT PAYMENT FROM'),
 (9, 3, 1584.0, 'OCT OCARD CREDIT'),
 (8, 7, 965.0, 'NAEDO TRCK DO DISP'),
 (7, 4, 151.0, 'DO EXT DISP ONLNE'),
 (6, 5, 49.0, 'AIRTIME DEBIT COR'),
 (5, 5, -419.0, 'CLOSE C/WITHDRAWAL'),
 (5, 3, 6616.0, 'FOREIGN NOTES'),
 (5, 4, 2211.0, 'DC TRACK INT DISP'),
 (4, 4, -9171.0, 'WESTERN UNION(CBO)'),
 (4, 4, 2172.0, 'ACB INT DISP BRNCH'),
 (4, 4, 1987.0, 'WESTERN UNION(CBI)'),
 (4, 1, 48.0, 'TEL CR TRANSFER'),
 (4, 4, 292.0, 'ACB INT DISP ONLNE'),
 (3, 3, -7600.0, 'PINP CLNT CASH WDL'),
 (3, 2, -420.0, 'SSD OTHER CHIP WDL'),
 (2, 2, 65.0, 'MOBILE TRANSFER CR'),
 (2, 2, 1425.0, 'CARDLESS NOTE DEP'),
 (2, 1, 5547.0, 'TRAVEL FOREX(PFC)'),
 (2, 2, -17950.0, 'TRAVEL FOREX(TFC)'),
 (2, 2, -133.0, 'DIGITAL VOUCHERS'),
 (2, 2, -6.0, 'INTEREST TO CLOSE'),
 (2, 2, 525.0, 'NOTE DEPOSIT'),
 (1, 1, -99.0, 'AIRTIME DBT ATMS'),
 (1, 1, 1265.0, 'POS REFUND PUR'),
 (1, 1, 2000.0, 'MOBILE PAYMENT CR'),
 (1, 1, 4400.0, 'JOURNAL CR C/OPS'),
 (1, 1, 1356.0, 'BILLS NEGOTIATED'),
 (1, 1, 1200.0, 'TELEP PAYMENT CT'),
 (1, 1, -50.0, 'TRANSFER COR FROM'),
 (1, 1, 7326.0, 'EXTERNAL CREDIT'),
 (1, 1, 190.0, 'DO EXT DISP BRANCH'),
 (1, 1, 50.0, 'TRF TO CLOSE COR')]

### 2.1.1 What is the breakdown of transaction volume across different transaction channels?

In [68]:
%%sql
SELECT 
    t.channel,
    COUNT(t.transaction_id) AS total_transactions,
    ROUND(AVG(t.amt)) AS avg_transaction_amount
FROM 
    transactions t
GROUP BY 
    t.channel
ORDER BY 
    total_transactions DESC;

 * postgresql://postgres:***@localhost:5432/customerdb
4 rows affected.

[('system', 509581, 147.0),
 ('atm', 197261, -491.0),
 ('internet', 119238, -244.0),
 ('teller', 21464, 2874.0)]

### 2.1.2 How do transaction volumes vary across different income groups?

In [70]:
%%sql

SELECT 
    i.income_group_desc AS income_group,
    COUNT(t.transaction_id) AS total_transactions,
    ROUND(AVG(t.amt)) AS avg_transaction_amount
FROM 
    transactions t
JOIN 
    customers c ON t.customer_identifier = c.customer_identifier
JOIN 
    income_group i ON c.income_group_code = i.income_group_code
GROUP BY 
    i.income_group_desc
ORDER BY 
    total_transactions DESC;

 * postgresql://postgres:***@localhost:5432/customerdb
22 rows affected.

[('R15,000 - 19,999', 131996, 6.0),
 ('R20,000 - 24,999', 105093, 9.0),
 ('R25,000 - 33,999', 90633, 10.0),
 ('R12,000 - 14,999', 84208, 6.0),
 ('R10,000 - 11,999', 69661, 16.0),
 ('R7,000 - 7,999', 47822, 19.0),
 ('R8,000 - 8,999', 47663, 24.0),
 ('R34,000 - 41,999', 42675, 0.0),
 ('R6,000 - 6,999', 41316, 18.0),
 ('R5,000 - 5,999', 40719, 22.0),
 ('R4,000 - 4,999', 38242, 20.0),
 ('R9,000 - 9,999', 31597, 17.0),
 ('R42,000 - 62,999', 23648, 5.0),
 ('R 0 - 499', 14994, 3.0),
 ('R3,000 - 3,999', 13395, 21.0),
 ('R1,000 - 1,999', 8319, 15.0),
 ('R63,000 - 84,999', 6101, 15.0),
 ('R2,000 - 2,999', 5889, 46.0),
 ('R500 - 999', 2496, 49.0),
 ('R85,000 - 124,999', 824, 79.0),
 ('NOT SUPPLIED', 136, -29.0),
 ('R125,000+', 117, 171.0)]

### 2.1.3 How do different income groups use product codes?

In [74]:
%%sql
SELECT 
    i.income_group_desc AS income_group,
    t.product_code,
    COUNT(t.transaction_id) AS total_transactions,
    ROUND(AVG(t.amt)) AS avg_transaction_amount
FROM 
    transactions t
JOIN 
    customers c ON t.customer_identifier = c.customer_identifier
JOIN 
    income_group i ON c.income_group_code = i.income_group_code
GROUP BY 
    i.income_group_desc, t.product_code
ORDER BY 
    total_transactions DESC;

 * postgresql://postgres:***@localhost:5432/customerdb
43 rows affected.

[('R15,000 - 19,999', 'CHEQ', 89797, 7.0),
 ('R20,000 - 24,999', 'CHEQ', 73552, 12.0),
 ('R25,000 - 33,999', 'CHEQ', 67685, 11.0),
 ('R12,000 - 14,999', 'CHEQ', 49197, 10.0),
 ('R15,000 - 19,999', 'SAVE', 42199, 5.0),
 ('R10,000 - 11,999', 'SAVE', 36185, 13.0),
 ('R12,000 - 14,999', 'SAVE', 35011, -0.0),
 ('R10,000 - 11,999', 'CHEQ', 33476, 20.0),
 ('R34,000 - 41,999', 'CHEQ', 32272, -0.0),
 ('R20,000 - 24,999', 'SAVE', 31541, 3.0),
 ('R4,000 - 4,999', 'SAVE', 31107, -1.0),
 ('R7,000 - 7,999', 'SAVE', 27905, 5.0),
 ('R6,000 - 6,999', 'SAVE', 27844, 4.0),
 ('R5,000 - 5,999', 'SAVE', 27635, 9.0),
 ('R8,000 - 8,999', 'SAVE', 25441, 16.0),
 ('R25,000 - 33,999', 'SAVE', 22948, 9.0),
 ('R8,000 - 8,999', 'CHEQ', 22222, 33.0),
 ('R7,000 - 7,999', 'CHEQ', 19917, 39.0),
 ('R42,000 - 62,999', 'CHEQ', 19027, 9.0),
 ('R9,000 - 9,999', 'SAVE', 15983, 8.0),
 ('R9,000 - 9,999', 'CHEQ', 15614, 26.0),
 ('R6,000 - 6,999', 'CHEQ', 13472, 47.0),
 ('R5,000 - 5,999', 'CHEQ', 13084, 49.0),
 ('R3,000 - 3,999', 'SAVE', 11251, -5.0),
 ('R34,000 - 41,999', 'SAVE', 10403, 2.0),
 ('R 0 - 499', 'CHEQ', 9984, 13.0),
 ('R1,000 - 1,999', 'SAVE', 7484, -40.0),
 ('R4,000 - 4,999', 'CHEQ', 7135, 112.0),
 ('R 0 - 499', 'SAVE', 5010, -17.0),
 ('R42,000 - 62,999', 'SAVE', 4621, -12.0),
 ('R2,000 - 2,999', 'SAVE', 4329, -33.0),
 ('R63,000 - 84,999', 'CHEQ', 3303, 31.0),
 ('R63,000 - 84,999', 'SAVE', 2798, -4.0),
 ('R3,000 - 3,999', 'CHEQ', 2144, 156.0),
 ('R500 - 999', 'SAVE', 2030, -8.0),
 ('R2,000 - 2,999', 'CHEQ', 1560, 267.0),
 ('R1,000 - 1,999', 'CHEQ', 835, 501.0),
 ('R85,000 - 124,999', 'CHEQ', 595, 81.0),
 ('R500 - 999', 'CHEQ', 466, 295.0),
 ('R85,000 - 124,999', 'SAVE', 229, 74.0),
 ('NOT SUPPLIED', 'SAVE', 136, -29.0),
 ('R125,000+', 'SAVE', 115, 41.0),
 ('R125,000+', 'CHEQ', 2, 7650.0)]

### 2.3.1 Which transaction descriptions dominate system based channel and how much revenue/expense do they generate?

In [51]:
%%sql

SELECT
    transaction_description,
    channel,
    COUNT(*) AS Transaction_Count,
    ROUND(SUM(amt)) AS Total_Amount,
    ROUND(AVG(amt)) AS Avg_Amount
FROM transactions
WHERE transaction_description IS NOT NULL AND channel = 'system'
GROUP BY transaction_description, channel
ORDER BY transaction_count

 * postgresql://postgres:***@localhost:5432/customerdb
58 rows affected.

[('POS REFUND PUR', 'system', 1, 1265.0, 1265.0),
 ('DO EXT DISP BRANCH', 'system', 1, 190.0, 190.0),
 ('EXTERNAL CREDIT', 'system', 1, 7326.0, 7326.0),
 ('INTEREST TO CLOSE', 'system', 2, -12.0, -6.0),
 ('ACB INT DISP ONLNE', 'system', 4, 1168.0, 292.0),
 ('ACB INT DISP BRNCH', 'system', 4, 8689.0, 2172.0),
 ('DO EXT DISP ONLNE', 'system', 7, 1059.0, 151.0),
 ('NAEDO TRCK DO DISP', 'system', 8, 7720.0, 965.0),
 ('OCT OCARD CREDIT', 'system', 9, 14260.0, 1584.0),
 ('ACT PAYMENT FROM', 'system', 11, 28465.0, 2588.0),
 ('NAEDO TRAC DSP ONL', 'system', 14, 4186.0, 299.0),
 ('NAEDO DEBIT ORDER', 'system', 17, -7028.0, -413.0),
 ('NAEDO DO UNPD', 'system', 17, 7028.0, 413.0),
 ('ATM PAYMENT TO', 'system', 19, -16132.0, -849.0),
 ('INVESTMENT CAPITAL', 'system', 26, 242852.0, 9340.0),
 ('POS FRAUD RED FIID', 'system', 30, 7993.0, 266.0),
 ('POS O/SEA REFUND', 'system', 36, 29627.0, 823.0),
 ('AEDO TRACKED DO', 'system', 37, -21705.0, -587.0),
 ('DO INT DISP ONLNE', 'system', 43, 6181.0, 144.0),
 ('CHARGES - CLOSURE', 'system', 47, -6478.0, -138.0),
 ('INVESTMNT INTEREST', 'system', 55, 96313.0, 1751.0),
 ('MANAGEMNT FEE CLSE', 'system', 73, -4484.0, -61.0),
 ('NAEDO TRACK INTL', 'system', 74, -159961.0, -2162.0),
 ('O/SEAS CASH WDL', 'system', 83, -101438.0, -1222.0),
 ('CR BAL REBATE', 'system', 84, 23925.0, 285.0),
 ('ATM:INIT FEE', 'system', 85, -10872.0, -128.0),
 ('STOP ORDER FROM', 'system', 115, 419148.0, 3645.0),
 ('DC EXTERNAL', 'system', 160, -101699.0, -636.0),
 ('POS CARD REFUND', 'system', 196, 71885.0, 367.0),
 ('ACB DEBIT REVERSAL', 'system', 202, 226559.0, 1122.0),
 ('DC INTERNAL', 'system', 233, -147592.0, -633.0),
 ('OD: INITIATION FEE', 'system', 236, -36287.0, -154.0),
 ('NAEDO TRACKED DO', 'system', 381, -298617.0, -784.0),
 ('DC UNPAID', 'system', 393, 249291.0, 634.0),
 ('INTEREST ADJUST', 'system', 417, -17.0, -0.0),
 ('ACB EXT DISP ONLNE', 'system', 496, 107462.0, 217.0),
 ('CREDIT TRANSFER', 'system', 517, 2460239.0, 4759.0),
 ('OD: LEDGER FEE', 'system', 808, -55752.0, -69.0),
 ('ACB DEBIT:INTERNAL', 'system', 844, -729435.0, -864.0),
 ('INTEREST', 'system', 859, -6090.0, -7.0),
 ('EXT STOP ORDER TO', 'system', 1100, -1026017.0, -933.0),
 ('IBANK PAYMENT FROM', 'system', 1391, 82044.0, 59.0),
 ('POS CASH WDL', 'system', 1810, -1041325.0, -575.0),
 ('UNPAID DEBIT', 'system', 2476, 1260555.0, 509.0),
 ('STOP ORDER TO', 'system', 2965, -2890200.0, -975.0),
 ('LOTTO WINNINGS', 'system', 3136, 83286.0, 27.0),
 ('OVERSEAS PURCHASE', 'system', 4123, -941674.0, -228.0),
 ('REWARDS FEE', 'system', 4624, -107277.0, -23.0),
 ('INT DEBIT ORDER TO', 'system', 5373, -2183097.0, -406.0),
 ('POS PUR & CASH', 'system', 5734, -3423819.0, -597.0),
 ('DIGITAL TRAN FEES', 'system', 5749, -383246.0, -67.0),
 ('DC TRACK EXTERNAL', 'system', 6862, -10706508.0, -1560.0),
 ('DC TRACK INTERNAL', 'system', 8323, -14907129.0, -1791.0),
 ('CHARGES', 'system', 8761, -1194446.0, -136.0),
 ('MANAGEMENT FEE', 'system', 9439, -1049012.0, -111.0),
 ('ACB CREDIT', 'system', 18641, 135659407.0, 7277.0),
 ('ACB DEBIT:EXTERNAL', 'system', 21300, -12543375.0, -589.0),
 ('POS PURCHASE', 'system', 176520, -51798485.0, -293.0)]

### 2.3.2 Which transaction descriptions dominate internet based channel and how much revenue/expense do they generate?

In [52]:
%%sql

SELECT
    transaction_description,
    channel,
    COUNT(*) AS Transaction_Count,
    ROUND(SUM(amt)) AS Total_Amount,
    ROUND(AVG(amt)) AS Avg_Amount
FROM transactions
WHERE transaction_description IS NOT NULL AND channel = 'internet'
GROUP BY transaction_description, channel
ORDER BY transaction_count

 * postgresql://postgres:***@localhost:5432/customerdb
29 rows affected.

[('TELEP PAYMENT CT', 'internet', 1, 1200.0, 1200.0),
 ('MOBILE PAYMENT CR', 'internet', 1, 2000.0, 2000.0),
 ('MOBILE TRANSFER CR', 'internet', 2, 130.0, 65.0),
 ('DIGITAL VOUCHERS', 'internet', 2, -266.0, -133.0),
 ('TEL CR TRANSFER', 'internet', 4, 194.0, 48.0),
 ('DC TRACK INT DISP', 'internet', 5, 11054.0, 2211.0),
 ('ATM WITHDRAWAL', 'internet', 13, -26700.0, -2054.0),
 ('MOBILE TRANSFER DT', 'internet', 14, -25497.0, -1821.0),
 ('MOBILE PAYMENT DT', 'internet', 15, -22100.0, -1473.0),
 ('CASHSEND MB', 'internet', 20, -5580.0, -279.0),
 ('DC TRACK EXT DISP', 'internet', 22, 24446.0, 1111.0),
 ('DC TRK INT DSP ONL', 'internet', 27, 9312.0, 345.0),
 ('DC TRK EXT DSP ONL', 'internet', 84, 37946.0, 452.0),
 ('CAN CASHSEND MB', 'internet', 99, 20880.0, 211.0),
 ('INET IMMEDIATE PMT', 'internet', 278, -498745.0, -1794.0),
 ('NPF CREDIT', 'internet', 323, 516119.0, 1598.0),
 ('CASHSEND IB', 'internet', 335, -171080.0, -511.0),
 ('DIGITAL TRAN FEES', 'internet', 672, -1683500.0, -2505.0),
 ('DIGITAL PAYMENT CR', 'internet', 673, 2083849.0, 3096.0),
 ('CASHSEND MOBILE', 'internet', 808, -192880.0, -239.0),
 ('CAN CASHSEND IB', 'internet', 921, 524760.0, 570.0),
 ('IBANK PAYMENT TO', 'internet', 1211, -1816854.0, -1500.0),
 ('DIGITAL TRANSF CR', 'internet', 1269, 1668468.0, 1315.0),
 ('IBANK PAYMENT FROM', 'internet', 6067, 21706708.0, 3578.0),
 ('DIGITAL TRANSF DT', 'internet', 6422, -14319325.0, -2230.0),
 ('IMDTE DIGITAL PMT', 'internet', 8726, -13788216.0, -1580.0),
 ('CASHSEND DIGITAL', 'internet', 9658, -5181980.0, -537.0),
 ('IBANK TRANSFER', 'internet', 11513, 12146242.0, 1055.0),
 ('DIGITAL PAYMENT DT', 'internet', 20784, -31090530.0, -1496.0)]

### 2.3.3 Which transaction descriptions dominate teller based channel and how much revenue/expense do they generate?

In [53]:
%%sql

SELECT
    transaction_description,
    channel,
    COUNT(*) AS Transaction_Count,
    ROUND(SUM(amt)) AS Total_Amount,
    ROUND(AVG(amt)) AS Avg_Amount
FROM transactions
WHERE transaction_description IS NOT NULL AND channel = 'teller'
GROUP BY transaction_description, channel
ORDER BY transaction_count

 * postgresql://postgres:***@localhost:5432/customerdb
32 rows affected.

[('JOURNAL CR C/OPS', 'teller', 1, 4400.0, 4400.0),
 ('TRF TO CLOSE COR', 'teller', 1, 50.0, 50.0),
 ('TRANSFER COR FROM', 'teller', 1, -50.0, -50.0),
 ('BILLS NEGOTIATED', 'teller', 1, 1356.0, 1356.0),
 ('TRAVEL FOREX(PFC)', 'teller', 2, 11094.0, 5547.0),
 ('TRAVEL FOREX(TFC)', 'teller', 2, -35901.0, -17950.0),
 ('IBANK TRANSFER', 'teller', 2, -150.0, -75.0),
 ('PINP CLNT CASH WDL', 'teller', 3, -22800.0, -7600.0),
 ('DIGITAL TRAN FEES', 'teller', 3, -200.0, -67.0),
 ('IBANK PAYMENT TO', 'teller', 3, -540.0, -180.0),
 ('WESTERN UNION(CBI)', 'teller', 4, 7947.0, 1987.0),
 ('WESTERN UNION(CBO)', 'teller', 4, -36684.0, -9171.0),
 ('FOREIGN NOTES', 'teller', 5, 33080.0, 6616.0),
 ('CLOSE C/WITHDRAWAL', 'teller', 5, -2096.0, -419.0),
 ('CLOSE CASH DEP', 'teller', 11, 4589.0, 417.0),
 ('CLOSED-TO SAV', 'teller', 14, -26440.0, -1889.0),
 ('TRANSFER TO CLOSE', 'teller', 15, -19292.0, -1286.0),
 ('DIGITAL TRANSF DT', 'teller', 27, -55810.0, -2067.0),
 ('BAD DEBT W/OFF', 'teller', 28, 32522.0, 1162.0),
 ('NPF DEBIT', 'teller', 29, -22018.0, -759.0),
 ('CASH WITHDRAWAL', 'teller', 38, -292200.0, -7689.0),
 ('CASH DEP BRANCH', 'teller', 68, 270073.0, 3972.0),
 ('UNPAID DEBIT', 'teller', 87, 40779.0, 469.0),
 ('JOURNAL DEBIT', 'teller', 88, -80010.0, -909.0),
 ('JOURNAL CREDIT', 'teller', 105, 348039.0, 3315.0),
 ('TRANSFER TO', 'teller', 121, -1270859.0, -10503.0),
 ('IBANK PAYMENT FROM', 'teller', 273, 369005.0, 1352.0),
 ('PINP TELL CASH WDL', 'teller', 292, -3102747.0, -10626.0),
 ('NPF CREDIT', 'teller', 702, 3159129.0, 4500.0),
 ('TRANSFER FROM', 'teller', 1303, 22289971.0, 17107.0),
 ('OPENED-FROM SAV', 'teller', 1509, 9116482.0, 6041.0),
 ('IMMEDIATE TRF CR', 'teller', 6295, 13994160.0, 2223.0)]

### 2.3.4 Which transaction descriptions dominate atm based channel and how much revenue/expense do they generate?

In [54]:
%%sql

SELECT
    transaction_description,
    channel,
    COUNT(*) AS Transaction_Count,
    ROUND(SUM(amt)) AS Total_Amount,
    ROUND(AVG(amt)) AS Avg_Amount
FROM transactions
WHERE transaction_description IS NOT NULL AND channel = 'atm'
GROUP BY transaction_description, channel
ORDER BY transaction_count

 * postgresql://postgres:***@localhost:5432/customerdb
20 rows affected.

[('AIRTIME DBT ATMS', 'atm', 1, -99.0, -99.0),
 ('NOTE DEPOSIT', 'atm', 2, 1050.0, 525.0),
 ('CARDLESS NOTE DEP', 'atm', 2, 2850.0, 1425.0),
 ('SSD OTHER CHIP WDL', 'atm', 3, -1260.0, -420.0),
 ('AIRTIME DEBIT COR', 'atm', 6, 294.0, 49.0),
 ('PREPAID DEBITÂ\xa0 COR', 'atm', 12, 2330.0, 194.0),
 ('SCAN TRANSFER TO', 'atm', 13, -4370.0, -336.0),
 ('CAN CASHSEND ATM', 'atm', 25, 18600.0, 744.0),
 ('ATM PAYMENT FR', 'atm', 80, 339228.0, 4240.0),
 ('PREPAID DEBIT  COR', 'atm', 139, 19154.0, 138.0),
 ('CASHSEND ATM', 'atm', 254, -204060.0, -803.0),
 ('ATM PAYMENT TO', 'atm', 294, -1637741.0, -5571.0),
 ('ATM TRANSFER', 'atm', 846, 555972.0, 657.0),
 ('CASH ACCEPTOR DEP', 'atm', 1223, 2101470.0, 1718.0),
 ('TRI ATM WITHDRAWAL', 'atm', 1559, -1132500.0, -726.0),
 ('CARDLESS CASH DEP', 'atm', 2068, 3159090.0, 1528.0),
 ('PREPAID DEBIT', 'atm', 5403, -969854.0, -180.0),
 ('LOTTO PURCHASE', 'atm', 11453, -345945.0, -30.0),
 ('AIRTIME DEBIT', 'atm', 37079, -1614134.0, -44.0),
 ('ATM WITHDRAWAL', 'atm', 38894, -40978465.0, -1054.0)]

### 2.4 What proportion of teller-based transactions could have been conducted on digital platforms, and how can the bank encourage customers to transition to these more efficient channels?

In [57]:
%%sql

SELECT
    t.transaction_description,
    COUNT(*) AS transaction_count,
    CASE 
        WHEN c.age BETWEEN 16 AND 24 THEN '16-24: Youth'
        WHEN c.age BETWEEN 25 AND 34 THEN '25-34: Young Professionals'
        WHEN c.age BETWEEN 35 AND 44 THEN '35-44: Middle-Aged Adults'
        WHEN c.age BETWEEN 45 AND 54 THEN '45-54: Prime Working Years'
        WHEN c.age BETWEEN 55 AND 64 THEN '55-64: Pre-Retirement'
        WHEN c.age >= 65 THEN '65+: Seniors/Elderly'
        ELSE 'Under 16'
    END AS age_group,
    i.income_group_desc
FROM transactions t
JOIN customers c ON t.customer_identifier = c.customer_identifier
JOIN income_group i ON c.income_group_code = i.income_group_code
WHERE t.channel = 'teller'
  AND t.transaction_description IN (
      'BAD DEBT W/OFF',
      'CLOSE C/WITHDRAWAL',
      'CLOSE CASH DEP',
      'CLOSED-TO SAV',
      'DIGITAL TRAN FEES',
      'DIGITAL TRANSF DT',
      'FOREIGN NOTES',
      'IBANK PAYMENT FROM',
      'IBANK PAYMENT TO',
      'IBANK TRANSFER',
      'IMMEDIATE TRF CR',
      'JOURNAL CR C/OPS',
      'JOURNAL CREDIT',
      'JOURNAL DEBIT',
      'NPF CREDIT',
      'NPF DEBIT',
      'OPENED-FROM SAV',
      'TRANSFER COR FROM',
      'TRANSFER FROM',
      'TRANSFER TO',
      'TRANSFER TO CLOSE',
      'TRAVEL FOREX(PFC)',
      'TRAVEL FOREX(TFC)',
      'TRF TO CLOSE COR',
      'UNPAID DEBIT',
      'WESTERN UNION(CBI)',
      'WESTERN UNION(CBO)'
  )
GROUP BY t.transaction_description, age_group, i.income_group_desc
ORDER BY transaction_count DESC
Limit 10;

 * postgresql://postgres:***@localhost:5432/customerdb

10 rows affected.

[('IMMEDIATE TRF CR', 764, '25-34: Young Professionals', 'R15,000 - 19,999'),
 ('IMMEDIATE TRF CR', 537, '25-34: Young Professionals', 'R20,000 - 24,999'),
 ('IMMEDIATE TRF CR', 394, '25-34: Young Professionals', 'R25,000 - 33,999'),
 ('IMMEDIATE TRF CR', 320, '16-24: Youth', 'R15,000 - 19,999'),
 ('IMMEDIATE TRF CR', 275, '25-34: Young Professionals', 'R10,000 - 11,999'),
 ('IMMEDIATE TRF CR', 273, '25-34: Young Professionals', 'R34,000 - 41,999'),
 ('IMMEDIATE TRF CR', 197, '35-44: Middle-Aged Adults', 'R12,000 - 14,999'),
 ('IMMEDIATE TRF CR', 191, '35-44: Middle-Aged Adults', 'R25,000 - 33,999'),
 ('IMMEDIATE TRF CR', 184, '35-44: Middle-Aged Adults', 'R15,000 - 19,999'),
 ('IMMEDIATE TRF CR', 177, '25-34: Young Professionals', 'R12,000 - 14,999')]

### 2.5 Customers missing payments my income group

In [56]:
%%sql
SELECT 

    ROUND(SUM(t.amt)) AS total_unpaid,
    COUNT(DISTINCT c.customer_identifier) AS bad_count,
    CASE 
        WHEN c.age BETWEEN 16 AND 24 THEN '16-24: Youth'
        WHEN c.age BETWEEN 25 AND 34 THEN '25-34: Young Professionals'
        WHEN c.age BETWEEN 35 AND 44 THEN '35-44: Middle-Aged Adults'
        WHEN c.age BETWEEN 45 AND 54 THEN '45-54: Prime Working Years'
        WHEN c.age BETWEEN 55 AND 64 THEN '55-64: Pre-Retirement'
        WHEN c.age >= 65 THEN '65+: Seniors/Elderly'
        ELSE 'Under 16'
    END AS age_group
FROM transactions t
JOIN customers c ON t.customer_identifier = c.customer_identifier
WHERE t.transaction_description IN ('BAD DEBT W/OFF', 'DC UNPAID', 'NAEDO DO UNPD', 'ACB DEBIT REVERSAL', 'UNPAID DEBIT')
GROUP BY  age_group
ORDER BY age_group

 * postgresql://postgres:***@localhost:5432/customerdb

6 rows affected.

[(196986.0, 108, '16-24: Youth'),
 (677021.0, 370, '25-34: Young Professionals'),
 (597368.0, 324, '35-44: Middle-Aged Adults'),
 (276494.0, 155, '45-54: Prime Working Years'),
 (64699.0, 31, '55-64: Pre-Retirement'),
 (4166.0, 3, '65+: Seniors/Elderly')]